body {
  background-color: #f1f1f1;
}
.form-horizontal .control-label {
  text-align: left;
}
.table tbody tr td {
  background-color: #f6f7f8;
}
.table tbody tr td.name {
  background-color: #fff;
  width: 320px;
}
.glyphlink .glyphicon {
  color: #5cb85c;
  margin-right: 5px;
}
#js-photo-map-wrapper {
  display: none;
}
.banner-block {
  display: table-row;
}
.banner-block img {
  height: 92px;
}
.banner-block_logo {
  display: table-cell;
  width: 70%;
}
.banner-block_client {
  display: table-cell;
  width: 30%;
}
.bottom-block {
  display: none;
}
.incomingtask-modal {
  display: none;
  width: 500px;
}
.incomingtask-modal-add-form {
  width: 480px;
}
.incomingtask-modal-update-form {
  width: 480px;
}
.client-modal-add-text {
  display: none;
}
.client-modal-add-form {
  width: 480px;
  display: none;
}
#incomingclient-contact {
  width: 500px;
  height: auto;
  max-height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.btn-right {
  float: right;
}
