body {
  overflow-y: scroll;
}
.calc {
  width: 600px;
  margin: 40px auto;
}
@media only screen and (max-width: 767px) {
  .calc {
    width: 90%;
    margin: 20px auto;
  }
}
.notification-line {
  height: 38px;
  line-height: 38px;
  font-size: 20px;
  text-align: center;
  background: #FFFFCC;
}
@media only screen and (max-width: 767px) {
  .notification-line {
    font-size: 14px;
  }
}
@media only screen and (max-width: 360px) {
  .notification-line {
    font-size: 12px;
  }
}
@media only screen and (max-width: 360px) {
  .row {
    margin-left: 0;
    margin-right: 0;
  }
}
.add-row,
.delete-row {
  color: #333;
  font-size: 12px;
}
.add-row {
  display: block;
  text-align: right;
  margin-bottom: 20px;
}
.add-row span {
  color: #009900;
}
.delete-row {
  position: absolute;
  top: 8px;
  right: 0;
}
.delete-row span {
  color: #cc0000;
}
.sale-task-link-active {
  font-weight: bold;
}
.js-toggle-heading {
  cursor: pointer;
}
.js-toggle-body {
  display: none;
}
.nav-mobile li {
  display: inline-block;
}
.nav-mobile li a {
  color: #777;
}
.nav-mobile li:last-child {
  text-align: right;
  float: right;
}
.glyphlink .glyphicon {
  color: #5cb85c;
  margin-right: 5px;
}
#js-photo-map-wrapper {
  display: none;
}
.banner-block {
  display: table-row;
}
.banner-block img {
  height: 92px;
}
.banner-block_logo {
  display: table-cell;
  width: 70%;
}
.banner-block_client {
  display: table-cell;
  width: 30%;
}
.bottom-block {
  display: none;
}
.task-modal {
  display: none;
  width: 500px;
}
@media only screen and (max-width: 767px) {
  .task-modal {
    width: 300px;
  }
}
.task-modal-add-form {
  width: 480px;
}
@media only screen and (max-width: 767px) {
  .task-modal-add-form {
    width: 280px;
  }
}
.task-modal-update-form {
  width: 480px;
}
@media only screen and (max-width: 767px) {
  .task-modal-update-form {
    width: 280px;
  }
}
.sale-modal-add-text {
  display: none;
}
.sale-modal-add-form {
  width: 480px;
  display: none;
}
@media only screen and (max-width: 767px) {
  .sale-modal-add-form {
    width: 280px;
  }
}
#client-contact {
  width: 500px;
  height: auto;
  max-height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.photo-delete-block {
  display: none;
  position: absolute;
  background: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0 0 10px #999;
  -moz-box-shadow: 0 0 10px #999;
  box-shadow: 0 0 10px #999;
  top: 0;
  height: 100%;
  text-align: center;
  padding-top: 40px;
}
#photo_list .js-gallery img {
  width: 100px;
  height: 100px;
}
#photo_list .glyphicon-camera {
  font-size: 50px;
}
.photo_image {
  display: block;
  text-align: center;
}
.sale-photo-item {
  margin-bottom: 20px;
}
.sale-photo-item span {
  display: block;
  height: 50px;
  padding: 0 10px;
}
.gpspoint-photo-container {
  overflow: hidden;
  overflow-x: scroll;
  white-space: nowrap;
}
.gpspoint-photo-container .js-gallery {
  display: inline-block;
  vertical-align: top;
}
