body {
  //background-color: #0577ad;
  overflow-y: scroll;
}
//.panel {
//  &-default {
//    border: none;
//  }
//}
//.breadcrumb {
//  a {
//    color: #eee;
//  }
//}
.add-row, .delete-row {
  color: #333;
  font-size: 12px;
}
.add-row {
  display: block;
  text-align: right;
  margin-bottom: 20px;
  span {
    color: #009900;
  }
}
.delete-row {
  position: absolute;
  top: 8px;
  right: 0;
  span {
    color: #cc0000;
  }
}
.header {
  background-color: #fff;
  margin-bottom: 40px;
  box-shadow: 0 0 15px #333;
  &-top {
    height: 50px;
    line-height: 50px;
    background-color: #000;
    &__text {
      color: #fff;
      margin-bottom: 0;
      span {
        color: #6c6c6c;
        &.glyphicon {
          color: #fff;
        }
      }
    }
    a {
      padding-left: 30px;
      &:hover {
        color: #6c6c6c;
        span {
          color: #6c6c6c;
        }
      }
    }
  }
  &-bottom {
    padding: 25px 0;
    &-review {
      &__btn {
        margin-top: 10px;
      }
    }
  }
  &-logo {
    display: block;
    &:hover {
      text-decoration: none;
      opacity: .8;
    }
    &__text, &__slogan {
      margin-bottom: 0;
    }
    &__text {
      font-size: 24px;
      color: #e35f13;
      @media only screen and (max-width: 991px) {
        font-size: 14px;
      }
    }
    &__slogan {
      color: #000;
    }
  }
}


.sale {
  &-task {
    &-link {
      &-active {
        font-weight: bold;
      }
    }
  }
}
.js {
  &-toggle {
    &-heading {
      cursor: pointer;
    }
    &-body {
      display: none;
    }
  }
}


.form {
  &-horizontal {
    .control {
      &-label {
        text-align: left;
      }
    }
  }
}
.nav {
  &-mobile {
    li {
      display: inline-block;
      a {
        color: #777;
      }
      &:last-child {
        text-align: right;
        float: right;
      }
    }
  }
}

.table {
  tbody {
    tr {
      td {
        background-color: #f6f7f8;
        &.name {
          background-color: #fff;
          width: 320px;
        }
      }
    }
  }
}
.glyphlink {
  .glyphicon {
    color: #5cb85c;
    margin-right: 5px;
  }
}
#js {
  &-photo {
    &-map {
      &-wrapper {
        display: none;
      }
    }
  }
}

.banner {
  &-block {
    display: table-row;
    img {
      height: 92px;
    }
    &_logo {
      display: table-cell;
      width: 70%;
    }
    &_client {
      display: table-cell;
      width: 30%;
    }
  }
}

.bottom {
  &-block {
    display: none;
  }
}
.task {
  &-modal {
    display: none;
    width: 500px;
    &-add {
      &-form {
        width: 480px;
      }
    }
    &-update {
      &-form {
        width: 480px;
      }
    }
  }
}
.sale {
  &-modal {
    &-add {
      &-text {
        display: none;
      }
      &-form {
        width: 480px;
        display: none;
      }
    }
  }
}
#client {
  &-contact {
    width: 500px;
    height: auto;
    max-height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}
.btn {
  &-right {
    float: right;
  }
}
#photo_list {
  .glyphicon {
    &-camera {
      font-size: 50px;
    }
  }
}
.photo_image {
  display: block;
  text-align: center;
}
.sale {
  &-photo {
    &-item {
      margin-bottom: 20px;
      span {
        display: block;
        height: 50px;
        padding: 0 10px;
      }
    }
  }
}
