.dashboard-panel__title {
  font-size: 36px;
  margin-top: 50px;
  margin-bottom: 60px;
}
.dashboard-panel__title_conf {
  color: #6a9098;
}
@media only screen and (max-width: 991px) {
  .dashboard-panel__title {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 20px;
  }
}
.dashboard-panel__link {
  color: #6e8c99;
  background-color: #fff;
  text-align: center;
  display: block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  height: 160px;
  padding: 0 10px;
}
.dashboard-panel__link_conf {
  background-color: transparent;
  -webkit-box-shadow: 0 0 1px #999;
  -moz-box-shadow: 0 0 1px #999;
  box-shadow: 0 0 1px #999;
}
@media only screen and (max-width: 768px) {
  .dashboard-panel__link {
    height: 130px;
    margin-bottom: 14px;
  }
}
@media only screen and (max-width: 991px) {
  .dashboard-panel__link {
    margin-bottom: 29px;
  }
}
.dashboard-panel__link:hover {
  color: #0f9bdb;
  -webkit-box-shadow: 0 0 10px #666;
  -moz-box-shadow: 0 0 10px #666;
  box-shadow: 0 0 10px #666;
}
.dashboard-panel__link-icon {
  padding-top: 30px;
  height: 105px;
}
.dashboard-panel__link-icon img {
  max-height: 50px;
}
@media only screen and (max-width: 768px) {
  .dashboard-panel__link-icon {
    padding-top: 20px;
    height: 80px;
  }
}
.dashboard-panel__link-text {
  font-size: 13px;
  color: #6e8c99;
}
.dashboard .panel-body {
  min-height: 130px;
}
.dashboard__link {
  display: block;
  text-align: center;
}
.dashboard__link_icon {
  height: 60px;
  display: block;
  margin: 0 auto;
}
.dashboard__link_text {
  font-size: 12px;
}
