.forum-notify {
  position: absolute;
  left: 40%;
  bottom: -3px;
  background-image: url('../icon/forum-notify.png');
  background-repeat: no-repeat;
  width: 28px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  padding-top: 4px;
  font-weight: bold;
  z-index: 10000;
}
@media only screen and (max-width: 991px) {
  .forum-notify {
    left: 60px;
    bottom: -15px;
  }
}
.forum__link {
  display: block;
  font-size: 18px;
  color: #333;
}
@media only screen and (max-width: 991px) {
  .forum__link {
    font-size: 14px;
  }
}
.forum__link:hover {
  color: #057ab0;
  cursor: pointer;
  text-decoration: none;
}
.forum__text {
  font-size: 13px;
  color: #96adb2;
}
@media only screen and (max-width: 991px) {
  .forum__text {
    font-size: 12px;
  }
}
.forum-row {
  background: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 5px;
  padding: 20px;
}
.forum-comment-top {
  margin-bottom: 20px;
}
.forum-comment__control {
  text-align: right;
}
@media only screen and (max-width: 767px) {
  .forum-comment__control {
    text-align: left;
  }
}
.forum-comment__title {
  font-size: 24px;
}
@media only screen and (max-width: 991px) {
  .forum-comment__title {
    font-size: 20px;
  }
}
@media only screen and (max-width: 767px) {
  .forum-comment__title {
    font-size: 14px;
  }
}
.forum-comment__text {
  font-size: 14px;
}
