.header-top {
  height: 50px;
  line-height: 50px;
  background-color: #000;
}
@media only screen and (max-width: 991px) {
  .header-top {
    height: 38px;
    line-height: 38px;
    text-align: center;
  }
}
.header-top__nav .dropdown .dropdown-toggle {
  color: #fff;
}
.header-top__nav .dropdown .dropdown-toggle:hover {
  color: #333;
}
.header-top__nav .dropdown.open .dropdown-toggle {
  color: #333;
}
.header-top__text {
  color: #fff;
  margin-bottom: 0;
}
.header-navbar {
  height: 74px;
}
@media only screen and (max-width: 991px) {
  .header-navbar {
    height: 50px;
    line-height: 50px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .header-navbar .navbar-brand {
    width: 230px;
  }
}
.header-navbar .nav li a {
  line-height: 74px;
  padding-top: 0;
  padding-bottom: 0;
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .header-navbar .nav li a {
    padding: 10px;
    line-height: 50px;
  }
}
.header-navbar .dropdown:hover,
.header-navbar .dropdown.open {
  background-color: #fff;
}
.header-navbar .dropdown:hover a,
.header-navbar .dropdown.open a {
  color: #057ab0 !important;
}
