<main class="container">
  <div class="row">
    <div class="col-md-12 col-xs-12">
      <form action="" method="GET" role="form" id="js-sale-photo-search-form" class="add-bottom form-search">
        <input type="text" id="id_date_start" class="form-control" name="date_start" value="{{ r_date_start|default:'' }}" placeholder="Начальная дата">
        <input type="text" id="id_date_end" class="form-control" name="date_end" value="{{ r_date_end|default:'' }}" placeholder="Конечная дата">
        <select name="order" id="id_order" class="form-control">
          <option value="0">---- Выберите заказ ----</option>
          {% for order in order_list %}
          <option value="{{ order.id }}" {% if order.id == r_order %}selected='selected'{% endif %}>{{ order }}</option>
          {% endfor %}
        </select>
        <select name="task" id="id_task" class="form-control">
          <option value="0">---- Выберите задачу ----</option>
          {% for task in task_list %}
          <option value="{{ task.id }}" {% if task.id == r_task %}selected='selected'{% endif %}>{{ task }}</option>
          {% endfor %}
        </select>
        <button class="btn btn-info form-control"><span class="glyphicon glyphicon-search"></span> Искать</button>
      </form>
      <button class="btn btn-default form-control" id="js-show-search">
        <span class="glyphicon glyphicon-chevron-down"></span><span class="glyphicon glyphicon-chevron-up hide"></span> панель поиска
      </button>
    </div>
  </div>
  <div class="row">
  {% for point in point_list %}
    {% for photo in point.pointphoto_set.all %}
    <div class="col-xs-12 col-md-12 photo-item">
      <a href="{{ photo.photo.url }}" class="photo-item-link" title="{{ photo.name }}, время {{ photo.timestamp|time:'H:i'|default:'Не указано' }}" target="_blank">
        <img src="{{ photo.photo.url }}" alt="" class="photo-item-link__image">
        <span class="photo-item-link__name">{{ photo.name|default:'Не указано' }}</span>
      </a>

    </div>
    {% endfor %}
  {% endfor %}
  </div>
</main>