<header>
  <div class="container">
    <div class="add-bottom">
      <img src="{{ STATIC_URL }}img/banner_control.jpg" alt="Контроль расклейки и распространения">
    </div>
{#    <div class="row">#}
{#      <div class="col-xs-6 col-sm-6">#}
{#        <button class="btn btn-info">#}
{#          span.glyphicon.#}
{#        </button>#}
{#      </div>#}
{#      <div class="col-xs-6 col-sm-6 text-right">#}
{#        <a href="{% url 'logout' %}?next={% url 'dashboard:index' %}" class="btn btn-default">#}
{#          <span class="glyphicon glyphicon-log-out"></span> Выход#}
{#        </a>#}
{#      </div>#}
{#    </div>#}
    <div class="navbar navbar-inverse">
      <ul class="nav nav-pills">
        <li>
          <button class="btn btn-default">Домой</button>
        </li>
        <li><a href="#">...</a></li>
        <li>
          <a href="{% url 'logout' %}?next={% url 'dashboard:index' %}">
            <button class="btn btn-default">
              <span class="glyphicon glyphicon-log-out"></span> Выход
            </button>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>