<header>
  <div class="container">
    <div class="row">
      <div class="col-md-9 col-xs-9">
        <h2>Листовки и плакаты</h2>
        <span class="text">Отчёты</span>
      </div>
      <div class="col-md-3 col-xs-3">
        <button id="js-show-menu" class="btn btn-default menu-btn">
          <span class="glyphicon glyphicon-th"></span>
        </button>
      </div>
      <div class="col-md-12 col-xs-12">
        <nav class="navbar">
          <div class="container-fluid">
            <ul class="nav navbar-nav">
              <li>
                <a href="{% url 'dashboard:index' %}?full_view=1" class="btn btn-default">
                  <span class="glyphicon glyphicon-globe"></span> полная версия кабинета
                </a>
              </li>
              <li>
                <a href="{% url 'profile' %}" class="btn btn-default">
                  <span class="glyphicon glyphicon-user"></span> {{ user }}
                </a>
              </li>
              <li>
                <a href="{% url 'logout' %}?next={% url 'dashboard:index' %}" class="btn btn-default">
                  <span class="glyphicon glyphicon-log-out"></span> Выход
                </a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>

{#    <div class="add-bottom">#}
{#      <img src="{{ STATIC_URL }}img/banner_control.jpg" alt="Контроль расклейки и распространения">#}
{#    </div>#}
{#    <div class="navbar navbar-inverse">#}
{#      <ul class="nav nav-pills">#}
{#        <li>#}
{#          <button class="btn btn-default">Домой</button>#}
{#        </li>#}
{#        <li><a href="#">...</a></li>#}
{#        <li>#}
{#          <a href="{% url 'logout' %}?next={% url 'dashboard:index' %}">#}
{#            <button class="btn btn-default">#}
{#              <span class="glyphicon glyphicon-log-out"></span> Выход#}
{#            </button>#}
{#          </a>#}
{#        </li>#}
{#      </ul>#}
{#    </div>#}
  </div>
</header>