{% extends 'cabinet/cabinet_base.html' %}
{% block viewport %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}
{% block title %}Редактирование сообщения | {{ block.super }}{% endblock %}
{% block extra_js %}
  {{ form.media }}
{% endblock %}
{% block content %}
  <div class="breadcrumb-container">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ol class="breadcrumb">
            <li><a href="{% url 'dashboard:index' %}">Рабочий стол</a></li>
            <li><a href="{% url 'forum:list' %}">Форум</a></li>
            <li><a href="{% url 'forum:topic-list' object.topic.section.id %}">{{ object.topic.section.title|default:'' }}</a></li>
            <li><a href="{% url 'forum:topic-detail' object.topic.id %}">{{ object.topic.title|default:'' }}</a></li>
            <li class="active">Редактирование сообщения</li>
          </ol>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="page-top">
        <div class="col-md-12">
          <span class="page-top__title">Редактирование сообщения</span>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="panel-content">
              <form action="" class="form js-forum-comment-update-form" method="post" role="form">
                {% csrf_token %}
                <div class="col-md-12">
                  <div class="form-group">
                  {% for field in form %}
                    {{ field }}
                  {% endfor %}
                  </div>
                </div>
                <div class="col-md-6">
                  <button type="submit" class="btn btn-save">Сохранить изменить</button>
                </div>
                <div class="clearfix"></div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
{% endblock %}