{% extends 'cabinet/cabinet_base.html' %}
{% block viewport %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}
{% block title %}{{ object.title|default:'Не указано' }} | {{ block.super }}{% endblock %}
{% block content %}
  <div class="breadcrumb-container">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ol class="breadcrumb">
            <li><a href="{% url 'dashboard:index' %}">Рабочий стол</a></li>
            <li><a href="{% url 'forum:list' %}">Форум</a></li>
            <li class="active">{{ object.title|default:'Не указано' }}</li>
          </ol>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="page-top">
        <div class="col-md-6 col-sm-6">
          <span class="page-top__title">{{ object.title|default:'Не указано' }}</span><span class="page-top__count"> / {{ object_list.count|default:'0' }}</span>
        </div>
        <div class="col-md-6 col-sm-6">
          <a href="{% url 'forum:topic-add' %}?section={{ object.id }}" class="btn btn-add page-top__btn" title="Добавить тему">
            <span class="glyphicon glyphicon-plus-sign"></span> Добавить тему
          </a>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default panel-default_forum">
          <div class="panel-body">
            <div class="panel-content">
              {% for topic in object_list %}
              <div class="forum-row">
                <div class="col-md-1 col-sm-1 col-xs-2">
                  <img src="{{ STATIC_URL }}icon/forum/folder.png" alt="">
                </div>
                <div class="col-md-4 col-sm-4 col-xs-10">
                  <a href="{{ topic.get_absolute_url|default:'#'}}" title="{{ topic.title|default:'не указано' }}" class="forum__link">
                    {{ topic.title|default:'не указано' }}
                    {% if topic.closed %}(закрыта){% endif %}
                  </a>
                  <span class="forum__text">{{ topic.author.get_full_name|default:'Не указано' }} {{ topic.created|date:'j F Yг. g:i:s' }}</span>
                </div>
                <div class="col-md-3 col-sm-3 hidden-xs">
                  <span class="forum__text">Количество сообщений: {{ topic.get_comment_count|default:'0' }}</span>
                </div>
                <div class="col-md-4 col-sm-4 hidden-xs">
                  <a href="{{ topic.get_last_comment.get_comment_link|default:'' }}" class="forum__link">{{ topic.get_last_comment.author.get_full_name|default:'Сообщений нет' }}</a>
                  <span class="forum__text">{{ topic.get_last_comment.created|date:'j F Yг. g:i:s' }}</span>
                </div>
                <div class="clearfix"></div>
              </div>
            {% empty %}
              <p class="alert alert-info">В этом разделе ещё нет тем</p>
            {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
{% include '__modal/js_ajax_remove_form.html' %}
{% endblock %}
