{% extends 'cabinet/cabinet_base.html' %}
{% block viewport %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}
{% block title %}Удаление темы | {{ block.super }}{% endblock %}
{% block extra_js %}
  {{ form.media }}
{% endblock %}
{% block content %}
  <div class="breadcrumb-container">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ol class="breadcrumb">
            <li><a href="{% url 'dashboard:index' %}">Рабочий стол</a></li>
            <li><a href="{% url 'forum:list' %}">Форум</a></li>
            <li><a href="{% url 'forum:topic-list' object.section.id %}">{{ object.section.title|default:'' }}</a></li>
            <li class="active">Удаление темы</li>
          </ol>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="page-top">
        <div class="col-md-12">
          <span class="page-top__title">Удаление темы</span>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="panel-content">
              <div class="col-md-12 text-center">
                <p class="lead">Вы действительно хотите удалить тему?</p>
                <a href="?delete=1" class="btn btn-danger">Удалить</a>
                <a href="?delete=0" class="btn btn-success">Отменить</a>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}