{% extends 'cabinet/cabinet_base.html' %}
{% block viewport %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}
{% block title %}Закрыть тему | {{ block.super }}{% endblock %}
{% block extra_js %}
  {{ form.media }}
{% endblock %}
{% block content %}
  <div class="breadcrumb-container">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ol class="breadcrumb">
            <li><a href="{% url 'dashboard:index' %}">Рабочий стол</a></li>
            <li><a href="{% url 'forum:list' %}">Форум</a></li>
            <li><a href="{% url 'forum:topic-list' object.section.id %}">{{ object.section.title|default:'' }}</a></li>
            <li class="active">Закрыть тему</li>
          </ol>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="page-top">
        <div class="col-md-12">
          <span class="page-top__title">Закрыть тему</span>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="panel-content">
              <div class="col-md-12 text-center">
                <form action="" role="form" method="post">
                  {% csrf_token %}
                  <p class="lead">Вы действительно хотите закрыть тему?</p>
                  <button type="submit" class="btn btn-danger">Закрыть</button>
                  <a href="{{ object.get_absolute_url }}" class="btn btn-success">Отменить</a>
                </form>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
