{% extends 'cabinet/cabinet_base.html' %}
{% block viewport %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}
{% block title %}{{ topic.title|default:'Редактирование темы' }} | {{ block.super }}{% endblock %}
{% block extra_js %}
  {{ form.media }}
{% endblock %}
{% block content %}
  <div class="breadcrumb-container">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ol class="breadcrumb">
            <li><a href="{% url 'dashboard:index' %}">Рабочий стол</a></li>
            <li><a href="{% url 'forum:list' %}">Форум</a></li>
            <li><a href="{% url 'forum:topic-list' section.id %}">{{ section.title|default:'' }}</a></li>
            <li class="active">{{ topic.title|default:'Редактирование темы' }}</li>
          </ol>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="page-top">
        <div class="col-md-12">
          <span class="page-top__title">{{ topic.title|default:'Редактирование темы' }}</span>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="panel-content">
              <form action="" role="form" method="post" class="form js-forum-topic-update" >
                {% csrf_token %}
                <div class="col-md-6">
                  {{ form.author }}
                  {{ form.section }}
                  <div class="form-group">
                    {{ form.title.label_tag }}
                    {{ form.title }}
                    {{ form.title.errors }}
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-10">
                  <div class="form-group">
                    <div>
                      {{ form.text.label_tag }}
                    </div>
                    {{ form.text }}
                    {{ form.text.errors }}
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-6">
                  <div class="form-group">
                    {{ form.moderator.label_tag }}
                    {{ form.moderator }}
                    {{ form.moderator.errors }}
                  </div>
                  <div class="form-group">
                    {{ form.leader.label_tag }}
                    {{ form.leader }}
                    {{ form.leader.errors }}
                  </div>
                  <div class="form-group">
                    {{ form.manager.label_tag }}
                    {{ form.manager }}
                    {{ form.manager.errors }}
                  </div>
                  <div class="form-group">
                    {{ form.adjuster.label_tag }}
                    {{ form.adjuster }}
                    {{ form.adjuster.errors }}
                  </div>
                  <div class="form-group">
                    {{ form.all_city.label_tag }}
                    {{ form.all_city }}
                    {{ form.all_city.errors }}
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    {{ form.city }}
                    {{ form.city.errors }}
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-6">
                  <div class="form-group">
                    <button type="submit" class="btn btn-save">Сохранить изменения</button>
                  </div>
                </div>

                <div class="clearfix"></div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
{% endblock %}
