{% extends 'cabinet/cabinet_base.html' %}
{% block viewport %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}
{% block title %}Заявки с сайта | {{ block.super }}{% endblock %}
{% block content %}
  <div class="breadcrumb-container">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ol class="breadcrumb">
          {% if user.type != 6 %}
            <li><a href="{% url 'dashboard:index' %}">Рабочий стол</a></li>
          {% endif %}
            {% if sale %}
            <li class="active">Продажи</li>
            {% else %}
            <li class="active">Заявки с сайта</li>
            {% endif %}
          </ol>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="page-top">
        <div class="col-md-12">
        {% if sale %}
          <span class="page-top__title">Продажи</span>
          <span class="page-top__count"> / {{ page_obj.paginator.count|default:'0' }}</span>
          {% if total_sum %}
          <span class="page-top__count"> / сумма продаж: {{ total_sum|default:'0' }} руб.</span>
          {% endif %}
        {% else %}
          <span class="page-top__title">Заявки в обработке</span><span class="page-top__count"> / {{ page_obj.paginator.count|default:'0' }}</span>
        {% endif %}
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <button class="btn btn-show-filter" id="js-show-filter-btn">
              <span>Развернуть поиск <strong>+</strong></span>
              <span class="hide">Свернуть поиск <strong>-</strong></span>
            </button>
            <form action="" class="js-ticket-filter-form form form-filter add-bottom" method="GET">
              <div class="col-md-12">
                <div class="five-col-2">
                  <select name="city" class="form-control">
                    <option value="0">Город</option>
                    {% for city in city_list %}
                      <option value="{{ city.id }}" {% if city.id == r_city %}selected="selected"{% endif %}>{{ city.name }}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="five-col-2">
                  <select name="moderator" class="form-control">
                    <option value="0">Исполнитель</option>
                    {% for moderator in moderator_list %}
                      <option value="{{ moderator.id }}" {% if moderator.id == r_moderator %}selected="selected"{% endif %}>{{ moderator.company }}</option>
                    {% endfor %}
                  </select>
                </div>
              {% if agency_list %}
                <div class="five-col-1">
                  <select name="agency" class="form-control">
                    <option value="0">Менеджер</option>
                    {% for agency in agency_list %}
                      <option value="{{ agency.id }}" {% if agency.id == r_agency %}selected="selected"{% endif %}>{{ agency.get_full_name }}</option>
                    {% endfor %}
                  </select>
                </div>
              {% endif %}
              {% if sale %}
                <div class="clearfix"></div>
              {% else %}
                <div class="five-col-1">
                  <select name="type" class="form-control">
                    <option>---- Статус ----</option>
                    <option value="0" {% if r_type == 0 %}selected="selected"{% endif %}>Новая заявка</option>
                    <option value="1" {% if r_type == 1 %}selected="selected"{% endif %}>В обработке</option>
                    <option value="2" {% if r_type == 2 %}selected="selected"{% endif %}>Отклонена</option>
                  </select>
                </div>
              {% endif %}
                <div class="five-col-1">
                  <input type="text" name="date_s" id="id_date_s" value="{{ r_date_s|default:'' }}" class="form-control" placeholder="Дата от">
                </div>
                <div class="five-col-1">
                  <input type="text" name="date_e" id="id_date_e" value="{{ r_date_e|default:'' }}" class="form-control" placeholder="Дата до">
                </div>
                <div class="five-col-2">
                  <input type="submit" value="Искать заявки" class="btn btn-search">
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="clearfix"></div>
            </form>
            <div class="col-md-12">
              <div class="table-container">
                <table class="table table-list">
                  <thead>
                    <tr>
                      <th>Имя</th>
                      <th>Телефон</th>
                      <th>e-mail</th>
                    {% if user.agency_leader %}
                      <th>Менеджер</th>
                    {% endif %}
                      <th>Исполнитель</th>
                      <th>Город</th>
                      <th>Дата</th>
                      <th>Статус</th>
                      {% if sale %}
                      <th>Сумма</th>
                      {% endif %}
                      <th>&nbsp;</th>
                    </tr>
                  </thead>
                  <tbody class="js-list">
                  {% if object_list %}
                    {% for object in object_list %}
                    <tr data-id="{{ object.id }}" data-name="{{ object }}" data-model="Ticket" id="id_Ticket_{{ object.id }}"
                         class="{% if object.type == 1 %}info{% elif object.type == 2 %}danger{% else %}success{% endif %}">
                      <td><a href="{% url 'ticket:detail' object.id %}">{{ object.name|default:'Не указано' }}</a></td>
                      <td>{{ object.phone|default:'Не указано' }}</td>
                      <td>{{ object.mail|default:'Не указано' }}</td>
                      {% if user.agency_leader %}
                      <td>{{ object.agency_manager.get_full_name|default:'Не указано' }}</td>
                      {% endif %}
                      <td>{{ object.moderator|default:'Не указано' }}</td>
                      <td>{{ object.city|default:'Не указано' }}</td>
                      <td>{{ object.created|default:'Не указано' }}</td>
                      <td>{{ object.get_type_display|default:'Не указано' }}</td>
                      {% if sale %}
                      <td>{{ object.price|default:'0' }}</td>
                      {% endif %}
                      <td>
                        <a href="#js-ajax-item-remove" id="js-ajax-remove-btn-{{ object.id }}" class="text-danger js-ajax-remove-btn">
                          <span class="glyphicon glyphicon-remove"></span>
                        </a>
                      </td>
                    </tr>
                    {% endfor %}
                  {% else %}
                    <tr>
                    {% if sale %}
                      <td colspan="9"><p class="alert alert-info text-left">Продаж нет</p></td>
                    {% else %}
                      <td colspan="8"><p class="alert alert-info text-left">Заявок нет</p></td>
                    {% endif %}
                    </tr>
                  {% endif %}
                  </tbody>
                </table>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        {% include '__includes/pagination.html' %}
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
{% include '__modal/js_ajax_remove_form.html' %}
{% endblock %}
