<script>
ymaps.ready(init);
var myMap;

function init(){
  var city = '';
  var zoom = 3;
  city = '{{ object_list.first.name }}';
  var coord = '';
  var myGeocoder = ymaps.geocode(city);
    myGeocoder.then(
      function (res) {
        coord = res.geoObjects.get(0).geometry.getCoordinates();
        myMap = new ymaps.Map("YMapsID", {
            center: coord,
            zoom: zoom
        });
        {% for city in city_list %}
        myMap.geoObjects.add(
            new ymaps.Placemark([{{ city.coord_y|safe }}, {{ city.coord_x|safe }}], {
            balloonContent: '{{ city.name }}',
            hintContent: '{{ city.name }}'
            })
        );
        {% endfor %}

      }
    );

}
</script>