@import url(https://fonts.googleapis.com/css?family=Roboto:300,700&subset=latin,cyrillic);
/************************* reset *************************/
html{
    height: 100%;
    margin: 0;
    padding: 0;width: 100%;
    background: #fff;
}
body{
    height: 100%;
    width: 100%;
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 300;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    line-height: 24px;
    min-width: 960px;
    color: #000;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
h1, h2, h3, h4, p, ul, li, a, span, div, input, textarea, select, form, fieldset, button, dl, dd, dt, figure, figcaption, blockquote, caption, aside, section {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}
img {
    margin: 0;
    padding: 0;
    border-style: none;
    vertical-align: bottom;
}
input, textarea, select{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    vertical-align:middle;
    border: 0;
    outline: 0;
    background: none;
}
button {font-weight: 300;}
a:hover {text-decoration: none;}
ul li {list-style: none;}
/************************* common styles *************************/
.holder {
    width: 980px;
    padding: 0 10px;
    margin: 0 auto;
}
.holder:after {
    display: block;
    content: '';
    clear: both;
}
h1 {
    margin: 0 0 40px;
    font-size: 40px;
    line-height: 44px;
    text-transform: uppercase;
}
h2 {
    margin: 0 0 64px;
    font-size: 60px;
    line-height: 60px;
    text-align: center;
}
h3 {
    margin: 0 0 39px;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
}
h4 {
    margin: 0 0 10px;
    color: #e06216;
    font-size: 18px;
    line-height: 21px;
}
article p {
    margin: 0 0 24px;
}
/************************* wrapper *************************/
#wrapper {
    position: relative;
    overflow: hidden;
}
/************************* header__nav *************************/
.header-fix {
    position: fixed;
    top: -60px;
    left: 0;
    right: 0;
    z-index: 200;
    height: 50px;
    background: #fff;
    -webkit-box-shadow: 0 0 8px 0 rgba(0,0,0,0.2);
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.2);
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}
.header-fix.fixed {
    top: 0;
}
.header-nav {
    overflow: hidden;
    padding: 12px 0 0;
}
.header-nav li {
    float: left;
    margin: 0 0 0 58px;
}
.header-nav li:first-child {margin: 0;}
.header-nav li a {
    color: #000;
    text-decoration: none;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}
.header-nav li a:hover {text-decoration: underline;}
.header-nav li .active {
    color: #29abe1;
}
.header-nav li .active:hover {text-decoration: none;}
.header-fix-link {
    float: right;
    padding: 22px 0 0;
    font-size: 14px;
}
.header-fix-link a {color: #009c15;}
/************************* city-hidden *************************/
.city-hidden {
    position: absolute;
    z-index: 50;
    top: 50px;
    left: 0;
    right: 0;
    display: none;
    padding: 29px 0 20px;
    background: #fff;
    -webkit-box-shadow: 0 0 8px 0 rgba(0,0,0,0.2);
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.2);
}
.city-hidden h3 {
    margin: 0 0 29px;
}
.city-block {
    overflow: hidden;
    padding: 3px 0 5px 10px;
    /*padding: 3px 0 5px 88px;*/
    margin: 0 20px 0 0;
    /*background: url(../images/city-icon.png) 0 1px no-repeat;*/
}
.city-hidden .city-list {
    float: left;
    width: auto;
    margin: 0 0 0 39px;
}
.city-hidden .city-list:first-child {margin: 0;}
.city-hidden .city-list li {
    float: left;
    width: 240px;
    padding: 0 0 0 10px;
    margin: 0 0 7px;
    font-size: 14px;
    line-height: 18px;
    background: url(../images/city-arrow-min.png) 0 6px no-repeat;
}
.city-close {
    float: right;
    margin: -5px 0 0;
    color: #000;
    font-size: 14px;
    text-decoration: none;
}
.city-tabs ul {
    margin: 0 0 25px;
    padding: 0 0 0 1px;
    border-bottom: 1px solid #ccc;
}
.city-tabs ul:after {
    display: block;
    content: '';
    clear: both;
}
.city-tabs li {
    float: left;
    margin: 0 0 -1px -1px;
}
.city-tabs a {
    display: block;
    padding: 3px 10px 3px;
    color: #000;
    font-size: 16px;
    text-decoration: none;
    border: 1px solid #ccc;
    border-radius: 5px 5px 0 0;
}
.city-tabs .active a {border-bottom: 1px solid #fff;}
/************************* header__top *************************/
.header-top {
    height: 50px;
    background: #000;
}
.header-lang {
    position: relative;
    float: left;
    height: 50px;
}
.lang-link {
    display: block;
    height: 50px;
    padding: 0 39px 0 20px;
    color: #fff;
    font-size: 14px;
    line-height: 50px;
    text-decoration: none;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}
.lang-link:hover {text-decoration: underline;}
.lang-link-top {background: url(../images/arrow-white.png) 100% 22px no-repeat;}
.lang-link img {
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px 0 0;
}
.header-lang-hidden {
    position: absolute;
    top: 50px;
    left: 0;
    display: none;
    min-width: 180px;
    background: #000;
}
.header-lang-hidden .lang-link:hover {background-color: #131313;}
.header-city {
    float: left;
    padding: 13px 0 0 54px;
    color: #6c6c6c;
    font-size: 14px;
}
.header-city a {
    display: inline-block;
    padding: 0 39px 0 0;
    margin: 0 0 0 2px;
    color: #fff;
    text-decoration: none;
    background: url(../images/arrow-white.png) 100% 9px no-repeat;
}
.header-city a:hover {text-decoration: underline;}
.header-enter {
    position: relative;
    float: right;
    /*width: 204px;*/
    height: 50px;
    background: #1b1c1c url(../images/arrow-white.png) 90% 22px no-repeat;
}
.enter-link {
    display: block;
    height: 50px;
    padding: 0 30px 0 52px;
    color: #fff;
    font-size: 14px;
    line-height: 50px;
    text-decoration: none;
    background: url(../images/enter.png) 19px 15px no-repeat;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}
.enter-link:hover {text-decoration: underline;}
.header-enter-hidden {
    position: absolute;
    top: 50px;
    left: 0;
    display: none;
    width: 204px;
    background: #1b1c1c;
}
.header-enter-hidden .enter-link:hover {background-color: #272828;}
/************************* header-main *************************/
.header-main {
    height: 812px;
    padding: 68px 0 0;
    background: url(../images/media/bg1.jpg) 50% 0 no-repeat;
    background-size: cover;
}
.header-main-top {
    margin: 0 0 111px;
    line-height: 21px;
}
.header-main-top span {border-bottom: 1px solid #9db5ba;}
.main-title {
    margin: 0 0 84px;
    font-size: 63px;
    line-height: 50px;
}
.main-title1 {
    display: block;
    margin: 0 0 3px;
    font-size: 63px;
}
.main-title2 {
    display: block;
    margin: 0 0 4px;
    font-size: 39px;
}
.main-title3 {
    display: block;
    color: #fd5279;
    font-size: 75px;
    letter-spacing: 2px;
}
.main-title3 .word2 .char5, .lower {text-transform: none;}
.header-main-text {
    width: 400px;
    margin: 0 0 81px;
    font-size: 24px;
    line-height: 29px;
}
.header-main-button {overflow: hidden;}
.header-main-button .button {
    float: left;
    margin: 0 20px 0 0;
}
.button-holder {text-align: center;}
.button {
    display: inline-block;
    height: 60px;
    padding: 0 40px;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    line-height: 60px;
    text-decoration: none;
    text-transform: uppercase;
    background: #29abe1;
    border-radius: 5px;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}
.button:hover {background: #289ecf;}
.header-main-button-text {
    float: left;
    padding: 8px 0 0;
    color: #29abe1;
    line-height: 21px;
}
/************************* icons-block *************************/
.icons-block {padding: 135px 0 114px;}
.icons-block-holder {
    text-align: center;
}
.icons-block-item {
    display: inline-block;
    vertical-align: top;
    width: 32%;
}
.icons-block-img {
    height: 103px;
    margin: 0 0 50px;
    line-height: 103px;
}
.icons-block-img img {vertical-align: middle;}
/************************* reasons *************************/
.reasons {
    position: relative;
    height: 619px;
    background: #d1f1f8;
}
.reasons-bg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50%;
    background: url(../images/media/bg2.jpg) 50% 0 no-repeat;
    background-size: cover;
}
.reasons-right {
    float: right;
    width: 400px;
    padding: 115px 0 0;
}
.reasons-title {
    width: 410px;
    margin: 0 0 41px;
    font-size: 36px;
    font-weight: 700;
    line-height: 38px;
    text-transform: uppercase;
}
.reasons-title span {
    display: block;
    padding: 3px 0 0;
    color: #29abe1;
    font-size: 49px;
}
.reasons-list li {
    padding: 1px 0 0 44px;
    margin: 0 0 30px;
    background: url(../images/list-icon.png) 0 0 no-repeat;
}
/************************* servises *************************/
.servises {padding: 112px 0 119px;}
.serv-column {
    float: left;
    width: 50%;
    padding: 0 0 42px;
    text-align: center;
    background: #d1f1f8;
}
.serv-column-right {background: #c6edf5;}
.serv-img {margin: 0 0 42px;}
.serv-img img {width: 100%;}
.serv-title {
    padding: 0 10px;
    margin: 0 0 15px;
    color: #fd5279;
    font-size: 24px;
    font-weight: bold;
    line-height: 29px;
}
.serv-text {
    padding: 0 10px;
    margin: 0 0 20px;
    line-height: 21px;
}
.serv-button .button {
    height: 50px;
    padding: 0 25px;
    font-size: 18px;
    font-weight: 400;
    line-height: 50px;
    text-transform: none;
}
/************************* garanty *************************/
.garanty {
    padding: 112px 0 120px;
    background: #f5f5f5;
}
.title-min {
    margin: -48px 0 67px;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
}
.garanty-video {
    float: left;
    position: relative;
    width: 400px;
    margin: 0 -100px 0 100px;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}
.garanty-video:hover {margin: 0;}
.monitor-play {
    position: absolute;
    top: 222px;
    right: 57px;
}
.monitor-text {
    position: absolute;
    top: 480px;
    right: 25px;
}
.tablet-bg {
    display: block;
    margin: -40px 0 0 -138px;
}
.tablet-bg:hover {margin: -40px 0 0 -138px;}
.garanty-info {
    position: relative;
    z-index: 10;
    float: right;
    width: 560px;
    padding: 86px 75px 53px 80px;
    box-sizing: border-box;
    background: #fff;
}
/*
==============================================
pulse
==============================================
*/
.pulsing{
    animation-name: pulsing;
    -webkit-animation-name: pulsing;
    animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    visibility: visible !important;
}
@keyframes pulsing {
    0% {
        transform: scale(0.9);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.9);
    }
}
@-webkit-keyframes pulsing {
    0% {
        -webkit-transform: scale(0.9);
    }
    50% {
        -webkit-transform: scale(1);
    }
    100% {
        -webkit-transform: scale(0.9);
    }
}
/************************* info *************************/
.info {padding: 112px 0 118px;}
.info-slider {
    position: relative;
}
.info-top {
    height: 43px;
    margin: 0 0 50px;
    font-size: 14px;
    line-height: 43px;
    text-align: center;
    background: #f4f4f4;
}
.info-index {
    color: #fd5279;
    font-weight: bold;
}
.info-all {font-weight: bold;}
.info-city {
    padding: 0 31px 0 0;
    color: #29abe1;
    background: url(../images/arrow-blue.png) 100% 12px no-repeat;
}
.info-slide {
    overflow: hidden;
    padding: 0 0 1px;
}
.info-left {
    float: left;
    width: 254px;
    padding: 0 0 90px;
}
.info-logo {
    height: 255px;
    margin: 0 0 41px;
    line-height: 253px;
    text-align: center;
    background: #fff;
    border: 1px solid #ccc;
}
.info-logo img {
    vertical-align: middle;
    max-width: 250px;
    max-height: 250px;
}
.info-form-title {
    margin: 0 0 11px;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
}
.info-form-text {
    margin: 0 0 31px;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
}
.info-form-text a {
    color: #29abe1;
    text-decoration: none;
}
.info-right {
    float: right;
    width: 650px;
}
.info-title {
    margin: -2px 0 24px;
    color: #fd5279;
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
}
.info-list {
    overflow: hidden;
    margin: 0 0 41px;
    line-height: 24px;
    /*font-size: 14px;*/
}
.info-list dt {
    float: left;
    clear: left;
    width: 149px;
}
.info-list dd {
    float: left;
    width: 350px;
}
.star-block {
    display: inline-block;
    vertical-align: top;
    padding: 3px 0 0;
}
.star {
    display: inline-block;
    width: 21px;
    height: 20px;
    background: url(../images/star.png) 0 0 no-repeat;
}
.star-half {background-position: 0 -20px;}
.star-none {background-position: 0 -40px;}
.info-reviews-title {
    margin: 0 0 37px;
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
}
.info-reviews-title span {color: #29abe1;}
.social {
    display: inline-block;
}
.social-link{
    text-decoration: none;
}
.social-link-icon {
    height: 30px;
}
.social-link-icon:hover {
    opacity: 0.8;
}


.info-reviews-text {
    margin: 0 0 30px;
}
.review-item {
    padding: 34px 28px 36px 42px;
    margin: 0 0 24px;
    background: #f2fdff;
    border-radius: 5px;
}
.info-reviews .review-item:nth-child(odd) {
    background: #fffbf2;
}
.review-author {
    margin: 0 0 12px;
    font-weight: 700;
}
.review-author, .review-text {
    font-size: 14px;
}
.review-button {
    display: block;
    height: 50px;
    color: #000;
    line-height: 48px;
    text-align: center;
    text-decoration: none;
    background: #fff;
    border: 1px solid #29abe1;
    border-radius: 5px;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}
.review-button:hover {
    color: #fff;
    background: #29abe1;
}
/************************* form-block *************************/
.form-block {
    width: 340px;
    padding: 22px 20px 26px;
    margin: 0 auto;
    background: #fff;
    border-radius: 5px;
}
.form-title {
    margin: 0 0 20px;
    color: #000;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
}
.form-text {
    margin: 0 0 26px;
    line-height: 21px;
    text-align: center;
}
.form-text-min {
    padding: 10px 0 0;
    color: #818181;
    font-size: 11px;
    line-height: 14px;
    text-align: center;
}
.form-block form {
    width: 278px;
    margin: 0 auto;
}
.input {
    display: block;
    width: 100%;
    height: 50px;
    padding: 0 18px;
    margin: 0 0 15px;
    color: #000;
    font-size: 18px;
    background: #fff;
    border: 1px solid #c6edf5;
    border-radius: 5px;
}
.textarea {
    display: block;
    width: 100%;
    height: 120px;
    padding: 10px 18px;
    margin: 0 0 15px;
    color: #000;
    font-size: 18px;
    resize: vertical;
    background: #fff;
    border: 1px solid #c6edf5;
    border-radius: 5px;
}
.submit {
    display: block;
    width: 100%;
    height: 50px;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
    border-radius: 5px;
    background: #29abe1;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}
.submit:hover {background: #289ecf;}
::-webkit-input-placeholder {color: #000;}
:-moz-placeholder {color: #000; opacity: 1;}
::-moz-placeholder {color: #000; opacity: 1;}
:-ms-input-placeholder {color: #000;}
.input.error, #wrapper .popup .popup-block .input.error {
    color: rgb(255, 86, 71);
    background-color: rgb(255, 206, 202);
}
label.error {
    position: absolute;
    left: -9999px;
}
.comment-form {display: none;}
.comment-button {
    padding: 13px 0 0;
    text-align: center;
    text-decoration: none;
}
/************************* bottom-block *************************/
.bottom-block {
    height: 140px;
    /*margin: 0 0 120px;*/
    padding: 61px 0 0;
    text-align: center;
    background: url(../images/media/bg3.png) 0 0 no-repeat;
}
.bottom-block a {color: #29abe1;}
/************************* footer *************************/
.footer-nav {
    padding: 17px 0;
    border-top: 1px solid #d0d0d0;
    border-bottom: 1px solid #d0d0d0;
}
.footer-nav ul {width: 980px;}
.footer-nav li {
    display: inline;
}
.footer-nav li:before {
    display: inline-block;
    content: '|';
    color: #d0d0d0;
}
.footer-nav li:first-child {
    margin: 0;
}
.footer-nav li:first-child:before {display: none;}
.footer-nav a {
    color: #29abe1;
    padding: 0 100px;
}
.footer-bottom {
    /*padding: 59px 0 72px;*/
    padding: 20px 0;
}

.copy {
    float: left;
    font-size: 14px;
    line-height: 18px;
}
.copy a {
    color: #000;
    text-decoration: none;
}
.footer-download {
	float: left;
	margin: -20px 0 -20px 200px;
	font-size: 14px;
	text-align: center;
}
.footer-download img {
	width: 130px;
}
.studio {
	float: right;
	margin: -4px 0 0;
	color: #000;
	font-size: 14px;
	line-height: 20px;
	text-decoration: none;
}
#hidden-block {
    display: none;
    width: 350px;
    padding: 10px;
}
#hidden-block h2 {
    margin: 0px 0px 20px;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
}
/************************* Всплывающие окна *************************/
#mask{
    position:absolute;
    left:0;
    top:0;
    z-index:900;
    display:none;
    background: #000;
    width: 100%;
}
.window{
    position:fixed;
    left:0;
    top:0;
    z-index:901;
    display:none;
}
.window .close {
    position: absolute;
    top: -18px;
    right: -18px;
    width: 36px;
    height: 36px;
    cursor: pointer;
    z-index: 8040;
    background-image: url('../images/fancybox_sprite.png');
}
.tablet-popup {
    width: 851px;
    height: 600px;
    padding: 39px 0 0 77px;
    background: url(../images/tablet2.png) 0 0 no-repeat;
}
.tablet-video {
    width: 695px;
    height: 522px;
    background: #f00;
}
.tablet-video iframe {
    width: 695px;
    height: 522px;
}
#popup {
    overflow: hidden;
    display: none;
}
.video-popup {
    width: 800px;
    height: 600px;
}
.video-popup iframe {
    width: 800px;
    height: 600px;
}

.popup {
    display: none;
}
.about-article {padding: 0 0 60px;}
.about-popup {
    width: 628px;
    padding: 50px 26px 50px 56px;
}
.about-popup .title-min {
    margin: -34px 0 37px;
    font-size: 14px;
    line-height: 18px;
}
.about-icons {
    overflow: hidden;
}
.about-icons-holder {
    width: 580px;
    padding: 0 0 18px;
}
.about-icons-item {
    display: inline-block;
    vertical-align: top;
    width: 154px;
    margin: 0 35px 40px 0;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
}
.about-icons-text {
    margin: 0 -10px;
    padding: 25px 0 0;
}
.about-who-item {
    margin: 0 0 48px;
}
.about-who-img {
    float: left;
    width: 150px;
    padding: 5px 0 0;
}
.about-who-img img {border-radius: 5px;}
.about-who-text {
    margin: 0 0 0 186px;
}
.about-who-text strong {
    display: block;
    font-size: 20px;
}
.city-popup {
    width: 665px;
    padding: 50px 67px 43px;
}
.city-input-text {
    display: none;
    margin: 0 0 36px;
    color: #fd5279;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
}
.city-list-holder {
    overflow: hidden;
}
.city-list {
    width: 600px;
}
.city-list li {
    float: left;
    width: 200px;
    margin: 0 0 6px;
}
.city-list a {
    color: #29abe1;
    cursor: pointer;
}
.thnx-text {
    width: 600px;
    padding: 100px 0 0;
    margin: 0 auto;
    color: #000;
    font-size: 40px;
    font-family: 'agavalanchecbold';
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
}
.thnx .footer {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -480px;
}

.ui-widget-content {
    width: 400px !important;
    position: relative !important;
    z-index: 99999 !important;
}
.lead {
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    color: #666;
}