.header-main-top span {
	color: #FFF;
	border-bottom: 1px solid #fff;
}
.main-title1 {
	color: #fff200
}
.main-title2 {
	color: #FFF;
}
.main-title3 {
	color: #fff200
}
.header-main-text {
	color: #FFF;
}
.block5 {
	background-color: #fff200;
	color: #0c2f15 
}
.block5:hover {
	background-color: #E5D903;
	color: #0c2f15 
}
.header-nav .block5, .header-nav .block5:hover {background-color: transparent;}
.header-main-button-text {
	color: #FFF;
}
.reasons-bg {
	background-position: center right;
}
.servises-bg {
	height: 340px;
	background: url(../images/media/servises-bg.jpg) center center no-repeat;
	background-size: cover;
}
.serv-column {
	padding: 65px 0;
}
.bg-line {
	position: relative;
	background: #D1F1F8;
}
.bg-line .img {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 100%;
	z-index: 100;
	margin-left: -84px;
}
.bg-line img {
	height: 100%;
	width: auto;
}
.wrap-left {
	position: relative;
	z-index: 105;
	float: right;
	width: 430px;
	margin-right: 45px;
	text-align: left;
}
.wrap-left .serv-text {
	width: 100px;
}
.wrap-left ul {
	margin-left: 10px;
}
.wrap-left div {
	margin-left: 10px;
	padding: 0;
}
.wrap-right {
	float: left;
	width: 450px;
	margin-left: 70px;
	text-align: left;
}
.wrap-right .serv-text {
	width: 250px;
}
.wrap-right ul {
	margin-left: 10px;
}
.wrap-right div {
	margin-left: 10px;
	padding: 0;
}
.serv-title {
	margin-bottom: 25px;
}
.serv-text {
	margin-bottom: 35px;
}
.serv-button {
	margin-top: 35px;
}
.serv-column-right {
	background: #D7F6FD;
}
.servises {
	padding-bottom: 0;
}
.clear {
	clear: both;
	height: 0;
	overflow: hidden;
}
.competitors .holder{
	padding: 100px 0;
}
.competitors h3 {
	width: 670px;
	margin: 0 auto 18px;
	font: 700 60px/60px Roboto;
}
.competitors h3 span {
	color: #29abe1
}
.competitors .know {
	width: 698px;
	margin: 0 auto 75px;
	font: 300 24px Roboto;
	text-align: center;
}
.competitors img {
	width: 100%;
	margin-bottom: 80px;
}
.competitors .descr {
	margin: 0 0 33px;
	font: 300 18px/24px Roboto
}
.competitors .warranty {
	color: #ed1c24;
	font: 300 18px/24px Roboto
}
.garanty h2 span {
	color: #29abe1
}
.info {
	background: #D1F1F8;
}
.info-top {
	border-radius: 5px;
	background-color: #85acb5;
	color: #fff
}
.owl-next {
	background: url(../images/media/arrowRight.png) center right no-repeat;
	color: #FFF;
}
.owl-prev {
	background: url(../images/media/arrowLeft.png) center left no-repeat;
	color: #FFF;
}

.bx-wrapper .bx-controls-direction a {color: #FFF;}
.bx-wrapper .bx-prev {
	background: url(../images/media/arrowLeft.png) center left no-repeat;
	color: #FFF;
}
.bx-wrapper .bx-next {
	background: url(../images/media/arrowRight.png) center right no-repeat;
	color: #FFF;
}
.bx-wrapper .bx-pager {
   color: #FFF;
}

dd a {
	color: #29abe1
}
.hidden button{
	height: 50px;
	-webkit-border-radius: 5px;
	        border-radius: 5px;
	background-color: #29abe1;
	color: #fff;
	font: 300 18px/30px Roboto;
	cursor: pointer;
	text-transform: none;
}
.hide {
	display: none;
}
.review-button {
	background: none;
}
.bottom {
	background: #D1F1F8;
	padding-bottom: 120px;
	margin: 0;
}
.bottom-block {
	margin: 0;
	border-radius: 5px;
	overflow: hidden;
}
.footer-nav .third {
	float: right;
}
.footer-nav {
	background: #000;
	border: none;
}
.footer-nav .second {
	float: none !important;
	margin: 0;
	text-align: center;
}
.footer-nav li {
	margin: 0;
}
.footer-nav li a {
	color: #fff;
}
.footer-nav li:before {
	display: none;
}
.footer-bottom {
	background: #202020;
	padding: 60px 0 55px;
}
.footer-bottom .copy {
	color: #FFF;
}
.footer-bottom a{
	color: #FFF;
}
.footer-download-text {
	float: right;
	width: 80px;
	color: #FFF;
	font: 300 14px/18px Roboto;
	text-align: left;
}
.footer-download {
	margin-top: 0px;
}
.footer-download img {
	-webkit-border-radius: 3px;
	        border-radius: 3px;
	margin-right: 15px;
	height: 36px;
	width: auto;
}