{% extends 'cabinet/cabinet_base.html' %}
{% block content %}
  <div class="container">
    <div class="col-lg-12">
      <ol class="breadcrumb">
        <li><a href="{% url 'dashboard:index' %}">Рабочий стол</a></li>
        <li><a href="{% url 'manager:list' %}">Список менеджеров</a></li>
        <li class="active">Редактирование менеджера</li>
      </ol>
      <div class="panel panel-default">
        <div class="panel-heading">
          <p class="lead text-center remove-bottom">Редактирование менеджера {{ object.email }}</p>
        </div>
        <div class="panel-body">
          <div class="col-lg-12">
              {% if error %}
                <div class="alert alert-danger">
                  {{ error }}
                </div>
              {%  endif %}
              {% if success %}
                <div class="alert alert-success">
                  {{ success }}
                </div>
              {% endif %}
          </div>
          <div class="col-lg-6">
            <form action="" role="form" id="js-form-manager-update" method="post">
              {% csrf_token %}
              <div class="form-group {% if user.type == 2 or user.type == 5  %}hide{% endif %}">
                <div class="col-lg-5">
                  {{ m_form.moderator.label_tag }}
                </div>
                <div class="col-lg-7">
                  {{ m_form.moderator }}
                </div>
                <div class="clearfix"></div>
                {{ m_form.moderator.errors }}
              </div>
              <div class="form-group">
                <p class="text-info lead">Персональная информация</p>
                <div class="col-lg-5">
                  {{ u_form.email.label_tag }}
                </div>
                <div class="col-lg-7">
                  {{ u_form.email }}
                </div>
                <div class="clearfix"></div>
                {{ u_form.email.errors }}
              </div>
              <div class="form-group">
                <div class="col-lg-5">
                  {{ u_form.last_name.label_tag }}
                </div>
                <div class="col-lg-7">
                  {{ u_form.last_name }}
                </div>
                <div class="clearfix"></div>
                {{ u_form.last_name.errors }}
              </div>
              <div class="form-group">
                <div class="col-lg-5">
                  {{ u_form.first_name.label_tag }}
                </div>
                <div class="col-lg-7">
                  {{ u_form.first_name }}
                </div>
                <div class="clearfix"></div>
                {{ u_form.first_name.errors }}
              </div>
              <div class="form-group">
                <div class="col-lg-5">
                  {{ u_form.patronymic.label_tag }}
                </div>
                <div class="col-lg-7">
                  {{ u_form.patronymic }}
                </div>
                <div class="clearfix"></div>
                {{ u_form.patronymic.errors }}
              </div>
              <div class="form-group add-bottom">
                <div class="col-lg-5">
                  {{ u_form.phone.label_tag }}
                </div>
                <div class="col-lg-7">
                  {{ u_form.phone }}
                </div>
                <div class="clearfix"></div>
                {{ u_form.phone.errors }}
              </div>
              <div class="form-group">
                <div class="col-lg-5">
                  {{ m_form.leader.label_tag }}
                </div>
                <div class="col-lg-7">
                  {{ m_form.leader }}
                </div>
                <div class="clearfix"></div>
                {{ m_form.leader.errors }}
              </div>
              <button type="submit" class="btn btn-default">Сохранить изменения</button>
            </form>
          </div>
          <div class="col-lg-6">
            <p class="text-info lead">Смена пароля</p>
            {% include 'core/__includes/user_password_change_form.html' with user_id=object.id %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}