{% extends 'cabinet/cabinet_base.html' %}
{% block viewport %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}
{% block title %}Редактирование менеджера {{ object }} | {{ block.super }}{% endblock %}
{% block content %}
  <div class="breadcrumb-container">
    <div class="container">
      <div class="col-md-12">
        <ol class="breadcrumb">
          <li><a href="{% url 'dashboard:index' %}">Рабочий стол</a></li>
          <li><a href="{% url 'manager:list' %}">Список менеджеров</a></li>
          <li class="active">Редактирование менеджера {{ object }}</li>
        </ol>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="page-top">
        <div class="col-md-12">
          <span class="page-top__title">Редактирование менеджера {{ object }}</span>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="panel-content">
              <div class="col-md-12">
                  {% if form.is_bound %}
                  {% if form.is_valid %}
                    <div class="alert alert-success">
                      Изменения успешно сохранены
                    </div>
                  {% else %}
                    <div class="alert alert-danger">
                      Проверьте правильность ввода полей!
                    </div>
                  {% endif %}
                  {% endif %}
              </div>
              <form action="" role="form" class="form add-bottom" id="js-form-manager-update" method="post">
                {% csrf_token %}
                {{ form.user.user }}
                <div class="col-md-6">
                  <p class="text-info lead">Контактная информация</p>
                  <div class="form-group{% if user.type != 1 %} hide{% endif %}">
                    {{ form.manager.moderator.label_tag }}
                    {{ form.manager.moderator }}
                    {{ form.manager.moderator.errors }}
                  </div>
                  <div class="form-group">
                    {{ form.user.email.label_tag }}
                    {{ form.user.email }}
                    {{ form.user.email.errors }}
                  </div>
                  <div class="form-group">
                    {{ form.user.phone.label_tag }}
                    {{ form.user.phone }}
                    {{ form.user.phone.errors }}
                  </div>
                  <div class="form-group">
                    {{ form.user.is_active.label_tag }}
                    {{ form.user.is_active }}
                    {{ form.user.is_active.errors }}
                  </div>
                </div>
                <div class="col-md-6">
                  <p class="text-info lead">Личные данные</p>
                  <div class="form-group">
                    {{ form.user.last_name.label_tag }}
                    {{ form.user.last_name }}
                    {{ form.user.last_name.errors }}
                  </div>
                  <div class="form-group">
                    {{ form.user.first_name.label_tag }}
                    {{ form.user.first_name }}
                    {{ form.user.first_name.errors }}
                  </div>
                  <div class="form-group">
                    {{ form.user.patronymic.label_tag }}
                    {{ form.user.patronymic }}
                    {{ form.user.patronymic.errors }}
                  </div>
                  <div class="form-group">
                    {{ form.manager.leader.label_tag }}
                    {{ form.manager.leader }}
                    {{ form.manager.leader.errors }}
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-6">
                  <button type="submit" class="btn btn-save">Сохранить изменения</button>
                </div>
                <div class="clearfix"></div>
              </form>
              <div class="col-md-6">
                <p class="text-info lead">Смена пароля</p>
                {% include 'core/__includes/user_password_change_form.html' with user_id=object.user.id %}
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
