{% extends 'cabinet/cabinet_base.html' %}
{% load staticfiles %}
{% block viewport %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}
{% block title %}Редактирование распространителя {{ object }} | {{ block.super }}{% endblock %}
{% block extra_js %}
  <script src="{% static 'distributor/js/distributor.js' %}"></script>
{% endblock %}
{% block content %}
  <div class="breadcrumb-container">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ol class="breadcrumb">
            <li><a href="{% url 'dashboard:index' %}">Рабочий стол</a></li>
            <li><a href="{% url 'distributor:list' %}">Список распространителей</a></li>
            <li class="active">Редактирование распространителя</li>
          </ol>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="page-top">
        <div class="col-md-12">
          <span class="page-top__title">Редактирование распространителя {{ object }}</span>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="panel-content">
              {% if form.is_bound %}
              {% if form.is_valid %}
                <div class="alert alert-success">
                  Изменения успешно сохранены
                </div>
              {% else %}
                <div class="alert alert-danger">
                  Проверьте правильность ввода полей!
                </div>
              {% endif %}
              {% endif %}
              <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#user">Информация о пользователе</a></li>
                <li><a data-toggle="tab" href="#tasks">Задачи</a></li>
                <li><a data-toggle="tab" href="#payment">Стоимость работы</a></li>
              </ul>
              <div class="tab-content">
                <div id="user" class="tab-pane fade in active">
                  <br>
                  {% include 'distributor/__includes/distributor_update_form.html' %}
                  <div class="col-md-6">
                    <p class="text-info lead">Смена пароля</p>
                    {% include 'core/__includes/user_password_change_form.html' with user_id=object.user.id %}
                  </div>
                  <div class="clearfix"></div>
                </div>
                <div id="tasks" class="tab-pane fade">
                  <br>
                  <div class="col-md-12">
                    {% load tasks %}
                    {% if months %}
                      <div class="add-bottom panel panel-success">
                        <div class="panel-heading js-calendar-heading">
                          Календарь работ <span class="caret"></span>
                        </div>
                        <div class="panel-body js-calendar-body">
                      {% for date in months %}
                          <div class="calendar col-lg-3 add-bottom">
                          {% calendar object.user date.year date.month %}
                          </div>
                      {% endfor %}
                          <div class="clearfix"></div>
                        </div>
                      </div>
                    {% endif %}
                  </div>
                  {% if object.distributortask_set.all %}
                  <div class="col-md-12">
                    <div class="table-container">
                      <table class="table table-list">
                        <thead>
                          <tr>
                            <th></th>
                            <th>Город</th>
                            <th>Район</th>
                            <th>Тип задачи</th>
                            <th>Дата задачи</th>
                            <th>кол-во рекламных материалов, шт</th>
                            <th>Стоимость работы, руб</th>
                            <th>&nbsp;</th>
                          </tr>
                        </thead>
                        <tbody class="js-list">
                        {% for task in object.distributortask_set.all %}
                          <tr data-id="{{ task.id }}" data-name="{{ task }}" data-model="DistributorTask" id="id_DistributorTask_{{ task.id }}">
                            <td><a href="{% url 'distributor:task-update' task.id %}" class="btn btn-sm btn-info"><span class="glyphicon glyphicon-edit"></span> редактировать</a></td>
                            <td>{{ task.sale.city|default:'Не указано' }}</td>
                            <td>{{ task.area|default:'Не указано' }}</td>
                            <td>{{ task.get_type_display|default:'Не указано' }}</td>
                            <td>{{ task.date|default:'Не указано' }}</td>
                            <td>{{ task.material_count|default:'Не указано' }}</td>
                            <td>{{ task.total_cost|default:'Не указано' }}</td>
                            <td>
                              <a href="#js-ajax-item-remove" id="js-ajax-remove-btn-{{ task.id }}" class="text-danger js-ajax-remove-btn">
                                <span class="glyphicon glyphicon-remove"></span>
                              </a>
                            </td>
                          </tr>
                        {% empty %}
                          <tr>
                            <td colspan="8">
                              <p class="alert alert-info text-left">Задач не найдено</p>
                            </td>
                          </tr>
                        {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                  {% endif %}
                </div>
                <div id="payment" class="tab-pane fade">
                  <br>
                  <div class="col-md-12">
                    {% include 'distributor/__includes/distributor_payment_form.html' %}
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  {% include '__modal/js_ajax_remove_form.html' %}
{% endblock %}
