{% extends 'cabinet/cabinet_base.html' %}
{% block viewport %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}
{% block title %}Список распространителей | {{ block.super }}{% endblock %}
{% block content %}
  <div class="breadcrumb-container">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ol class="breadcrumb">
            <li><a href="{% url 'dashboard:index' %}">Рабочий стол</a></li>
            <li class="active">Список распространителей</li>
          </ol>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="page-top">
        <div class="col-md-6">
          <span class="page-top__title">Распространители</span><span class="page-top__count"> / {{ page_obj.paginator.count|default:'0' }}</span>
        </div>
        <div class="col-md-6">
          <a href="{% url 'distributor:add' %}" class="btn btn-add page-top__btn" title="Добавить нового распространителя">
            <span class="glyphicon glyphicon-plus-sign"></span> Добавить нового распространителя
          </a>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <form action="" method="GET" role="form" id="js-form-distributor-search" class="form form-filter add-bottom">
              <div class="col-md-12">
                <div class="five-col-1">
                  <input type="text" name="email" id="id_email" value="{{ r_email|default:'' }}" class="form-control" placeholder="e-mail">
                </div>
                <div class="five-col-1">
                  <input type="text" name="last_name" id="id_last_name" value="{{ r_last_name|default:'' }}" class="form-control" placeholder="Фамилия">
                </div>
                <div class="five-col-1">
                  <input type="text" name="first_name" id="id_first_name" value="{{ r_first_name|default:'' }}" class="form-control" placeholder="Имя">
                </div>
                <div class="five-col-1">
                  <input type="text" name="phone" id="id_phone" value="{{ r_phone|default:'' }}" class="form-control" placeholder="Телефон">
                </div>
                <div class="five-col-2">
                  <input type="text" name="moderator" id="id_moderator" value="{{ r_moderator|default:'' }}" class="form-control" placeholder="Организация">
                </div>
                <div class="five-col-2">
                  <input type="submit" class="btn btn-search" value="Искать распространителей">
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="clearfix"></div>
            </form>
            <div class="col-md-12">
              <div class="panel panel-success">
                <div class="panel-heading js-toggle-heading">Карта местонахождения распространителей <span class="caret"></span></div>
                <div class="panel-body js-toggle-body">
                  <div id="map" style="height: 500px;" data-url="{% url 'distributor:get_current_location' %}">
                  </div>
                </div>
              </div>
              <div class="table-container">
                <table class="table table-list">
                  <thead>
                    <tr>
                      <th>e-mail</th>
                      <th>Организация</th>
                      <th>Фамлия</th>
                      <th>Имя</th>
                      <th>Отчество</th>
                      <th>Телефон</th>
                      <th>&nbsp;</th>
                    </tr>
                  </thead>
                  <tbody class="js-list">
                  {% for object in object_list %}
                    <tr data-id="{{ object.id }}" data-name="{{ object.get_full_name }}" data-model="User" id="id_User_{{ object.id }}">
                      <td><a href="{% url 'distributor:update' object.distributor_user.id %}"> {{ object.email|default:'' }}</a></td>
                      <td>{{ object.distributor_user.moderator|default:'Не указано' }}</td>
                      <td>{{ object.last_name|default:'Не указано' }}</td>
                      <td>{{ object.first_name|default:'Не указано' }}</td>
                      <td>{{ object.patronymic|default:'Не указано' }}</td>
                      <td>{{ object.phone|default:'Не указано' }}</td>
                      <td>
                        <a href="#js-ajax-item-remove" id="js-ajax-remove-btn-User-{{ object.id }}" class="text-danger js-ajax-remove-btn">
                          <span class="glyphicon glyphicon-remove"></span>
                        </a>
                      </td>
                    </tr>
                  {% empty %}
                    <tr>
                      <td colspan="7">
                        <p class="alert alert-info text-left">Распространителей не найдено</p>
                      </td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        {% include '__includes/pagination.html' %}
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  {% include '__modal/js_ajax_remove_form.html' %}
{% endblock %}
{% block bottom_js %}
<script src="//api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
<script>
ymaps.ready(init);
function init() {
  var map_id = $('#map');
  var url = map_id.data('url');
  var data_list = '';
  var center = '';
  var form_id = $('#js-form-distributor-search');
  var email = form_id.find('#id_email').val();
  var moderator = form_id.find('#id_moderator').val();
  var last_name = form_id.find('#id_last_name').val();
  var first_name = form_id.find('#id_first_name').val();
  var phone = form_id.find('#id_phone').val();
  $.ajax({
    type: "POST",
    async: false,
    url: url,
    data: {
      email: email,
      moderator: moderator,
      last_name: last_name,
      first_name: first_name,
      phone: phone
    }
  }).done(function (data) {
    center = data.center;
    data_list = data.data_list;
  });
  var myMap = new ymaps.Map("map", {
      center: center,
      zoom: 13
    }, {
      searchControlProvider: 'yandex#search'
  });
  for(var i = 0; i < data_list.length; i++) {
    myMap.geoObjects.add(
      new ymaps.Placemark([data_list[i]['coord_x'], data_list[i]['coord_y']], {
          balloonContent: data_list[i]['name'] + '<br>' + data_list[i]['coord_time'],
          hintContent: data_list[i]['name'] + '<br>' + data_list[i]['coord_time'],
          iconContent: data_list[i]['name']
        }, {
          preset: 'islands#darkGreenStretchyIcon'
        }
      )
    );
  }
}
</script>
{% endblock %}