{% extends 'cabinet/cabinet_base.html' %}
{% block content %}
  <div class="container">
    <div class="col-lg-12">
      <ol class="breadcrumb">
        <li><a href="{% url 'dashboard:index' %}">Рабочий стол</a></li>
        {% if archive %}
        <li class="active">Архив задач</li>
        {% else %}
        <li class="active">Список задач для распространителей</li>
        {% endif %}
      </ol>
      <div class="panel panel-default">
        <div class="panel-heading">
        {% if archive %}
          <p class="lead remove-bottom text-center">Архив задач</p>
        {% else %}
          <p class="lead remove-bottom text-center">Список задач для распространителей</p>
        {% endif %}
        </div>
        <div class="panel-body">
        {% if not archive %}
          {% if user.type != 4 %}
            <a href="{% url 'distributor:task-add' %}" class="btn btn-success add-bottom">
              <span class="glyphicon glyphicon-plus-sign"></span> Добавить новую задачу
            </a>
          {% endif %}
        {% endif %}
        {% if not archive %}
          <div class="col-lg-12">
            {% load tasks %}
            {% if months %}
              <div class="add-bottom panel panel-success">
                <div class="panel-heading js-calendar-heading">
                  Календарь работ <span class="caret"></span>
                </div>
                <div class="panel-body js-calendar-body">
              {% for date in months %}
                  <div class="calendar col-lg-3 add-bottom">
                  {% calendar user date.year date.month %}
                  </div>
              {% endfor %}
                  <div class="clearfix"></div>
                </div>
              </div>
            {% endif %}
          </div>
        {% endif %}
          <form action="" method="GET" id="js-distributor-task-list-search-form" role="form" class="form-inline">
            <input type="text" name="city" value="{{ r_city|default:'' }}" class="form-control input-sm" placeholder="Город">
            {% if user.type == 1 %}
            <input type="text" name="company" value="{{ r_company|default:'' }}" class="form-control input-sm" placeholder="Организация">
            {% endif %}
            <input type="text" name="distributor" value="{{ r_distributor|default:'' }}" class="form-control input-sm" placeholder="Распространитель">
            {% if user.type != 1 %}
            <select name="type" class="form-control input-sm">
              <option value="">---- Тип задачи ----</option>
            {% for type in action_list %}
              <option value="{{ type.id }}" {% if r_type == type.id %}selected="selected"{% endif %}>{{ type.name }}</option>
            {% endfor %}
            </select>
            {% endif %}
            <input type="text" name="date" id="id_date" value="{{ r_date|default:'' }}" class="form-control input-sm" placeholder="Дата">
            <button type="submit" class="btn btn-info btn-sm"> <span class="glyphicon glyphicon-search"></span> Искать</button>
          </form>
          <table class="table table-condensed table-hover" style="font-size: 12px;">
            <thead>
              <tr>
                <th></th>
                <th>Распространитель</th>
                <th>Город</th>
                <th>Район</th>
                <th>{% if user.type == 1 %}Организация{% endif %}</th>
                <th>{% if user.type != 1 %}Тип задачи{% endif %}</th>
                <th>Дата задачи</th>
                <th>кол-во рекламных материалов, шт</th>
                <th>Стоимость работы, руб</th>
                <th>&nbsp;</th>
              </tr>
            </thead>
            <tbody class="js-list">
            {% for object in object_list %}
              <tr data-id="{{ object.id }}" data-name="{{ object }}" data-model="DistributorTask" id="id_DistributorTask_{{ object.id }}">
                <td><a href="{% url 'distributor:task-update' object.id %}" class="btn btn-sm btn-info"><span class="glyphicon glyphicon-edit"></span> редактировать</a></td>
                <td>{{ object.distributor|default:'Не указано' }}</td>
                <td>{{ object.sale.city|default:'Не указано' }}</td>
                <td>{{ object.area|default:'Не указано' }}</td>
                <td>{% if user.type == 1 %}{{ object.distributor.moderator.company|default:'Не указано' }}{% endif %}</td>
                <td>{{ object.type|default:'Не указано' }}</td>
                <td>{{ object.date|date:"d.m.Y"|default:'Не указано' }}</td>
                <td>{{ object.material_count|default:'Не указано' }}</td>
                <td>{{ object.total_cost|default:'Не указано' }}</td>
                <td>
                  <a href="#js-ajax-item-remove" id="js-ajax-remove-btn-{{ object.id }}" class="btn btn-sm btn-danger js-ajax-remove-btn">
                    <span class="glyphicon glyphicon-remove"></span> Удалить
                  </a>
                </td>
              </tr>
            {% empty %}
              <tr>
                <td colspan="10">
                  <p class="alert alert-info">Задач не найдено</p>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
          {% include '__includes/pagination.html' %}
        </div>
      </div>
    </div>
  </div>
  {% include '__modal/js_ajax_remove_form.html' %}
{% endblock %}