{% extends 'cabinet/cabinet_base.html' %}
{% block viewport %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}
{% block title %}Редактирование задачи | {{ block.super }}{% endblock %}
{% block content %}
  <div class="breadcrumb-container">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ol class="breadcrumb">
            <li><a href="{% url 'dashboard:index' %}">Рабочий стол</a></li>
            <li><a href="{% url 'distributor:task-list' %}">Список задач для распространителей</a></li>
            <li class="active">Редактирование задачи</li>
          </ol>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="page-top">
        <div class="col-md-12">
          <span class="page-top__title">Редактирование задачи {{ object }}</span>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        {% include 'distributor/__includes/task_menu.html' %}
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="panel-content">
              <div class="col-md-6">
                <p>Всего израсходовано материалов: <strong>{{ material_count|default:'не указано' }}</strong></p>
              </div>
              <div class="col-md-6 text-right">
                <p>Осталось материалов в заказе: <strong>{{ object.order.material_residue|default:'0' }}</strong></p>
              </div>
              <div class="clearfix"></div>
              <div id="map" data-task="{{ object.id }}" data-url="{% url 'distributor:get_task_cord_list' %}" style="width:100%; height:500px"></div>
              <div id="photo_list" style="overflow: scroll">
              {% if point_list %}
                <table class="table">
                  <thead>
                    <tr>
                      <th>Адрес\Координаты</th>
                      <th>Время</th>
    {#                      <th>Комментарий</th>#}
                      <th colspan="2">Кол-во материала</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody class="js-list">
                  {% for point in point_list %}
                    <tr data-id="{{ point.id }}" data-name="контрольную точку {{ point }}" data-model="GPSPoint" id="id_GPSPoint_{{ point.id }}">
                      <td>{{ point|default:'Не указано' }}</td>
                      <td>{{ point.timestamp|time:'H:i'|default:'Не указано' }} - {{ point.timestamp|date:'d.m.Y'|default:'Не указано' }}</td>
    {#                      <td>{{ point.comment|default:'Не указано' }}</td>#}
                      <td>{{ point.count|default:'Не указано' }}</td>
                      <td>
                        <a href="{% url 'distributor:gpspoint-update' point.id %}" class="btn btn-sm btn-info">
                          <span class="glyphicon glyphicon-edit"></span> редактировать
                        </a>
                      </td>
                      <td>
                        <a href="#js-ajax-item-remove" id="js-ajax-remove-btn-{{ point.id }}" class="text-danger js-ajax-remove-btn">
                          <span class="glyphicon glyphicon-remove"></span>
                        </a>
                      </td>
                    </tr>
                    {% if point.pointphoto_set.all %}
                    <tr id="id_GPSPoint_{{ point.id }}_photo">
                      <td colspan="6" class="gpspoint-photo-container">
                      {% for photo in point.pointphoto_set.all %}
                        <a href="{{ photo.photo.url }}" rel="group" class="js-gallery" title="{{ photo.name }}, время {{ photo.timestamp|time:'H:i'|default:'Не указано' }}">
    {#                      <span class="glyphicon glyphicon-camera"></span>#}
                          <img src="{{ photo.image_resize.url }}" alt="">
                        </a>
                      {% endfor %}
                      </td>
                    </tr>
                    {% endif %}
                  {% endfor %}
                  </tbody>
                </table>
              {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  {% include '__modal/js_ajax_remove_form.html' %}
{% endblock %}
{% block bottom_js %}
<script src="//api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
<script>
ymaps.ready(init);
function init() {
  var map_id = $('#map');
  var url = map_id.data('url');
  var task = map_id.data('task');
  var data_list = '';
  var center = '';
  $.ajax({
    type: "POST",
    async: false,
    url: url,
    data: {
      task: task
    }
  }).done(function (data) {
    center = data.center;
    if (data.coord_list.length){
      data_list = data.coord_list;
      for(var i=0;i<data_list.length;i++){
        console.log(data_list[i])
      }
    } else {
      if (data.address_list.length) {
        data_list = data.address_list;
      }
    }
  });
  var myMap = new ymaps.Map("map", {
      center: center,
      zoom: 13
    }, {
      searchControlProvider: 'yandex#search'
  });
  if (data_list.length > 1){
    ymaps.route(
      data_list
    ).then(function (route) {
      route.options.set('routingMode', 'pedestrian');
      myMap.geoObjects.add(route);
      var points = route.getWayPoints();
      points.options.set('preset', 'islands#redStretchyIcon');
    }, function (error) {
      alert('Возникла ошибка: ' + error.message);
    });
  } else {
    myPlacemark = new ymaps.Placemark(myMap.getCenter(), {
            hintContent: data_list[0],
            balloonContent: data_list[0]
        });
    myMap.geoObjects.add(myPlacemark);
  }
}
</script>
{% endblock %}