{% extends 'cabinet/cabinet_base.html' %}
{% load staticfiles %}
{% block viewport %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}
{% block title %}Редактирование задачи | {{ block.super }}{% endblock %}
{% block extra_js %}
  <script src="{% static 'distributor/js/distributor.js' %}"></script>
{% endblock %}
{% block content %}
  <div class="breadcrumb-container">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ol class="breadcrumb">
            <li><a href="{% url 'dashboard:index' %}">Рабочий стол</a></li>
            <li><a href="{% url 'distributor:task-list' %}">Список задач для распространителей</a></li>
            <li class="active">Редактирование задачи</li>
          </ol>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="page-top">
        <div class="col-md-12">
          <span class="page-top__title">{{ object }}</span>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        {% include 'distributor/__includes/task_menu.html' %}
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="panel-content">
              <form action="" role="form" class="form" id="js-form-distributor-task-quest-update" method="post">
                {% csrf_token %}
                {{ form.errors }}
                {{ form.category }}
                <div class="col-md-6">
                  <div class="form-group" data-url="{% url 'distributor:get_task_initial' %}">
                    {{ form.sale.label_tag }}
                    {{ form.sale }}
                    <input type="text" value="{{ object.sale }}" disabled="disabled" class="form-control">
                    {{ form.sale.errors }}
                  </div>
                  <div class="form-group">
                    {{ form.distributor.label_tag }}
                    {{ form.distributor }}
                    {{ form.distributor.errors }}
                  </div>
                  <div class="form-group">
                    {{ form.material_count.label_tag }}
                    {{ form.material_count }}
                    {{ form.material_count.errors }}
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    {{ form.order.label_tag }}
                    {{ form.order }}
                    {{ form.order.errors }}
                  </div>
                  <div class="form-group">
                    {{ form.date.label_tag }}
                    {{ form.date }}
                    {{ form.date.errors }}
                  </div>
                  <div class="form-group">
                    {{ form.radius.label_tag }}
                    {{ form.radius }}
                    {{ form.radius.errors }}
                  </div>
                  <div class="form-group">
                    {{ form.closed.label_tag }}
                    {{ form.closed }}
                    {{ form.closed.errors }}
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12 add-bottom">
                  <div id="map" style="height:500px;width:100%;"></div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    {{ form.coord_x.label_tag }}
                    {{ form.coord_x }}
                    {{ form.coord_x.errors }}
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    {{ form.coord_y.label_tag }}
                    {{ form.coord_y }}
                    {{ form.coord_y.errors }}
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    {{ form.comment.label_tag }}
                    {{ form.comment }}
                    {{ form.comment.errors }}
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-6">
                  <input type="submit" class="btn btn-save" value="Сохранить изменения">
                </div>
                <div class="clerfix"></div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
{% endblock %}
{% block bottom_js %}
<script src="//api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
<script src="{% static 'distributor/js/distributor-task-map.js' %}" type="text/javascript"></script>
{% endblock %}
