{% extends 'cabinet/cabinet_base.html' %}
{% block viewport %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}
{% block title %}Редактирование задачи | {{ block.super }}{% endblock %}
{% block content %}
  <div class="breadcrumb-container">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ol class="breadcrumb">
            <li><a href="{% url 'dashboard:index' %}">Рабочий стол</a></li>
            <li><a href="{% url 'distributor:task-list' %}">Список задач для распространителей</a></li>
            <li class="active">Редактирование задачи</li>
          </ol>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="page-top">
        <div class="col-md-12">
          <span class="page-top__title">Архив задач</span>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        {% include 'distributor/__includes/task_menu.html' %}
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="panel-content">
              <form action="" role="form" class="form" id="js-form-distributor-task-update" method="post">
                {% csrf_token %}
                    {{ form.errors }}
                <div class="col-md-6">
                  <div class="form-group" data-url="{% url 'distributor:get_task_initial' %}">
                    {{ form.sale.label_tag }}
                    {{ form.sale }}
                    <input type="text" value="{{ object.sale }}" disabled="disabled" class="form-control">
                    {{ form.sale.errors }}
                  </div>
                  <div class="form-group">
                    {{ form.order.label_tag }}
                    {{ form.order }}
                    {{ form.order.errors }}
                    <div class="text-info">
                      По заказу осталось распространить листовок: {{ object.order.material_residue|default:'0' }}
                    </div>
                  </div>
                  <div class="form-group">
                    {{ form.distributor.label_tag }}
                    {{ form.distributor }}
                    {{ form.distributor.errors }}
                  </div>
                  <div class="form-group">
                    {{ form.area.label_tag }}
                    {{ form.area }}
                    {{ form.area.errors }}
                  </div>
                  <div class="form-group">
                    {{ form.type.label_tag }}
                    {{ form.type }}
                    {{ form.type.errors }}
                  </div>
                  <div class="form-group">
                    {{ form.define_address.label_tag }}
                    {{ form.define_address }}
                    {{ form.define_address.errors }}
                  </div>
                  <div class="form-group">
                    {{ form.closed.label_tag }}
                    {{ form.closed }}
                    {{ form.closed.errors }}
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    {{ form.material_count.label_tag }}
                    {{ form.material_count }}
                    {{ form.material_count.errors }}
                  </div>
                  <div class="form-group">
                    {{ form.date.label_tag }}
                    {{ form.date }}
                    {{ form.date.errors }}
                    <div>&nbsp;</div>
                  </div>
                  <div class="form-group">
                    {{ form.comment.label_tag }}
                    {{ form.comment }}
                    {{ form.comment.errors }}
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-6">
                  <input type="submit" class="btn btn-save" value="Сохранить изменения">
                </div>
                <div class="clerfix"></div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
{% endblock %}
