<nav class="navbar navbar-default">
  <div class="col-lg-8">
    <a href="{% url 'dashboard:index' %}" title="Рабочий стол">
      <img src="{{ STATIC_URL }}img/banner_control.jpg" alt="Контроль расклейки и распространения">
    </a>
  </div>
  <div class="col-lg-4 text-right">
    <div>
      <ul class="nav navbar-nav navbar-right">

        {% if is_demo_login %}
          <li><a href="#"><span class="glyphicon glyphicon-user"></span> {{ user }} </a></li>
          <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Выход</a></li>
        {% else %}
          <li><a href="{% url 'profile' %}"><span class="glyphicon glyphicon-user"></span> {{ user }} </a></li>
          <li><a href="{% url 'logout' %}?next={% url 'dashboard:index' %}"><span class="glyphicon glyphicon-log-out"></span> Выход</a></li>
        {% endif %}


      </ul>
      <div class="clearfix"></div>
    </div>
  </div>
{% if user.type != 3 and not user.deny_access %}
  <div class="col-lg-12">
    <ul class="nav navbar-nav">
      <li><a href="{% url 'dashboard:index' %}">Рабочий стол</a></li>
      <li class="dropdown">
        <a href="" class="dropdown-toggle" data-toggle="dropdown">CRM <span class="caret"></span></a>
        <ul class="dropdown-menu">
        {% if user.manager_user and not user.manager_user.leader %}{% else %}
          <li><a href="{% url 'manager:list' %}"><span class="glyphicon glyphicon-list-alt text-success"></span> Список менеджеров</a></li>
          <li><a href="{% url 'manager:add' %}"><span class="glyphicon glyphicon-plus-sign text-success"></span> Добавить нового менеджера</a></li>
          <li class="divider"></li>
        {% endif %}
          <li><a href="{% url 'client:list' %}"><span class="glyphicon glyphicon-list-alt text-success"></span> Журнал клиентов</a></li>
          <li><a href="{% url 'client:add' %}"><span class="glyphicon glyphicon-plus-sign text-success"></span> Добавить нового клиента</a></li>
          <li class="divider"></li>
          <li><a href="{% url 'client:task-list' %}"><span class="glyphicon glyphicon-list-alt text-success"></span> Журнал задач по клиентам</a></li>
          <li><a href="{% url 'client:task-add' %}"><span class="glyphicon glyphicon-plus-sign text-success"></span> Добавить новую задачу по клиенту</a></li>
        </ul>
      </li>
    {% if user.type == 1 %}
      <li class="dropdown">
        <a href="" class="dropdown-toggle" data-toggle="dropdown">
          Администраторы <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a href="{% url 'administrator:list' %}">
              <span class="glyphicon glyphicon-list-alt text-success"></span> Список администраторов
            </a>
          </li>
          <li>
            <a href="{% url 'administrator:add' %}">
              <span class="glyphicon glyphicon-plus-sign text-success"></span> Добавить нового администратора
            </a>
          </li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="" class="dropdown-toggle" data-toggle="dropdown">
          Модераторы <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a href="{% url 'moderator:list' %}">
              <span class="glyphicon glyphicon-list-alt text-success"></span> Список модераторов
            </a>
          </li>
          <li>
            <a href="{% url 'moderator:add' %}">
              <span class="glyphicon glyphicon-plus-sign text-success"></span> Добавить нового модератора
            </a>
          </li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="" class="dropdown-toggle" data-toggle="dropdown">
          Платёжные пакеты <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a href="{% url 'package:list' %}">
              <span class="glyphicon glyphicon-list-alt text-success"></span> Список платёжных пакетов
            </a>
          </li>
          <li>
            <a href="{% url 'package:add' %}">
              <span class="glyphicon glyphicon-plus-sign text-success"></span> Добавить новый платёжный пакет
            </a>
          </li>
        </ul>
      </li>
    {% endif %}
    {% if user.manager_user and not user.manager_user.leader %}{% else %}
      <li class="dropdown">
        <a href="" class="dropdown-toggle" data-toggle="dropdown">
          Города <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a href="{% url 'city:list' %}">
              <span class="glyphicon glyphicon-list-alt text-success"></span> Список городов
            </a>
          </li>
        {% if user.type == 1 %}
          <li>
            <a href="{% url 'city:list' %}">
              <span class="glyphicon glyphicon-plus-sign text-success"></span> Добавить новый город
            </a>
          </li>
        {% endif %}
        </ul>
      </li>
    {% endif %}
      <li class="dropdown">
        <a href="" class="dropdown-toggle" data-toggle="dropdown">
          Продажи <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a href="{% url 'sale:list' %}">
              <span class="glyphicon glyphicon-list-alt text-success"></span> Список продаж
            </a>
          </li>
          <li>
            <a href="{% url 'sale:add' %}">
              <span class="glyphicon glyphicon-plus-sign text-success"></span> Добавить новую продажу
            </a>
          </li>
          <li class="divider"></li>
          <li>
            <a href="{% url 'sale:journal' %}">
              <span class="glyphicon glyphicon-list-alt text-success"></span> Журнал продаж
            </a>
          </li>
        </ul>
      </li>
    {% if user.manager_user and not user.manager_user.leader %}{% else %}
      <li class="dropdown">
        <a href="" class="dropdown-toggle" data-toggle="dropdown">
          Распространители <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a href="{% url 'distributor:list' %}">
              <span class="glyphicon glyphicon-list-alt text-success"></span> Список распространителей
            </a>
          </li>
          <li>
            <a href="{% url 'distributor:add' %}">
              <span class="glyphicon glyphicon-plus-sign text-success"></span> Добавить нового распространителя
            </a>
          </li>
          <li class="divider"></li>
          <li>
            <a href="{% url 'distributor:task-list' %}">
              <span class="glyphicon glyphicon-list-alt text-success"></span> Список задач для распространителей
            </a>
          </li>
          <li>
            <a href="{% url 'distributor:task-add' %}">
              <span class="glyphicon glyphicon-plus-sign text-success"></span> Добавить новую задачу для распространителя
            </a>
          </li>
          <li>
            <a href="{% url 'distributor:task-archive' %}">
              <span class="glyphicon glyphicon-calendar text-success"></span> Архив задач
            </a>
          </li>
        </ul>
      </li>
    {% endif %}
    </ul>
  </div>
{% endif %}
  <div class="clearfix"></div>
</nav>