<div class="dashboard-modal dashboard-modal-profile">
  <div class="container">
    <div class="row">
      <div class="dashboard-mobile dashboard-modal-close js-dashboard-modal-close">
        <img src="{{ STATIC_URL }}icon/mobile-dash-close.png" alt="Закрыть">
      </div>
    </div>
    <div class="row">
      <ul class="dashboard-modal-nav">
        <li class="active">
          <a><span class="glyphicon glyphicon-user"></span> {{ user.email|default:'Anonymous' }}</a>
        </li>
        <li>
          <a href="{% url 'profile' %}">Профиль</a>
        </li>
        <li><a href="{% url 'logout' %}?next={% url 'dashboard:index' %}">Выход</a></li>
      </ul>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
<div class="dashboard-modal dashboard-modal-menu">
  <div class="container">
    <div class="row">
      <div class="dashboard-mobile dashboard-modal-close js-dashboard-modal-close">
        <img src="{{ STATIC_URL }}icon/mobile-dash-close.png" alt="Закрыть">
      </div>
    </div>
    <div class="row">
      {% include 'cabinet/__includes/cabinet_nav.html' with nav_class='dashboard-modal-nav' %}
    </div>
  </div>
</div>