{% if user.type == 6 %}
<ul class="{{ nav_class }}">
  <li class="dropdown">
    <a href="" class="dropdown-toggle" data-toggle="dropdown">
      Заявки <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li><a href="{% url 'ticket:add' %}">Добавление новой заявки</a></li>
      <li><a href="{% url 'ticket:list' %}">Новые заявки с сайта</a></li>
      <li><a href="{% url 'ticket:agency' %}">Заявки в обработке</a></li>
      <li><a href="{% url 'ticket:sale' %}">Продажи</a></li>
      <li><a href="{% url 'ticket:presale-list' %}">Переданные клиенты</a></li>
    </ul>
  </li>
  <li><a href="{% url 'calculator:index' %}">Калькулятор</a></li>

  <li class="dropdown">
    <a href="" class="dropdown-toggle" data-toggle="dropdown">
      Исполнители <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li><a href="{% url 'moderator:list' %}">Список исполнителей</a></li>
      <li><a href="{% url 'sale:commissionorder-list' %}">Счета</a></li>
    </ul>
  </li>


  <li><a href="{% url 'sale:journal' %}">Журнал продаж</a></li>
  <li class="dropdown">
    <a href="" class="dropdown-toggle" data-toggle="dropdown">
      Задачи <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li><a href="{% url 'distributor:task-list' %}">Список задач для распространителей</a></li>
      <li><a href="{% url 'distributor:task-archive' %}">Архив задач для распространителей</a></li>
    </ul>
  </li>
  <li class="dropdown">
    <a href="" class="dropdown-toggle" data-toggle="dropdown">Рассылки <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><a href="{% url 'correspondence:list' %}">Список рассылок</a></li>
      <li><a href="{% url 'correspondence:add' %}">Создать новую рассылку</a></li>
    </ul>
  </li>
</ul>
{% else %}
  {% if user.type != 3 and not user.deny_access %}
  <ul class="{{ nav_class }}">
    <li><a href="{% url 'dashboard:index' %}">Главная</a></li>
    {% if user.type == 1 %}

    <li class="dropdown">
      <a href="" class="dropdown-toggle" data-toggle="dropdown">
        Платежи <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li><a href="{% url 'moderator:order-list'%}">Платежи</a></li>
        <li class="divider"></li>
        <li><a href="{% url 'package:list' %}">Список платёжных пакетов</a></li>
        <li><a href="{% url 'package:add' %}">Добавить новый платёжный пакет</a></li>
      </ul>
    </li>
    {% endif %}
    {% if user.type == 2 %}
    <li><a href="{% url 'moderator:payment-list' user.pk %}">Платежи</a></li>
    {% endif %}
    {% if user.is_leader_manager %}
    <li class="dropdown">
      <a href="" class="dropdown-toggle" data-toggle="dropdown">Настройки <span class="caret"></span></a>
      <ul class="dropdown-menu">
        {% if user.type == 2 or user.type == 5 %}
        <li><a href="{% url 'hanger_mailer:list' %}">Список рассылок по хенгерам</a></li>
        <li><a href="{% url 'hanger_mailer:add' %}">Создать новую рассылку по хенгерам</a></li>
        <li class="divider"></li>
        {% endif %}
        {% if user.type == 1 or user.type == 6 %}
        <li><a href="{% url 'correspondence:list' %}">Список рассылок</a></li>
        <li><a href="{% url 'correspondence:add' %}">Создать новую рассылку</a></li>
        <li class="divider"></li>
        {% endif %}
        {% if user.type == 1 %}
        <li><a href="{% url 'administrator:list' %}">Список администраторов</a></li>
        <li><a href="{% url 'administrator:add' %}">Добавить нового администратора</a></li>
        <li class="divider"></li>
        <li><a href="{% url 'agency:list' %}">Список сотрудников РА</a></li>
        <li><a href="{% url 'agency:add' %}">Добавить сотрудника РА</a></li>
        <li class="divider"></li>
        {% endif %}
        {% if user.type == 1 or user.superviser %}
        <li><a href="{% url 'moderator:list' %}">Список модераторов</a></li>
        {% endif %}
        {% if user.type == 1 %}
        <li><a href="{% url 'moderator:add' %}">Добавить нового модератора</a></li>
        <li class="divider"></li>
        {% endif %}
        {% if user.type == 2 %}
        <li><a href="{% url 'moderator:update' user.id %}">Данные модератора</a></li>
        {% endif %}
        {% if user.is_leader_manager %}
          {% if user.type == 2 or user.type == 5 %}
            {% if user.type == 2 and user.moderator_user.city.count == 1 %}
            <li><a href="{% url 'city:update' user.moderator_user.city.first.id %}">Районы города</a></li>
            {% elif user.type == 5 and user.manager_user.moderator.moderator_user.city.count == 1 %}
            <li><a href="{% url 'city:update' user.manager_user.moderator.moderator_user.city.first.id %}">Районы города</a></li>
            {% else %}
            <li><a href="{% url 'city:list' %}">Список городов</a></li>
            {% endif %}
          {% else %}
          <li><a href="{% url 'city:list' %}">Список городов</a></li>
          {% endif %}
        {% endif %}
        {% if user.type == 1 %}
        <li><a href="{% url 'city:add' %}">Добавить новый город</a></li>
        <li class="divider"></li>
        <li><a href="{% url 'country:list' %}">Список стран</a></li>
        <li><a href="{% url 'country:add' %}">Добавить новую страну</a></li>
        <li class="divider"></li>
        {% endif %}
        <li><a href="{% url 'ticket:list' %}">Заявки с сайта</a></li>
        {% if user.type == 5 %}
          <li><a href="{% url 'moderator:company' user.manager_user.moderator.id %}">Информация на сайте</a></li>
        {% endif %}
      </ul>
    </li>
    {% endif %}
    <li class="dropdown">
      <a href="" class="dropdown-toggle" data-toggle="dropdown">CRM <span class="caret"></span></a>
      <ul class="dropdown-menu">
      {% if user.manager_user and not user.manager_user.leader %}{% else %}
        <li><a href="{% url 'manager:list' %}">Список менеджеров</a></li>
        <li><a href="{% url 'manager:add' %}">Добавить нового менеджера</a></li>
        <li><a href="{% url 'manager:report' %}">Отчёт по менеджерам</a></li>
        <li class="divider"></li>
      {% endif %}
        <li><a href="{% url 'client:list' %}">Журнал клиентов</a></li>
        <li><a href="{% url 'client:add' %}">Добавить нового клиента</a></li>
        <li class="divider"></li>
        <li><a href="{% url 'client:task-list' %}">Журнал задач по клиентам</a></li>
        <li><a href="{% url 'client:task-add' %}">Добавить новую задачу по клиенту</a></li>
      </ul>
    </li>
    <li class="dropdown">
      <a href="" class="dropdown-toggle" data-toggle="dropdown">
        Продажи <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        {% if user.type == 2 or user.type == 5 %}
        <li><a href="{% url 'ticket:presale-list' %}">Список переданных клиентов</a></li>
        {% endif %}
        <li><a href="{% url 'sale:list' %}">Список продаж</a></li>
        <li><a href="{% url 'sale:add' %}">Добавить новую продажу</a></li>
        <li class="divider"></li>
        <li><a href="{% url 'sale:journal' %}">Журнал продаж</a></li>
      {% if user.type == 1 or user.type == 2 and user.moderator_user.stand_accept or user.type == 5 and user.manager_user.moderator.moderator_user.stand_accept %}
        <li class="divider"></li>
        <li><a href="{% url 'stand:list' %}">Журнал вёрсток</a></li>
      {% endif %}
      </ul>
    </li>
    {% if user.manager_user and not user.manager_user.leader %}{% else %}
    <li class="dropdown">
      <a href="" class="dropdown-toggle" data-toggle="dropdown">
        Распространители <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li>
          <a href="{% url 'distributor:list' %}">Список распространителей</a></li>
        <li>
          <a href="{% url 'distributor:add' %}">Добавить нового распространителя</a></li>
        <li><a href="{% url 'distributor:report' %}">Отчёт по распространителям</a></li>
        <li class="divider"></li>
        <li><a href="{% url 'distributor:task-list' %}">Список задач для распространителей</a></li>
        <li><a href="{% url 'distributor:task-add' %}">Добавить новую задачу для распространителя</a></li>
        <li><a href="{% url 'distributor:task-archive' %}">Архив задач</a></li>
      </ul>
    </li>
    {% endif %}

    {% if NOTIFICATION_LIST %}
    <li class="dropdown">
      <a href="" class="dropdown-toggle" data-toggle="dropdown">
        Форум <span class="caret"></span>
        <div class="forum-notify">+ {{ NOTIFICATION_LIST.count|default:'0' }}</div>
      </a>
      <ul class="dropdown-menu">
        <li><a href="{% url 'forum:list' %}">Список тем</a></li>
        <li><a href="{% url 'forum:topic-notify' %}">Новые темы</a></li>
      </ul>
    </li>
    {% else %}
    <li><a href="{% url 'forum:list' %}">Форум</a></li>
    {% endif %}
  </ul>
  {% endif %}
{% endif %}
