{#{% if filtered_url %}#}
{#<div class="col-lg-12">#}
{#  <div class="text-center">#}
{#    <ul class="pagination pagination-sm">#}
{#      {% if page_obj.has_previous %}#}
{#      <li>#}
{#        <a href="{{ filtered_url }}page={{ page_obj.previous_page_number }}" aria-label="Previous">#}
{#          <span aria-hidden="true">&laquo;</span>#}
{#        </a>#}
{#      </li>#}
{#      {% else %}#}
{#      <li class="disabled">#}
{#        <a aria-label="Previous">#}
{#          <span aria-hidden="true">&laquo;</span>#}
{#        </a>#}
{#      </li>#}
{#      {% endif %}#}
{#      {% for i in page_obj.paginator.page_range %}#}
{#      <li {% if i == page_obj.number %}class="active"{% endif %}><a href="{{ filtered_url }}page={{ i }}">{{ i }}</a></li>#}
{#      {% endfor %}#}
{#      {% if page_obj.has_next %}#}
{#      <li>#}
{#        <a href="{{ filtered_url }}page={{ page_obj.next_page_number }}" aria-label="Next">#}
{#          <span aria-hidden="true">&raquo;</span>#}
{#        </a>#}
{#      </li>#}
{#      {% else %}#}
{#      <li class="disabled">#}
{#        <a aria-label="Next">#}
{#          <span aria-hidden="true">&raquo;</span>#}
{#        </a>#}
{#      </li>#}
{#      {% endif %}#}
{#    </ul>#}
{#  </div>#}
{#</div>#}
{#{% else %}#}
<div class="col-lg-12">
  <div class="text-center">
    <ul class="pagination pagination-sm">
      {% if page_obj.has_previous %}
      <li>
        <a href="{{ URL_WITH_FILTER }}page={{ page_obj.previous_page_number }}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      {% else %}
      <li class="disabled">
        <a aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      {% endif %}
      {% for i in page_obj.paginator.page_range %}
      <li {% if i == page_obj.number %}class="active"{% endif %}><a href="{{ URL_WITH_FILTER }}page={{ i }}">{{ i }}</a></li>
      {% endfor %}
      {% if page_obj.has_next %}
      <li>
        <a href="{{ URL_WITH_FILTER }}page={{ page_obj.next_page_number }}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
      {% else %}
      <li class="disabled">
        <a aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
      {% endif %}
    </ul>
  </div>
</div>
{#{% endif %}#}