{% extends 'cabinet/cabinet_base.html' %}
{% block viewport %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}
{% block title %}Контактные лица клиента {{ object.name }} | {{ block.super }}{% endblock %}
{% block content %}
  <div class="breadcrumb-container">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ol class="breadcrumb">
            <li><a href="{% url 'dashboard:index' %}">Рабочий стол</a></li>
            <li><a href="{% url 'client:list' %}">Журнал клиентов</a></li>
            <li class="active">Редактирование клиента</li>
          </ol>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="page-top">
        <div class="col-md-6">
          <span class="page-top__title">Контактные лица</span>
        </div>
        <div class="col-md-6">
          <a href="{% url 'client:contact-add' object.id %}" class="btn btn-add page-top__btn" title="Добавить новое контактное лицо">
            <span class="glyphicon glyphicon-plus-sign"></span> Добавить новое контактное лицо
          </a>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        {% include 'client/__include/client_menu.html' %}
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="col-md-12">
              <div class="table-container">
                <table class="table table-list">
                  <thead>
                    <tr>
                      <th>ФИО</th>
                      <th>Должность</th>
                      <th>Телефон</th>
                      <th>e-mail</th>
                      <th>&nbsp;</th>
                    </tr>
                  </thead>
                  <tbody class="js-list">
                  {% for contact in object_list %}
                    <tr data-id="{{ contact.id }}" data-name="{{ contact.name }}" data-model="ClientContact" id="id_ClientContact_{{ contact.id }}">
                      <td><a href="{% url 'client:contact-update' contact.id %}">{{ contact.name|default:'Не указано' }}</a></td>
                      <td>{{ contact.function|default:'Не указано' }}</td>
                      <td>{{ contact.phone|default:'Не указано' }}</td>
                      <td>{{ contact.email|default:'Не указано' }}</td>
                      <td>
                        <a href="#js-ajax-item-remove" id="js-ajax-remove-btn-ClientContact-{{ contact.id }}" class="text-danger js-ajax-remove-btn">
                          <span class="glyphicon glyphicon-remove"></span>
                        </a>
                      </td>
                    </tr>
                  {% empty %}
                    <tr>
                      <td colspan="5">
                        <p class="alert alert-info text-left">Контактных лиц не найдено</p>
                      </td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include '__modal/js_ajax_remove_form.html' %}
{% endblock %}