{% extends 'cabinet/cabinet_base.html' %}
{% block content %}
  <div class="container">
    <div class="col-lg-12">
      <ol class="breadcrumb">
        <li><a href="{% url 'dashboard:index' %}">Рабочий стол</a></li>
        <li><a href="{% url 'client:list' %}">Журнал клиентов</a></li>
        <li class="active">Редактирование клиента</li>
      </ol>
      {% include 'client/__include/client_menu.html' %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <p class="lead text-center remove-bottom">Редактирование клиента {{ object.name }}</p>
        </div>
        <div class="panel-body">
          <div class="col-lg-12">
              {% if error %}
                <div class="alert alert-danger">
                  {{ error }}
                </div>
              {%  endif %}
              {% if success %}
                <div class="alert alert-success">
                  {{ success }}
                </div>
              {% endif %}
          </div>
          <div class="col-lg-6">
            <form action="" role="form" class="js-form-client-update" method="post">
              {% csrf_token %}
              <div class="form-group">
                <div class="col-lg-5"> {{ form.mdoerator.label_tag }} </div>
                <div class="col-lg-7"> {{ form.moderator }} </div>
                {{ form.moderator.errors }}
                <div class="clearfix"></div>
              </div>
              <div class="form-group">
                <div class="col-lg-5"> {{ form.manager.label_tag }} </div>
                <div class="col-lg-7"> {{ form.manager }} </div>
                {{ form.manager.errors }}
                <div class="clearfix"></div>
              </div>
              <div class="form-group">
                <div class="col-lg-5"> {{ form.name.label_tag }} </div>
                <div class="col-lg-7"> {{ form.name }} </div>
                {{ form.name.errors }}
                <div class="clearfix"></div>
              </div>
              <div class="form-group">
                <div class="col-lg-5"> {{ form.city.label_tag }} </div>
                <div class="col-lg-7"> {{ form.city }} </div>
                {{ form.city.errors }}
                <div class="clearfix"></div>
              </div>
              <div class="form-group">
                <div class="col-lg-5"> {{ form.kind_of_activity.label_tag }} </div>
                <div class="col-lg-7"> {{ form.kind_of_activity }} </div>
                {{ form.kind_of_activity.errors }}
                <div class="clearfix"></div>
              </div>
              <div class="form-group">
                <div class="col-lg-5"> {{ form.actual_address.label_tag }} </div>
                <div class="col-lg-7"> {{ form.actual_address }} </div>
                {{ form.actual_address.errors }}
                <div class="clearfix"></div>
              </div>
              <div class="form-group">
                <div class="col-lg-5"> {{ form.site.label_tag }} </div>
                <div class="col-lg-7"> {{ form.site }} </div>
                {{ form.site.errors }}
                <div class="clearfix"></div>
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-default">Сохранить</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}