{% extends 'cabinet/cabinet_base.html' %}
{% block viewport %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}
{% block title %}История менеджеров  {{ object.name }} | {{ block.super }}{% endblock %}
{% block content %}
  <div class="breadcrumb-container">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ol class="breadcrumb">
            <li><a href="{% url 'dashboard:index' %}">Рабочий стол</a></li>
            <li><a href="{% url 'client:list' %}">Журнал клиентов</a></li>
            <li class="active">Редактирование клиента</li>
          </ol>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="page-top">
        <div class="col-md-12">
          <span class="page-top__title">История менеджеров {{ object.name }}</span>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        {% include 'client/__include/client_menu.html' %}
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="col-md-12">
              <div class="table-container">
                <table class="table table-list">
                  <thead>
                    <tr>
                      <th>ФИО</th>
                      <th>Дата назначения</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for item in object_list %}
                    <tr>
                      <td>{{ item.manager.user.get_full_name|default:'Не указано' }}</td>
                      <td>{{ item.date|default:'Не указано' }}</td>
                    </tr>
                  {% empty %}
                    <tr>
                      <td colspan="2">
                        <p class="alert alert-info text-left">Менеджеров не найдено</p>
                      </td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
{% endblock %}