{% extends 'cabinet/cabinet_base.html' %}
{% block viewport %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}
{% block title %}Добавление клиента | {{ block.super }}{% endblock %}
{% block content %}
  <div class="breadcrumb-container">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ol class="breadcrumb">
            <li><a href="{% url 'dashboard:index' %}">Рабочий стол</a></li>
            <li><a href="{% url 'client:list' %}">Журнал клиентов</a></li>
            <li class="active">Добавление клиента</li>
          </ol>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="page-top">
        <div class="col-md-12">
          <span class="page-top__title">Добавление клиента</span>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="panel-content">
            {% if success or error %}
              <div class="col-md-12">
              {% if error %}
                <div class="alert alert-danger"> {{ error }} </div>
              {% elif success %}
                <div class="alert alert-success"> {{ success }} </div>
              {%  endif %}
              </div>
              <div class="clearfix"></div>
            {% endif %}
              <form action="" role="form" class="form" id="js-form-client-add" method="post">
                {% csrf_token %}
                <div class="col-md-6">
                  {% if user.type == 1 %}
                  <div class="form-group">
                    {{ form.moderator.label_tag }}
                    {{ form.moderator }}
                    {{ form.moderator.errors }}
                  </div>
                  {% else %}
                  {{ form.moderator }}
                  {% endif %}
                  <div class="form-group {% if user.manager_user and not user.manager_user.leader %}hide{% endif %}">
                    {{ form.manager.label_tag }}
                    {{ form.manager }}
                    {{ form.manager.errors }}
                  </div>
                  <div class="form-group">
                    {{ form.name.label_tag }}
                    {{ form.name }}
                    {{ form.name.errors }}
                  </div>
                  <div class="form-group">
                    {{ form.city.label_tag }}
                    {{ form.city }}
                    {{ form.city.errors }}
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    {{ form.kind_of_activity.label_tag }}
                    {{ form.kind_of_activity }}
                    {{ form.kind_of_activity.errors }}
                  </div>
                  <div class="form-group">
                    {{ form.actual_address.label_tag }}
                    {{ form.actual_address }}
                    {{ form.actual_address.errors }}
                  </div>
                  <div class="form-group">
                    {{ form.site.label_tag }}
                    {{ form.site }}
                    {{ form.site.errors }}
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-6">
                  <button type="submit" class="btn btn-save">Добавить клиента</button>
                </div>
                <div class="clearfix"></div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}