{% extends 'cabinet/cabinet_base.html' %}
{% block content %}
  <div class="container">
    <div class="col-lg-12">
      <ol class="breadcrumb">
        <li><a href="{% url 'dashboard:index' %}">Рабочий стол</a></li>
        <li><a href="{% url 'client:list' %}">Журнал клиентов</a></li>
        <li class="active">Редактирование клиента</li>
      </ol>
      {% include 'client/__include/client_menu.html' %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <p class="lead text-center remove-bottom">История менеджеров {{ object.name }}</p>
        </div>
        <div class="panel-body">
          <div class="col-lg-12">
            <table class="table table-hover table-condensed table-bordered table-list">
              <thead>
                <tr>
                  <th>ФИО</th>
                  <th>Дата назначения</th>
                </tr>
              </thead>
              <tbody>
              {% for item in object_list %}
                <tr>
                  <td>{{ item.manager.user.get_full_name|default:'Не указано' }}</td>
                  <td>{{ item.date|default:'Не указано' }}</td>
                </tr>
              {% empty %}
                <tr>
                  <td colspan="2">
                    <p class="alert alert-info text-left">Менеджеров не найдено</p>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}