{% extends 'cabinet/cabinet_base.html' %}
{% block content %}
  <div class="container">
    <div class="col-lg-12">
      <ol class="breadcrumb">
        <li><a href="{% url 'dashboard:index' %}">Рабочий стол</a></li>
        <li><a href="{% url 'client:list' %}">Журнал клиентов</a></li>
        <li class="active">Редактирование клиента</li>
      </ol>
      {% include 'client/__include/client_menu.html' %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <p class="lead text-center remove-bottom">
            Добавление контактного лица клиента {{ object.name }}
          </p>
        </div>
        <div class="panel-body">
          <div class="col-lg-6">
            <form action="" role="form" class="js-form-clientcontact-add" method="post">
              {% csrf_token %}
              <div class="form-group">
                <div class="col-lg-5"> {{ form.client.label_tag }} </div>
                <div class="col-lg-7"> {{ form.client }} </div>
                {{ form.client.errors }}
                <div class="clearfix"></div>
              </div>
              <div class="form-group">
                <div class="col-lg-5"> {{ form.name.label_tag }} </div>
                <div class="col-lg-7"> {{ form.name }} </div>
                {{ form.name.errors }}
                <div class="clearfix"></div>
              </div>
              <div class="form-group">
                <div class="col-lg-5"> {{ form.function.label_tag }} </div>
                <div class="col-lg-7"> {{ form.function }} </div>
                {{ form.function.errors }}
                <div class="clearfix"></div>
              </div>
              <div class="form-group">
                <div class="col-lg-5"> {{ form.phone.label_tag }} </div>
                <div class="col-lg-7"> {{ form.phone }} </div>
                {{ form.phone.errors }}
                <div class="clearfix"></div>
              </div>
              <div class="form-group">
                <div class="col-lg-5"> {{ form.email.label_tag }} </div>
                <div class="col-lg-7"> {{ form.email }} </div>
                {{ form.email.errors }}
                <div class="clearfix"></div>
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-default">Добавить</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}