{% extends 'cabinet/cabinet_base.html' %}
{% block content %}
  <div class="container">
    <div class="col-lg-12">
      <ol class="breadcrumb">
        <li><a href="{% url 'dashboard:index' %}">Рабочий стол</a></li>
        <li><a href="{% url 'client:list' %}">Журнал клиентов</a></li>
        <li class="active">Результаты загрузки</li>
      </ol>
      <div class="panel panel-default">
        <div class="panel-heading">
          <p class="lead text-center remove-bottom">
            Результат загрузки
          </p>
        </div>
        <div class="panel-body">
          <div class="col-lg-12">
            <p class="lead">Успешно загружено: <span>{{ success_count }}</span></p>
            <p class="lead">Ошибки: <span>{{ error_count }}</span></p>
          {% for error in error_list %}
            <p class="alert alert-warning">
              {{ error }}
            </p>
          {% endfor %}
          {% for success in success_list %}
            <p class="alert alert-success">
              {{ success }}
            </p>
          {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}