{% extends 'cabinet/cabinet_base.html' %}
{% block extra_js %}
  <script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
  {% include 'city/__include/map.html' %}
{% endblock %}
{% block content %}
  <div class="container">
    <div class="col-lg-12">
      <ol class="breadcrumb">
        <li><a href="{% url 'dashboard:index' %}">Рабочий стол</a></li>
        <li class="active">Список городов</li>
      </ol>
      <div class="panel panel-default">
        <div class="panel-heading">
          <p class="lead remove-bottom text-center">Города</p>
        </div>
        <div class="panel-body">
          {% if user.type == 1 %}
          <a href="{% url 'city:add' %}" class="btn btn-success add-bottom">
            <span class="glyphicon glyphicon-plus-sign"></span> Добавить город
          </a>
          {% endif %}

          <div class="panel panel-success">
            <div class="panel-heading js-show-map">Посмотреть города на карте <span class="caret"></span></div>
            <div class="panel-body js-map">
              <div id="YMapsID" style="height: 500px;"></div>
            </div>
          </div>


          <form action="" method="GET" role="form" class="form-inline">
            <select name="city" id="city_filter" class="form-control input-sm">
              <option value="0">Город</option>
              {% for city in city_list %}
                <option value="{{ city.id }}" {% if city.id == r_city %}selected="selected"{% endif %}>{{ city }}</option>
              {% endfor %}
            </select>
            {% if user.type == 1 %}
            <input type="text" name="moderator" value="{{ r_moderator|default:'' }}" class="form-control  input-sm" placeholder="модератор">
            {% endif %}
            <button type="submit" class="btn btn-info btn-sm"><span class="glyphicon glyphicon-search"></span> Искать</button>
          </form>

          <div class="city-list">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Название</th>
                  <th>&nbsp;</th>
                </tr>
              </thead>
              <tbody class="js-list">
              {% for object in object_list %}
                <tr data-id="{{ object.id }}" data-name="{{ object.name }}" data-model="City" id="id_City_{{ object.id }}">
                  <td><a href="{% url 'city:update' object.pk %}">{{ object.name|default:'' }}</a></td>
                  <td class="text-right">
                  {% if user.type == 1 %}
                    <a href="#js-ajax-item-remove" id="js-ajax-remove-btn-{{ object.id }}" class="btn btn-sm btn-danger js-ajax-remove-btn">
                      <span class="glyphicon glyphicon-remove"></span> Удалить
                    </a>
                  {% else %}
                      &nbsp;
                  {% endif %}
                  </td>
                </tr>
              {% empty %}
                <tr>
                  <td colspan="2">
                    <p class="alert alert-info">Городов не найдено</p>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
{% include '__modal/js_ajax_remove_form.html' %}
{% endblock %}