{% extends 'cabinet/cabinet_base.html' %}
{% load staticfiles %}
{% block viewport %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}
{% block title %}Калькулятор | {{ block.super }}{% endblock %}
{% block extra_js %}
  <script src="{% static 'calculator/js/calculator.js' %}"></script>
{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="calc">
      <form action="" id="js-calculator-form" class="calc-form form">
        <div class="form-group">
          <select name="country" id="id_country" class="form-control" data-url="{% url 'country:get_city_list' %}">
            <option value="">---- Выберите страну ----</option>
          {% for country in country_list %}
            <option value="{{ country.id }}">{{ country.name }}</option>
          {% endfor %}
          </select>
        </div>
        <div class="form-group">
          <select name="city" id="id_city" class="form-control" data-url="{% url 'city:get_moderator_list' %}">
            <option value="">---- Выберите город ----</option>
          </select>
        </div>
        <div class="form-group">
          <select name="moderator" id="id_moderator" class="form-control" data-url="{% url 'moderator:get_action_list' %}">
            <option value="">---- Выберите исполнителя ----</option>
          </select>
        </div>
        <div class="form-group">
          <select name="type" id="id_type" class="form-control" data-url="{% url 'moderator:get_cost_by_action' %}">
            <option value="">---- Выберите вид деятельности ----</option>
          </select>
        </div>
        <div class="form-group">
          <input type="number" name="count" id="id_count" class="form-control" placeholder="Укажите количество материала">
        </div>
        <div class="form-group">
          <input type="submit" class="btn btn-save" value="РАССЧИТАТЬ">
        </div>
      </form>
      <strong>Итого:</strong> <span id="js-result-cost">0</span> руб.
    </div>
  </div>
</div>
{% endblock %}