{% extends 'cabinet/cabinet_base.html' %}
{% load staticfiles %}
{% block viewport %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}
{% block title %}Система вёрсток | {{ block.super }}{% endblock %}
{% block extra_js %}
  <link rel="stylesheet" href="{% static 'stand/style.css' %}">
{#  <script src="{% static 'stand/script.js' %}"></script>#}
  <script src="{% static 'stand/script.js' %}"></script>
{% endblock %}
{% block content %}

  <div style="width:300px; margin: 20px auto;">
    <button class="btn btn-save" id="js-combine-units">Объединить</button>
{#    <button id="js-break-units">Разбить</button>#}
  </div>
  <div id="standContainer">
    <div class="block" style="width:200px;height:120px;top:0; left:0">Блок 1</div>
    <div class="block" style="width:200px;height:120px;top:0; left:200px">Блок 2</div>
    <div class="block" style="width:200px;height:120px;top:120px; left:0">Блок 3</div>
    <div class="block" style="width:200px;height:120px;top:120px; left:200px">Блок 4</div>
    <div class="block" style="width:200px;height:120px;top:240px; left:0">Блок 5</div>
    <div class="block" style="width:200px;height:120px;top:240px; left:200px">Блок 6</div>
    <div class="block" style="width:200px;height:120px;top:360px; left:0">Блок 7</div>
    <div class="block" style="width:200px;height:120px;top: 360px; left:200px">Блок 8</div>
  </div>
{% endblock %}