.stand-container {
    width: 410px;
    margin: 20px auto;
}
.block {
    position: absolute;
    background-color: white;
    border: medium solid darkgray;
    padding: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 12px;
}
#topStandContainer, #topStandContainer1 {
    width: 400px;
    height: 150px;
    border: 5px solid darkgray;
    border-bottom: none;
    background: darkgray;
    margin: 0 auto;
    position: relative;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
#topStandContainer:before, #topStandContainer1:before {
    content: '';
    display: block;
    width: 100px;
    height: 100px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    border: 1px solid #333;
    margin-top: 25px;
    margin-left: 25px;
}
#standContainer, #standContainer1 {
    width: 400px;
    height: 480px;
    border: 5px solid darkgray;
    background: darkgray;
    margin: 0 auto 20px;
    position: relative;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.stand-input {
    width: 100%;
    font-size: 12px;
}
.block.ui-selected {
    border: medium solid green;
    background-color: lightgreen
}
.block.ui-selecting {
    border: medium solid green
}