<!DOCTYPE html>
<html lang="ru">
<head>
  {% load staticfiles %}
  {% load i18n %}
  <meta charset="utf-8">
  <meta name="keywords" content="{{ SETUP.meta_keys|default:'' }}">
  <meta name="description" content="{{ SETUP.meta_desc|default:'' }}">
  <meta name="format-detection" content="telephone=no">
  <link href="favicon.ico" rel="shortcut icon" type="image/x-icon" />
  <title>{{ SETUP.meta_title|default:'Заголовок сайта' }}</title>
  <link media="all" rel="stylesheet" type="text/css" href="{% static 'landing/css/all.css' %}" />
  <link media="all" rel="stylesheet" type="text/css" href="{% static 'landing/css/jquery.bxslider.css' %}" />
  <link media="all" rel="stylesheet" type="text/css" href="{% static 'landing/css/jquery.fancybox.css' %}" />
  <link media="all" rel="stylesheet" type="text/css" href="{% static 'landing/css/animate.min.css' %}" />
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="{% static 'landing/js/jquery-1.9.1.min.js' %}"></script>
{#  <script src="//code.jquery.com/jquery-1.10.2.js"></script>#}
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script src="{% static 'landing/js/jquery.bxslider.js' %}"></script>
  <script src="{% static 'landing/js/jquery.validate.js' %}"></script>
  <script src="{% static 'landing/js/jquery.form.js' %}"></script>
  <script src="{% static 'landing/js/jquery.fancybox.js' %}"></script>
  <script src="{% static 'landing/js/jquery.scrollTo.js' %}"></script>
  <script src="{% static 'landing/js/jquery.maskedinput.js' %}"></script>
  <script src="{% static 'landing/js/jquery.lettering.js' %}"></script>
  <script src="{% static 'landing/js/jquery.textillate.js' %}"></script>
  <script src="{% static 'landing/js/tabs.js' %}"></script>
  <script src="{% static 'landing/js/notify-combined.min.js' %}"></script>
  <!--[if lt IE 9]><script type="text/javascript" src="{% static 'landing/js/html5.js' %}"></script><![endif]-->
  <!--[if lt IE 9]><script type="text/javascript" src="{% static 'landing/js/placeholder.js' %}"></script><![endif]-->
  <script src="{% static 'landing/js/all.js' %}"></script>
  {{ SETUP.top_js|safe|default:'' }}
</head>
<body>
  <div id="wrapper">
    <header class="header" id="block1">
      <div class="city-hidden">
        <div class="holder">
          <a href="" class="city-close">x</a>
          <div class="city-hidden-top">
            <h3>Введите нужный Вам город</h3>
            <div class="city-input">
              <form id="#js-form-set-current-city" action="{% url 'landing:set_current_city_from_input' %}" method="post">
                <fieldset>
                  <input type="text" name="city" class="input input_city" data-url="{% url 'city:find' %}" placeholder="Ваш город">
                </fieldset>
              </form>
            </div>
            <div class="city-input-text">В этом городе нет пока представительства</div>
          </div>
          <div class="city-tabs">
            <ul class="tabs">
            {% for country in country_list %}
              {% if country.city_set.count %}
              <li><a href="#tab1_{{ country.id }}">{{ country.name }}</a></li>
              {% endif %}
            {% endfor %}
{#              <li><a href="#tab1">Россия</a></li>#}
{#              <li><a href="#tab2">Казахстан</a></li>#}
{#              <li><a href="#tab3">Украина</a></li>#}
{#              <li><a href="#tab4">Белоруссия</a></li>#}
            </ul>
          </div>
          <div class="city-block">
            {% for country in country_list %}
              {% if country.city_set.count %}
              <div id="tab1_{{ country.id }}"  class="tab-content">
                <ul class="city-list" data-url="{% url 'landing:set_current_city' %}">
                {% for city in country.city_set.all %}
                  <li><a>{{ city.name }}</a></li>
                {% endfor %}
                </ul>
              </div>
              {% endif %}
            {% endfor %}
{#            <div id="tab1" class="tab-content">#}
{#              <ul class="city-list" data-url="{% url 'landing:set_current_city' %}">#}
{#                <li><a>Ростов-на-Дону</a></li>#}
{#                <li><a>Волгоград</a></li>#}
{#                <li><a>Саратов</a></li>#}
{#                <li><a>Киров</a></li>#}
{#                <li><a>Казань</a></li>#}
{#              </ul>#}
{#            </div>#}
{#            <div id="tab2" class="tab-content">#}
{#              <ul class="city-list" data-url="{% url 'landing:set_current_city' %}">#}
{#                <li><a>Город</a></li>#}
{#                <li><a>Город</a></li>#}
{#              </ul>#}
{#            </div>#}
{#            <div id="tab3" class="tab-content">#}
{#              <ul class="city-list" data-url="{% url 'landing:set_current_city' %}">#}
{#                <li><a>Город</a></li>#}
{#              </ul>#}
{#            </div>#}
{#            <div id="tab4" class="tab-content">#}
{#              <ul class="city-list" data-url="{% url 'landing:set_current_city' %}">#}
{#                <li><a>Город</a></li>#}
{#                <li><a>Город</a></li>#}
{#                <li><a>Город</a></li>#}
{#              </ul>#}
{#            </div>#}
          </div>
{#          <div class="city-block">#}
{#            <ul class="city-list" data-url="{% url 'landing:set_current_city' %}">#}
{#              {% for city in city_list %}#}
{#              <li><a>{{ city.name }}</a></li>#}
{#              {% endfor %}#}
{#            </ul>#}
{#          </div>#}
        </div>
      </div>
      <div class="header-fix">
        <div class="holder">
          <ul class="header-nav">
            <li class="scroll"><a href="#block1">О проекте</a></li>
            <li class="scroll"><a href="#block2">Преимущества</a></li>
            <li class="scroll"><a href="#block3">Выгоды</a></li>
            <li class="scroll"><a href="#block4">Онлайн-отчетность</a></li>
            <li class="scroll"><a href="#block5">Агентства</a></li>
            <li class="scroll"><a href="#block5">Оставить заявку</a></li>
          </ul>
        </div>
      </div>
      <div class="header-top">
        <div class="holder">
          <div class="header-lang" data-url="{% url 'set_language' %}">
            {% csrf_token %}
            {% get_current_language as LANGUAGE_CODE %}
            <a href="" class="lang-link lang-link-top">
              <img src="{{ STATIC_URL }}landing/images/flag_{{ LANGUAGE_CODE }}.png" alt="">{{ LANGUAGE_CODE|language_name_local }}
            </a>
            <div class="header-lang-hidden">

            {% get_language_info_list for LANGUAGES as languages %}
            {% for language in languages %}
              <a href="" class="lang-link js-lang-link" data-language="{{ language.code }}">
                <img src="{{ STATIC_URL }}landing/images/flag_{{ language.code }}.png" alt="">{{ language.name_local }}
              </a>
            {% endfor %}
{#              <a href="" class="lang-link">#}
{#                <img src="{% static 'landing/images/flag_ru.png' %}" alt="">Русский#}
{#              </a>#}
{#              <a href="" class="lang-link">#}
{#                <img src="{% static 'landing/images/flag_kk.png' %}" alt="">Казахский#}
{#              </a>#}
{#              <a href="" class="lang-link">#}
{#                <img src="{% static 'landing/images/flag_uk.png' %}" alt="">Украинский#}
{#              </a>#}
            </div>
          </div>
          <div class="header-city">Выберите город: <a href="">{{ current_city.name|default:'Не указано' }}</a></div>
          <div class="header-enter">
            <a href="{% url 'dashboard:index' %}" class="enter-link {% if not user.is_authenticated %}enter-link-top{% endif %}">
            {% if user.is_authenticated %}{{ user.email }}{% else %} Войти как...{% endif %}
            </a>
            <div class="header-enter-hidden">
              <a href="{% url 'login-client' %}" class="enter-link">Клиент</a>
              <a href="{% url 'login-moderator' %}" class="enter-link">Модератор</a>
              <a href="{% url 'login-manager' %}" class="enter-link">Менеджер</a>
              <a href="{% url 'login-distributor' %}" class="enter-link">Исполнитель</a>
            </div>
          </div>
        </div>
      </div>
      <div class="header-main">
        <div class="holder">
          <div class="header-main-top"><span>Сеть агентств по расклейки и <br>
          распространению рекламной продукции № 1</span></div>
          <h1 class="main-title">
            <span class="main-title1" data-in-effect="flash">Эффективная</span>
            <span class="main-title2" data-in-effect="flash">рекламная кампания</span>
            <span class="main-title3" data-in-effect="flash">за копе<span class="lower">й</span>ки</span>
          </h1>
          <div class="header-main-text">Рекламные плакаты на городских досках объявлений и листовки в почтовых ящиках</div>
          <div class="header-main-button scroll">
            <a href="#block5" class="button">Оставить заявку</a>
            <div class="header-main-button-text">Оставьте заявку на расчет стоимости <br>рекламы и консультацию менеджера</div>
          </div>
        </div>
      </div>
    </header>
    <section class="icons-block">
      <div class="holder">
        <div class="icons-block-holder">
          <div class="icons-block-item">
            <div class="icons-block-img"><img src="{% static 'landing/images/media/icon1.png' %}" alt=""></div>
            <div class="icons-block-text">Вы только открылись,<br> и у вас ограниченный<br> рекламный бюджет?</div>
          </div>
          <div class="icons-block-item">
            <div class="icons-block-img"><img src="{% static 'landing/images/media/icon2.png' %}" alt=""></div>
            <div class="icons-block-text">Хотите, чтобы о вас узнал<br> потребитель, но не можете потратить<br> много денег на рекламу?</div>
          </div>
          <div class="icons-block-item">
            <div class="icons-block-img"><img src="{% static 'landing/images/media/icon3.png' %}" alt=""></div>
            <div class="icons-block-text">Или вы уже давно<br> работаете на рынке, но<br> желаете напомнить о себе?</div>
          </div>
        </div>
      </div>
    </section>
    <section class="reasons" id="block2">
      <div class="reasons-bg"></div>
      <div class="holder">
        <div class="reasons-right">
          <div class="reasons-title">Почему данный вид рекламы настолько <span>эффективный?</span></div>
          <ul class="reasons-list">
            <li>90% жителей заглядывают в почтовый ящик каждый день</li>
            <li>85% населения читает текст рекламной листовки и приносит ее домой</li>
            <li>Каждый третий человек разглядывает объявления на рекламном стенде в ожидании автобуса</li>
          </ul>
        </div>
      </div>
    </section>
    <section class="servises" id="block3">
      <div class="holder">
        <h2>Наши услуги</h2>
        <div class="serv-column">
          <div class="serv-img"><img src="{% static 'landing/images/media/img1.jpg' %}" alt=""></div>
          <div class="serv-title">Расскажите<br> о себе</div>
          <div class="serv-text">Расклейка рекламных объявлений в<br> любом районе города</div>
          <div class="serv-button">
            <a href="#popup2" class="button fancybox">Узнать подробнее</a>
          </div>
        </div>
        <div class="serv-column serv-column-right">
          <div class="serv-img"><img src="{% static 'landing/images/media/img2.jpg' %}" alt=""></div>
          <div class="serv-title">Распространение листовок по<br> почтовым ящикам</div>
          <div class="serv-text">Доступный метод увеличения<br> ваших продаж</div>
          <div class="serv-button">
            <a href="#popup3" class="button fancybox">Узнать подробнее</a>
          </div>
        </div>
      </div>
    </section>
    <section class="garanty" id="block4">
      <div class="holder">
        <h2>Гарантия качества</h2>
        <div class="title-min">Отслеживайте выполнение заказа в онлайн-режиме с помощью уникальной программной
        разработки «Контроль расклейки и распространения объявлений»</div>
        <div class="garanty-video">
          <img src="{% static 'landing/images/media/tablet-bg.png' %}" alt="" class="tablet-bg">
          <a href="#dialog" class="video-link modal">
            <img src="{% static 'landing/images/play.png' %}" alt="" class="monitor-play pulsing">
            <img src="{% static 'landing/images/monitor-text.png' %}" alt="" class="monitor-text">
          </a>
        </div>
        <article class="garanty-info">
          <p>Заказывая распространение листовок по почтовым ящикам или расклейку рекламных объявлений, вы можете
          быть уверены, что каждый экземпляр найдет свою аудиторию. Наши курьеры качественно выполняют свои
          обязанности, а вы можете проследить за их работой, не отходя от компьютера.</p>
          <p>Приезжая на очередной адрес маршрута, каждый исполнитель отмечает точку на карте с помощью GPS-навигации
          и делает фотоотчет о проделанной работе, который моментально отправляется на сервер. Вы тут же сможете с
          ним ознакомиться и убедиться, что рекламные материалы были размещены по указанному адресу, а не выброшены
          в ближайший мусорный бак. Вы можете посмотреть на карте в программе в разделе «вход для клиента» весь
          маршрут распространения листовок по почтовым ящикам или расклейку рекламных объявлений. Эффективный
          метод контроля упрощает вам жизнь — вам не придется ездить по адресам, чтобы проверить качество выполненной работы.</p>
          <p><strong>Более удобную и прозрачную схему проверки вам не предложит никто другой в рекламном бизнесе!</strong></p>
          <p>Выбирайте эффективный и проверенный формат рекламы и экономьте деньги вместе с нами!</p>
        </article>
      </div>
    </section>
    <section class="info" id="block5">
      <div class="holder">
        <h2>Выберите исполнителя</h2>
        <div class="title-min">По распространению листовок или расклейки<br>
        рекламных объявлений по своему городу <a href="#popup4" class="info-city fancybox">{{ current_city.name|default:'Не указано' }}</a></div>
        {% if moderator_list %}
        <div class="info-slider">
          <div class="info-top">
            <!--<span class="info-index">1</span> из <span class="info-all">250</span>-->
          </div>
          <ul class="i-slider">
          {% for moderator in moderator_list %}
            <li class="info-slide">
              <aside class="info-left">
                <div class="info-logo">
                {% if moderator.logotype %}
                  <img src="{{ moderator.logotype.url }}" alt="{{ moderator.company|default:'' }}">
                {% endif %}
                </div>
                <div class="info-form-title">Заполните онлайн-заявку</div>
                <div class="info-form-text">И получите предложение <br>по рекламе от: <br>
                <a href="">{{ moderator.company|default:'Не указано' }}</a></div>
                <div class="info-form">
                  <form action="{% url 'ticket:send' %}" class="ticket-form" method="post">
                    {% csrf_token %}
                    <fieldset>
                      <input type="hidden" name="moderator" value="{{ moderator.id }}">
                      <input type="hidden" name="city" value="{{ current_city.id|default:'' }}">
                      <input type="text" name="name" class="input required" placeholder="Ваше имя *">
                      <input type="text" name="mail" class="input required" placeholder="Ваш email *">
                      <input type="text" name="phone" class="input no-margin required" placeholder="+7 (___) ___ - __ - __">
                      <input type="hidden" name="theme" value="Заявка - исполнитель {{ moderator.company|default:'Не указано' }}">
                      <div class="submit-holder">
                        <button class="submit">Отправить заявку</button>
                      </div>
                    </fieldset>
                  </form>
                </div>
              </aside>
              <div class="info-right">
                <div class="info-title">{{ moderator.company|default:'Не указано' }}</div>
                <dl class="info-list">
                {% if moderator.get_rating %}
                  <dt>Рейтинг:</dt>
                  <dd>
                    <div class="star-block">
                      <div class="star"></div>
                      <div class="star"></div>
                      <div class="star"></div>
                      <div class="star"></div>
                      <div class="star star-half"></div>
                    </div>
                    -  {{ moderator.get_rating }}
                  </dd>
                {% endif %}
                  <dt>Стаж работы:</dt>
                  <dd>{{ moderator.experience|default:'' }}</dd>
                  <dt>Город:</dt>
                  <dd>
                  {% for city in moderator.city.all %}
                    <b>{{ city.name }}</b>{% if not forloop.last %}, {% endif %}
                  {% endfor %}
                  </dd>
                  <dt>Краткое описание:</dt>
                  <dd>{{ moderator.description|safe|default:'' }}<br><br></dd>
                  <dt>Контакты:</dt>
                  <dd>{{ moderator.contact|default:'' }}</dd>
                  <dt>Телефон:</dt>
                  <dd>{{ moderator.phone|default:'' }}</dd>
                </dl>
                <div class="info-reviews">
                  <div class="info-reviews-title">
                    Отзывы <span>{{ moderator.review_set.count }}</span>
                    <div class="social">
                    {% if moderator.fb_link %}
                      <a href="{{ moderator.fb_link|safe }}" class="social-link">
                        <img src="{% static 'landing/images/icons/fb.png' %}" class="social-link-icon" alt="{{ moderator.fb_link|safe }}">
                      </a>
                    {% endif %}
                    {% if moderator.vk_link %}
                      <a href="{{ moderator.vk_link|safe }}" class="social-link">
                        <img src="{% static 'landing/images/icons/vk.png' %}" class="social-link-icon" alt="{{ moderator.vk_link|safe }}">
                      </a>
                    {% endif %}
                    {% if moderator.ok_link %}
                      <a href="{{ moderator.ok_link|safe }}" class="social-link">
                        <img src="{% static 'landing/images/icons/ok.png' %}" class="social-link-icon" alt="{{ moderator.ok_link|safe }}">
                      </a>
                    {% endif %}
                    {% if moderator.insta_link %}
                      <a href="{{ moderator.insta_link|safe }}" class="social-link">
                        <img src="{% static 'landing/images/icons/insta.png' %}" class="social-link-icon" alt="{{ moderator.insta_link|safe }}">
                      </a>
                    {% endif %}
                    </div>
                  </div>

                  <br>
                  <br>
                {% for review in moderator.review_set.all %}
                  <div class="review-item">
                    <div class="review-author">{{ review.name|default:'' }}</div>
                    <div class="review-text">
                      {{ review.text|safe|linebreaksbr|default:'' }}
                    </div>
                  </div>
                {% empty %}
                  <div class="comment-form">
                    <form action="{% url 'moderator:review-add' %}" class="js-form-review-add" method="post">
                      <fieldset>
                        <input name="moderator" type="hidden" value="{{ moderator.id }}" class="input" placeholder="Ваш имя *">
                        <input type="hidden" name="rating" value="">
                        <input name="name" type="text" class="input" placeholder="Ваш имя *">
                        <input name="mail" type="text" class="input" placeholder="Ваш e-mail *">
                        <textarea name="text" cols="30" rows="10" class="textarea required" placeholder="Текст отзыва"></textarea>
                        <button class="submit">Оставить отзыв</button>
                      </fieldset>
                    </form>
                  </div>
                  <a href="" class="submit comment-button">Оставить отзыв</a>
                  <br>
                  <div class="review-item">
                    <div class="reviews-text">Нет отзывов</div>
                  </div>
                {% endfor %}
                </div>
              </div>
            </li>
          {% empty %}
          {% endfor %}
          </ul>
        </div>
        {% else %}
          <div>
          Нет исполнителей по данному городу
          </div>
        {% endif %}
      </div>
    </section>
    <section class="bottom">
      <div class="holder">
        <div class="bottom-block">Хотите открыть рекламное агентство по франшизе в своем городе? <a href="http://franchise.reklamadoma.com/">Узнайте подробности тут</a></div>
      </div>
    </section>
    <footer class="footer">
      <div class="footer-nav">
        <div class="holder">
          <ul>
            <li><a href="{% url 'login-client' %}">Клиентам</a></li>
            <li><a href="{% url 'login-moderator' %}">Модераторам</a></li>
            <li><a href="{% url 'login-manager' %}">Менеджерам</a></li>
            <li><a href="{% url 'login-distributor' %}">Исполнителям</a></li>
          </ul>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="holder">
          <div class="copy"><a href="#hidden-block" class="fancybox">Политика конфиденциальности</a><br>
          РА «Дружба» &copy;
          <script type="text/javascript">var mdate = new Date(); document.write(mdate.getFullYear());</script></div>
          <div class="footer-download">
            <div class="footer-download-text">Скачать приложение</div>
            <a href=""><img src="{% static 'landing/images/googleplay.png' %}" alt=""></a>
          </div>
          <a href="http://5lands.ru/" target="_blank" class="studio">
            Дизайн сайта<br>
            <img src="{% static 'landing/images/studio.png' %}" alt="">
          </a>
          <div id="hidden-block">
            <h2>Политика конфиденциальности</h2>
            <p>Мы не собираем личную информацию о Вас, когда Вы заходите на наш сайт.
            Вы можете анонимно просматривать сайт. Тем не менее, Ваш браузер все же автоматически сообщает нам тип компьютера и операционной системы, которые Вы используете. Единственная личная информация о Вас, которую мы получаем, это те данные, которые Вы добровольно предоставляете при заполнении форм.
            При заполнении форм на сайте у Вас запросят персональную информацию, такую как имя, номер телефона. Предоставление такой информации в ответ на запрос осуществляется Вами исключительно добровольно.
            Предоставленная Вами информация используется чтобы оказать те услуги, которые Вы сами запрашиваете.
            </p>
          </div>
        </div>
      </div>
    </footer>
    <!--   Всплывающие окна  -->
    <div id="popup">
      <div class="video-popup">
        {{ SETUP.video|safe }}
      </div>
    </div>
    <div id="popup2" class="popup">
      <div class="about-popup">
        <article class="about-article">
          <h3>Расскажите о себе</h3>
          <div class="title-min">Расклейка рекламных объявлений в любом районе города</div>
          <p>Во время просмотра интересной передачи человек может переключить канал, если начнется реклама. Яркие
          неоновые вывески уже стали настолько обыденными, что их содержание просто теряется перед внешними декорациями.
          С рекламными объявлениями дело обстоит совершенно иначе.</p>
          <p>Плакаты расклеиваются в местах массового скопления людей — на автобусных остановках, рекламных досках в
          наиболее посещаемых частях города, стендах у входной двери дома. Их практически невозможно не заметить, что
          объясняет высокий уровень отдачи рекламы при минимальных затратах. Уже на второй день после начала рекламной
          акции о вас узнают, а к концу недели у вас появятся первые клиенты, которые увидели ваш номер телефона в объявлении.</p>
        </article>
        <div class="about-icons">
          <h3>Кто заказывает расклейку<br> рекламных объявлений</h3>
          <div class="about-icons-holder">
            <div class="about-icons-item">
              <div class="about-icons-img"><img src="{% static 'landing/images/media/round1.jpg' %}" alt=""></div>
              <div class="about-icons-text">Салоны красоты, парикмахерские, массажные кабинеты и прочие учреждения бытового обслуживания населения</div>
            </div>
            <div class="about-icons-item">
              <div class="about-icons-img"><img src="{% static 'landing/images/media/round2.jpg' %}" alt=""></div>
              <div class="about-icons-text">Театры и дворцы культуры (афиши новых концертов, спектаклей, развлекательных мероприятий)</div>
            </div>
            <div class="about-icons-item">
              <div class="about-icons-img"><img src="{% static 'landing/images/media/round3.jpg' %}" alt=""></div>
              <div class="about-icons-text">Передвижной и стационарный цирк</div>
            </div>
            <div class="about-icons-item">
              <div class="about-icons-img"><img src="{% static 'landing/images/media/round4.jpg' %}" alt=""></div>
              <div class="about-icons-text">Агентства недвижимости, сантехники, замена счетчиков,  доставки еды</div>
            </div>
            <div class="about-icons-item">
              <div class="about-icons-img"><img src="{% static 'landing/images/media/round5.jpg' %}" alt=""></div>
              <div class="about-icons-text">Кредитные учреждения и ломбарды</div>
            </div>
            <div class="about-icons-item">
              <div class="about-icons-img"><img src="{% static 'landing/images/media/round6.jpg' %}" alt=""></div>
              <div class="about-icons-text">Интернет-провайдеры, образовательные центры и многие другие</div>
            </div>
          </div>
        </div>
        <div class="about-who">
          <h3>Почему стоит заказать расклейку<br> рекламных объявлений прямо сейчас</h3>
          <div class="about-who-item">
            <div class="about-who-img"><img src="{% static 'landing/images/media/a1.jpg' %}" alt=""></div>
            <div class="about-who-text"><strong>Невысокая стоимость</strong>
            Цена за 1 секунду рекламы на региональном телевидении стартует от суммы ___ рублей. Стоимость размещения
            информации на биллборде начинается с 10 тыс. рублей. За 1000 расклеенных объявлений вы заплатите всего
            от 1000 рублей. Экономия налицо! В цену уже включена зарплата исполнителя и расходные материалы. Никаких
            дополнительных расходов нет и не будет!</div>
          </div>
          <div class="about-who-item">
            <div class="about-who-img"><img src="{% static 'landing/images/media/a2.jpg' %}" alt=""></div>
            <div class="about-who-text"><strong>Охват большой аудитории</strong>
            Благодаря выгодному месту размещения ваше объявление за день увидит не менее ___человек. За неделю вас
            запомнят, а потенциальные клиенты запишут ваш номер в телефонную книгу своего мобильного телефона.</div>
          </div>
          <div class="about-who-item">
            <div class="about-who-img"><img src="{% static 'landing/images/media/a3.jpg' %}" alt=""></div>
            <div class="about-who-text"><strong>Высокая эффективность</strong>
            Афиши и листовки на рекламных стендах на остановках общественного транспорта читает 75% людей. Это
            неудивительно — это самый простой способ скоротать пару минут в ожидании своего маршрута. Практически
            каждый житель обращает внимание на доску объявления у своего подъезда, ведь именно здесь коммунальные
            службы оповещают о ремонтах, отключении воды и прочих бытовых вопросах. К тому же, если вы оказываете
            бытовые услуги населению (ремонт, покраска, маникюр на дому), реклама сразу находит свою целевую аудиторию.</div>
          </div>
          <div class="about-who-item">
            <div class="about-who-img"><img src="{% static 'landing/images/media/a4.jpg' %}" alt=""></div>
            <div class="about-who-text"><strong>Эффективный инструмент контроля</strong>
            Благодаря уникальной программной разработке вы будете точно уверены, что ваша информация попала к адресату,
            а расклейщик не выкинул листовки по дороге. Вы получите фотоотчет о проделанной работе и сможете отследить
            передвижения исполнителя по карте. Вы сможете проверить каждый адрес вашей рекламной кампании прямо за
            монитором собственного компьютера</div>
          </div>
        </div>
        <div class="button-holder scroll">
          <a href="#block5" class="button">Оставить заявку</a>
        </div>
      </div>
    </div>
    <div id="popup3" class="popup">
      <div class="about-popup">
        <article class="about-article">
          <h3>Распространение листовок по<br> почтовым ящикам</h3>
          <div class="title-min">Доступный метод увеличения ваших продаж</div>
          <p>Почтовый ящик — надежный и проверенный способ коммуникации с потенциальным клиентом. Рекламная листовка,
          которую человеку вручают на улице, может тут же отправиться в мусорный ящик. Возможно, ее бегло просмотрят
          по диагонали, а то и вовсе выкинут, не читая. У себя мусорить не принято, поэтому практически каждый житель
          заберет домой буклет с вашей рекламой. Там у него будет время, чтобы подробно ознакомиться с информацией и
          сохранить при необходимости.</p>
          <p>Реклама работает одинаково эффективно для кафе, магазинов, маникюрных салонов, аптеки, спортивного
          клуба, банка и любых других сфер деятельности.</p>
          <p>Хотите, чтобы о вас узнали? Закажите распространение листовок по почтовым ящикам в вашем районе.
          Впрочем, вы можете самостоятельно составить адресную программу, а мы позаботимся о том, чтобы каждое
          послание нашло своего адресата.</p>
        </article>
        <div class="about-who">
          <h3>Почему это выгодно?</h3>
          <div class="about-who-item">
            <div class="about-who-img"><img src="{% static 'landing/images/media/a1.jpg' %}" alt=""></div>
            <div class="about-who-text"><strong>Невысокая стоимость и высокая эффективность</strong>
            За 1000 листовок вы заплатите всего от 500 рублей. Это сэкономит ваш рекламный бюджет без ущерба
            результативности. Хотите еще дешевле? Обращайтесь! Мы запустили программу совмещения: на одной
            рекламной листовке размещаются 2 неконкурирующие компании. Эффективность рекламной акции от этого
            не пострадает, а цена снизится.</div>
          </div>
          <div class="about-who-item">
            <div class="about-who-img"><img src="{% static 'landing/images/media/a2.jpg' %}" alt=""></div>
            <div class="about-who-text"><strong>Вашу рекламу увидят</strong>
            Вспомните, как часто вы заглядываете в почтовый ящик? Сможете ли вы выкинуть листовку, не ознакомившись
            с ее содержимым? Вряд ли. Вашу рекламу как минимум бегло просмотрят или, что более вероятно, заберут с собой.</div>
          </div>
          <div class="about-who-item">
            <div class="about-who-img"><img src="{% static 'landing/images/media/a5.jpg' %}" alt=""></div>
            <div class="about-who-text"><strong>Способ, проверенный годами</strong>
            Трудно вспомнить момент, когда первые рекламные листовки попали в почтовые ящики жителей. Однозначно
            это произошло еще до появления Интернета и всех существующих современных рекламных носителей. Почему
            при всем разнообразии рекламных продуктов распространение листовок до сих пор пользуется популярностью?
            Все просто: эффективность метода доказана годами практики.</div>
          </div>
          <div class="about-who-item">
            <div class="about-who-img"><img src="{% static 'landing/images/media/a6.jpg' %}" alt=""></div>
            <div class="about-who-text"><strong>Вы контролируете процесс</strong>
            По каждой адресной программе вы получите подробный фотоотчет. Ваши листовки не окажутся в ближайшей
            мусорной корзине по вине недобросовестного исполнителя.</div>
          </div>
        </div>
        <div class="button-holder scroll">
          <a href="#block5" class="button">Оставить заявку</a>
        </div>
      </div>
    </div>
    <div id="popup4" class="popup">
      <div class="city-popup">
        <h3>Введите нужный Вам город</h3>
        <div class="city-input">
          <form id="#js-form-set-current-city" action="{% url 'landing:set_current_city_from_input' %}" method="post">
            <fieldset>
              <input type="text" class="input input_city" data-url="{% url 'city:find' %}" name="city" placeholder="Ваш город">
            </fieldset>
          </form>
        </div>
        <div class="city-input-text">В этом городе нет пока представительства</div>
        <div class="city-tabs">
          <ul class="tabs">
          {% for country in country_list %}
            {% if country.city_set.count %}
            <li><a href="#tab2_{{ country.id }}">{{ country.name }}</a></li>
            {% endif %}
          {% endfor %}
          </ul>
        </div>
        <div class="city-list-holder">
        {% for country in country_list %}
          {% if country.city_set.all %}
          <div id="tab2_{{ country.id }}" class="tab-content">
            <ul class="city-list" data-url="{% url 'landing:set_current_city' %}">
            {% for city in country.city_set.all %}
              <li><a>{{ city.name }}</a></li>
            {% endfor %}
            </ul>
          </div>
          {% endif %}
        {% endfor %}
        </div>

{#        <div class="city-list-holder">#}
{#          <ul class="city-list" data-url="{% url 'landing:set_current_city' %}">#}
{#          {% for city in city_list %}#}
{#            <li><a>{{ city.name }}</a></li>#}
{#          {% endfor %}#}
{#          </ul>#}
{#        </div>#}

      </div>
    </div>
    <div id="popup5" class="popup">
      <div class="form-block">
        <div class="form-title">Оставить заявку</div>
        <form action="">
          <fieldset>
            <input type="text" name="name" class="input required" placeholder="Ваше имя *">
            <input type="text" name="mail" class="input required" placeholder="Ваш email *">
            <input type="text" name="phone" class="input no-margin required" placeholder="+7 (___) ___ - __ - __">
            <input type="hidden" name="theme" value="Заявка - исполнитель ООО Рекламные системы">
            <button class="submit">Оставить заявку</button>
          </fieldset>
        </form>
      </div>
    </div>
    <div id="boxes">
      <div id="dialog" class="window">
        <a href="" class="close"></a>
        <div class="tablet-popup">
          <div class="tablet-video">
            {{ SETUP.video|safe|default:'' }}
          </div>
        </div>
      </div>
      <div id="mask"></div>
    </div>
    <!--   Всплывающие окна end  -->
  </div>
{{ SETUP.bottom_js|safe|default:'' }}
</body>
</html>
