<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Плакаты и листовки</title>
</head>
<body>
<h1>Плакаты и листовки</h1>
{% if user.is_authenticated %}
  <p>Вы вошли в систему как: {{ user.get_full_name|default:'' }} {{ user.email }}
    <a href="{% url 'logout' %}?next={% url 'landing:index' %}">Выход</a>
  </p>
  <a href="{% url 'dashboard:index' %}">Рабочий стол</a>
{% else %}
  <p>Для доступа к рабочему столу выполните вход в систему:
    <a href="{% url 'login' %}">Вход</a>
  </p>
{% endif %}
</body>
</html>