{% extends 'cabinet_index.html' %}
{% block content %}
  <div class="container">
    <div class="col-lg-12">
      {% include 'client/__include/client_menu.html' %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <p class="lead text-center remove-bottom">Журнал продаж</p>
        </div>
        <div class="panel-body">
          <form action="" method="post" id="js-client-journal-add-form" role="form">
            <div class="col-lg-6">
            {% csrf_token %}
              <div class="form-group">
                {{ clientjournal_form.client }}
                <div class="col-lg-5">{{ clientjournal_form.clientorder.label_tag }}</div>
                <div class="col-lg-7">{{ clientjournal_form.clientorder }}</div>
                {{ clientjournal_form.clientorder.errors }}
                <div class="clearfix"></div>
              </div>
              <div class="form-group">
                <div class="col-lg-5">{{ clientjournal_form.cost.label_tag }}</div>
                <div class="col-lg-7">{{ clientjournal_form.cost }}</div>
                {{ clientjournal_form.cost.errors }}
                <div class="clearfix"></div>
              </div>
              <div class="form-group">
                <div class="col-lg-5">{{ clientjournal_form.add_cost.label_tag }}</div>
                <div class="col-lg-7">{{ clientjournal_form.add_cost }}</div>
                {{ clientjournal_form.add_cost.errors }}
                <div class="clearfix"></div>
              </div>
              <div class="form-group">
                <div class="col-lg-5">{{ clientjournal_form.discount.label_tag }}</div>
                <div class="col-lg-7">{{ clientjournal_form.discount }}</div>
                {{ clientjournal_form.discount.errors }}
                <div class="clearfix"></div>
              </div>
            <input type="submit" class="btn btn-default" value="Сформировать">
            </div>
          </form>
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Заказ</th>
                <th>Цена за стенд, руб.</th>
                <th>Наценка, %.</th>
                <th>Скидка, %</th>
                <th>Количество стендов</th>
                <th>Полная стоимость, руб.</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
              </tr>
            </thead>
            <tbody class="js-list">
              {% for item in journal_list %}
              <tr data-id="{{ item.id }}" data-name="{{ item }}" data-model="ClientJournal" id="id_ClientJournal_{{ item.id }}">
                <td>
                  {% for order in item.clientorder.all %}
                    {{ order }}
                    {% if not forloop.last %}, {% endif %}
                  {% endfor %}
                </td>
                <td>{{ item.cost|default:'Не указано' }}</td>
                <td>{{ item.add_cost|default:'Не указано' }}</td>
                <td>{{ item.discount|default:'Не указано' }}</td>
                <td>{{ item.stand_count|default:'Не указано' }}</td>
                <td>{{ item.total_cost|default:'Не указано' }}</td>
                <td>
                  <a href="{% url 'client:journal-export' item.id %}" class="btn btn-success">
                    <span class="glyphicon glyphicon-download-alt"></span> Скачать в EXCEL
                  </a>
                </td>
                <td>
                  <a href="#js-ajax-item-remove" id="js-ajax-remove-btn-ClientJournal-{{ item.id }}" class="btn btn-danger js-ajax-remove-btn">
                    <span class="glyphicon glyphicon-remove"></span> Удалить
                  </a>
                </td>
              </tr>
              {% empty %}
              <tr>
                <td colspan="8">
                  <p class="alert alert-info">Продаж не найдено</p>
                </td>
              </tr>
              {% endfor %}
              <tr></tr>
            </tbody>
          </table>
          {% include '__includes/pagination.html' with page_obj=journal_list %}
        </div>
      </div>
    </div>
  </div>
{% include '__modal/js_ajax_remove_form.html' %}
{% endblock %}