{% extends 'cabinet_index.html' %}
{% block content %}
  <div class="container">
    <div class="col-lg-12">
      {% include 'client/__include/client_menu.html' %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <p class="lead text-center remove-bottom">Макеты клиента {{ object.legal_name }} </p>
        </div>
        <div class="panel-body">

          <form action="{% url 'client:maket-add' %}" id="js-client-add-maket-form" method="post"
                role="form" class="add-bottom" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="col-lg-6">
                  {{ client_maket_form.client }}
              <div class="form-group">
                <p class="lead add-bottom">Добавить макет</p>
                <div class="col-lg-5">{{ client_maket_form.name.label_tag }}</div>
                <div class="col-lg-7">{{ client_maket_form.name }}</div>
                {{ client_maket_form.name.errors }}
                <div class="clearfix"></div>
              </div>
              <div class="form-group">
                <div class="col-lg-5">{{ client_maket_form.file.label_tag }}</div>
                <div class="col-lg-7">{{ client_maket_form.file }}</div>
                {{ client_maket_form.file.errors }}
                <div class="clearfix"></div>
              </div>
              <div class="form-group">
                <div class="col-lg-5">{{ client_maket_form.date.label_tag }}</div>
                <div class="col-lg-7">{{ client_maket_form.date }}</div>
                {{ client_maket_form.date.errors }}
                <div class="clearfix"></div>
              </div>
              <input type="submit" value="Загрузить" class="btn btn-default">
            </div>
            <div class="clearfix"></div>
          </form>
          <table class="table table-hover">
            <thead>
              <tr>
                <th>id</th>
                <th>Название макета</th>
                <th>Дата размещения макета</th>
                <th>Файл</th>
                <th>&nbsp;</th>
              </tr>
            </thead>
            <tbody class="js-list">
            {% for item in maket_list %}
              <tr data-id="{{ item.id }}" data-name="{{ item.name }}" data-model="ClientMaket" id="id_ClientMaket_{{ item.id }}">
                <td>{{ item.id|default:'--' }}</td>
                <td><a href="{% url 'client:maket-update' item.id %}">{{ item.name|default:'Не указано' }}</a></td>
                <td>{{ item.date|default:'Не указано' }}</td>
                <td>
                  <a href="{{ item.file.url|default:'Не указано' }}" class="btn btn-success">
                    <span class="glyphicon glyphicon-download-alt"></span> СКАЧАТЬ
                  </a>
                </td>
                <td>
                  <a href="#js-ajax-item-remove" id="js-ajax-remove-btn-ClientMaket-{{ item.id }}" class="btn btn-danger js-ajax-remove-btn">
                    <span class="glyphicon glyphicon-remove"></span> Удалить
                  </a>
                </td>
              </tr>
            {% empty %}
              <tr>
                <td colspan="5">
                  <p class="alert alert-info">У клиента нет загруженных макетов</p>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        {% include '__includes/pagination.html' with page_obj=maket_list %}
        </div>
      </div>
    </div>
  </div>
{% include '__modal/js_ajax_remove_form.html' %}
{% endblock %}