{% extends 'cabinet_index.html' %}
{% block content %}
  <div class="container">
    <div class="col-lg-12">
      {% include 'client/__include/client_menu.html' %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <p class="lead text-center remove-bottom">
            {{ object }} клиента "{{ object.client.legal_name }}"
          </p>
        </div>
        <div class="panel-body">
          <form action="" id="js-client-update-order-form" method="post" role="form" class="add-bottom">
            {% csrf_token %}
            <div class="col-lg-6">
              {{ order_form.client }}
              <div class="form-group">
                <p class="lead add-bottom">Редактировать заказ</p>
                <div class="col-lg-5">{{ order_form.date_start.label_tag }}</div>
                <div class="col-lg-7">{{ order_form.date_start }}</div>
                {{ order_form.date_start.errors }}
                <div class="clearfix"></div>
              </div>
              <div class="form-group">
                <div class="col-lg-5">{{ order_form.date_end.label_tag }}</div>
                <div class="col-lg-7">{{ order_form.date_end }}</div>
                {{ form.date_end.errors }}
                <div class="clearfix"></div>
              </div>
              <input type="submit" value="Сохранить изменения" class="btn btn-default">
            </div>
            <div class="clearfix"></div>
          </form>
          <p class="lead">Добавление адресов к заказу</p>

          <form action="{% url 'client:add-client-surface' %}" id="js-order-surface-add-form" method="post" role="form">
          {% csrf_token %}
            <div class="col-lg-6">
              <input type="hidden" name="cos_client" id="id_cos_client" value="{{ client.id }}">
              <input type="hidden" name="cos_order" id="id_cos_order" value="{{ object.id }}">
              <div class="form-group">
                <div class="col-lg-5"><label for="cos_area">Выберите район:</label></div>
                <div class="col-lg-7">
                  <select name="cos_area" id="id_cos_area" class="form-control" data-ajax-url="{% url 'city:get_free_area_surface' %}" data-client-order="{{ object.id }}">
                    <option value="">---- выберите район ----</option>
                  {% for area in area_list %}
                    <option value="{{ area.id }}">{{ area.name }}</option>
                  {% endfor %}
                  </select>
                </div>

                <div class="surface-list js-surface-list">
                  <table class="table">
                    <thead>
                    <tr>
                      <th><input type="checkbox" id="js-select-all" value="">
                      </th>
                      <th>Название улицы</th>
                      <th>Номер дома</th>
                    </tr>
                    </thead>

                  </table>
                </div>




                <div class="clearfix"></div>
              </div>
            </div>
            <div class="clearfix"></div>
            <input type="submit" class="btn btn-default" value="Добавить адреса к заказу">
          </form>
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Адрес</th>
                <th>Район</th>
                <th>Количество подъездов</th>
                <th></th>
              </tr>
            </thead>
            <tbody class="js-list">
              {% for item in object.clientordersurface_set.all %}
              <tr data-id="{{ item.id }}" data-name="{{ item }}" data-model="ClientOrderSurface" id="id_ClientOrderSurface_{{ item.id }}">
                <td>{{ item|default:'Не указано' }}</td>
                <td>{{ item.surface.street.area.name|default:'Не указано' }}</td>
                <td>{{ item.surface.porch_set.all.count|default:'0' }}</td>
                <td>
                  <a href="#js-ajax-item-remove" id="js-ajax-remove-btn-ClientOrderSurface-{{ item.id }}" class="btn btn-danger js-ajax-remove-btn">
                    <span class="glyphicon glyphicon-remove"></span> Удалить
                  </a>
                </td>
              </tr>
              {% empty %}
              <tr>
                <td colspan="4">
                  <p class="alert alert-info">Адресов не найдено</p>
                </td>
              </tr>
              {% endfor %}
              <tr></tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>
{% include '__modal/js_ajax_remove_form.html' %}
{% endblock %}