{% extends 'cabinet_index.html' %}
{% block content %}
  <div class="container">
    <div class="col-lg-12">
      {% include 'client/__include/client_menu.html' %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <p class="lead text-center remove-bottom">
            Заказы клиента "{{ object.legal_name }}"
          </p>
        </div>
        <div class="panel-body">
          <form action="" id="js-client-add-order-form" method="post" role="form" class="add-bottom">
            {% csrf_token %}
            <div class="col-lg-6">
              {{ client_order_form.client }}
              <div class="form-group">
                <p class="lead add-bottom">Добавить заказ</p>
                <div class="col-lg-5">{{ client_order_form.date_start.label_tag }}</div>
                <div class="col-lg-7">{{ client_order_form.date_start }}</div>
                {{ client_order_form.date_start.errors }}
                <div class="clearfix"></div>
              </div>
              <div class="form-group">
                <div class="col-lg-5">{{ client_order_form.date_end.label_tag }}</div>
                <div class="col-lg-7">{{ client_order_form.date_end }}</div>
                {{ client_order_form.date_end.errors }}
                <div class="clearfix"></div>
              </div>
              <input type="submit" value="Создать заказ" class="btn btn-default">
            </div>
            <div class="clearfix"></div>
          </form>
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Название</th>
                <th>Дата начала размещения</th>
                <th>Дата окончания размещения</th>
                <th>Количество стендов</th>
                <th>Excel</th>
                <th>&nbsp;</th>
              </tr>
            </thead>
            <tbody class="js-list">
            {% for order in order_list %}
              <tr data-id="{{ order.id }}" data-name="{{ order }}" data-model="ClientOrder" id="id_ClientOrder_{{ order.id }}">
                <td><a href="{% url 'client:order-update' order.id %}">{{ order|default:'Не указано' }}</a></td>
                <td>{{ order.date_start|default:'Не указано' }}</td>
                <td>{{ order.date_end|default:'Не указано' }}</td>
                <td>{{ order.stand_count|default:'0' }}</td>
                <td>
                  <a href="{% url 'client:order-export' order.id %}" class="btn btn-success">
                    <span class="glyphicon glyphicon-download-alt"></span> Скачать в EXCEL
                  </a>
                </td>
                <td>
                  <a href="#js-ajax-item-remove" id="js-ajax-remove-btn-ClientOrder-{{ order.id }}" class="btn btn-danger js-ajax-remove-btn">
                    <span class="glyphicon glyphicon-remove"></span> Удалить
                  </a>
                </td>
              </tr>
            {% empty %}
              <tr>
              <td colspan="6">
                <p class="alert alert-info">Заказов не найдено</p>
              </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
          {% include '__includes/pagination.html' with page_obj=order_list %}
        </div>
      </div>
    </div>
  </div>
{% include '__modal/js_ajax_remove_form.html' %}
{% endblock %}