{% extends 'cabinet/cabinet_base.html' %}
{% block viewport %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}
{% block title %}Макеты клиента {{ object.legal_name }} | {{ block.super }}{% endblock %}
{% block content %}
  {% include 'sale/__include/sale_breadcrumb.html' %}
  <div class="container">
    <div class="row">
      <div class="page-top">
        <div class="col-md-12">
          <span class="page-top__title">Макеты клиента {{ object.legal_name }}</span>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        {% include 'sale/__include/sale_menu.html' %}
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="panel-content">
              <form action="" class="form" id="js-form-sale-maket" method="post" role="form" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="col-md-6">
                      {{ form.sale }}
                  <div class="form-group">
                    {{ form.name.label_tag }}
                    {{ form.name }}
                    {{ form.name.errors }}
                  </div>
                  <div class="form-group">
                    {{ form.file.label_tag }}
                    {{ form.file }}
                    {{ form.file.errors }}
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    {{ form.date.label_tag }}
                    {{ form.date }}
                    {{ form.date.errors }}
                  </div>
                  <label for="">&nbsp;</label>
                  <input type="submit" value="Загрузить" class="btn btn-save">
                </div>
                <div class="clearfix"></div>
              </form>
              <div class="col-md-12">
                <table class="table table-list">
                  <thead>
                    <tr>
                      <th>Название макета</th>
                      <th>Дата размещения макета</th>
                      <th>Файл</th>
                      <th>&nbsp;</th>
                    </tr>
                  </thead>
                  <tbody class="js-list">
                  {% for item in maket_list %}
                    <tr data-id="{{ item.id }}" data-name="{{ item.name }}" data-model="SaleMaket" id="id_SaleMaket_{{ item.id }}">
                      <td><a href="{% url 'sale:maket-update' item.id %}">{{ item.name|default:'Не указано' }}</a></td>
                      <td>{{ item.date|default:'Не указано' }}</td>
                      <td>
                        <a href="{{ item.file.url|default:'Не указано' }}" class="btn btn-sm btn-success">
                          <span class="glyphicon glyphicon-download-alt"></span> СКАЧАТЬ
                        </a>
                      </td>
                      <td>
                        <a href="#js-ajax-item-remove" id="js-ajax-remove-btn-SaleMaket-{{ item.id }}" class="text-danger js-ajax-remove-btn">
                          <span class="glyphicon glyphicon-remove"></span>
                        </a>
                      </td>
                    </tr>
                  {% empty %}
                    <tr>
                      <td colspan="4">
                        <p class="alert alert-info text-left">У клиента нет загруженных макетов</p>
                      </td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
        {% include '__includes/pagination.html' with page_obj=maket_list %}
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
{% include '__modal/js_ajax_remove_form.html' %}
{% endblock %}