{% extends 'cabinet/cabinet_base.html' %}
{% block viewport %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}
{% block title %}Заказы клиента "{{ object.legal_name }}" | {{ block.super }}{% endblock %}
{% block content %}
  {% include 'sale/__include/sale_breadcrumb.html' %}
  <div class="container">
    <div class="row">
      <div class="page-top">
        <div class="col-md-12">
          <span class="page-top__title">Заказы клиента "{{ object.legal_name }}"</span>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        {% include 'sale/__include/sale_menu.html' %}
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="panel-content">
              <form action="" id="js-form-sale-order" method="post" role="form" class="form">
                {% csrf_token %}
                <div class="col-md-12">
                  <p class="lead text-info text-center">Добавить новый заказ для {{ object.legal_name }}</p>
                  <p class="alert alert-info small">
                    Сумма заказа указывается либо полностью, либо указывается количество материала и стоимость за 1 шт.
                  </p>
                </div>
                <div class="col-md-6">
                  {{ form.sale }}
                  {{ form.sale.errors }}
                  <div class="form-group">
                    {{ form.category.label_tag }}
                    {{ form.category }}
                    {{ form.category.errors }}
                  </div>
                  <div class="form-group">
                    {{ form.type.label_tag }}
                    {{ form.type }}
                    {{ form.type.errors }}
                  </div>
                  <div class="form-group hide">
                    {{ form.questionary.label_tag }}
                    {{ form.questionary }}
                    {{ form.questionary.errors }}
                  </div>
                  <div class="form-group">
                    {{ form.date_start.label_tag }}
                    {{ form.date_start }}
                    {{ form.date_start.errors }}
                  </div>
                  <div class="form-group">
                    {{ form.date_end.label_tag }}
                    {{ form.date_end }}
                    {{ form.date_end.errors }}
                  </div>
                  <div class="form-group">
                    {{ form.full_cost.label_tag }}
                    {{ form.full_cost }}
                    {{ form.full_cost.errors }}
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    {{ form.count.label_tag }}
                    {{ form.count }}
                    {{ form.count.errors }}
                    <div class="clearfix"></div>
                  </div>
                  <div class="form-group">
                    {{ form.cost.label_tag }}
                    {{ form.cost }}
                    {{ form.cost.errors }}
                  </div>
                  <div class="form-group">
                    {{ form.add_cost.label_tag }}
                    {{ form.add_cost }}
                    {{ form.add_cost.errors }}
                  </div>
                  <div class="form-group">
                    {{ form.discount.label_tag }}
                    {{ form.discount }}
                    {{ form.discount.errors }}
                    <div class="clearfix"></div>
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-6">
                  <input type="submit" value="Создать заказ" class="btn btn-save">
                </div>
                <div class="clearfix"></div>
              </form>
              <div class="table-container">
                <div class="row">
                  <div class="col-md-6">
                    <p class="lead text-info">
                      Заказы клиента "{{ object.legal_name }}"
                    </p>
                  </div>
                  <div class="col-md-6">
                    <p class="text-info text-right">Всего заказов на сумму: {{ total_sum|default:'0' }} руб.</p>
                  </div>
                  <div class="clearfix"></div>
                </div>
                <table class="table table-hover table-condensed table-bordered table-list">
                  <thead>
                    <tr>
                      <th>Название</th>
                      <th></th>
                      <th>Дата начала</th>
                      <th>Дата окончания</th>
                      <th>Кол-во материалов</th>
                      <th>Стоимость 1 шт, руб</th>
                      <th>Наценка, %</th>
                      <th>Скидка, %</th>
                      <th>Итого, руб</th>
                      <th>&nbsp;</th>
                    </tr>
                  </thead>
                  <tbody class="js-list">
                  {% for order in order_list %}
                    <tr data-id="{{ order.id }}" data-name="{{ order }}" {% if order.closed %}class="info" {% endif %}data-model="SaleOrder" id="id_SaleOrder_{{ order.id }}">
                      <td><a href="{% url 'sale:order-update' order.id %}">{{ order|default:'Не указано' }}</a></td>
                      <td>
                        <form action="{% url 'sale:email-send' %}" class="js-sale-send-email" method="post">{% csrf_token %}
                          <input type="hidden" name="saleorder" value="{{ object.id }}">
                          <input type="submit" class="btn btn-info btn-sm" value="email уведомление о выполнении">
                        </form>
                      </td>
                      <td>{{ order.date_start|default:'Не указано' }}</td>
                      <td>{{ order.date_end|default:'Не указано' }}</td>
                      <td>{{ order.count|default:'0' }}</td>
                      <td>{{ order.cost|default:'0' }}</td>
                      <td>{{ order.add_cost|default:'0' }}</td>
                      <td>{{ order.discount|default:'0' }}</td>
                      <td>{{ order.total_sum|default:'0' }}</td>
      {#                <td>#}
      {#                  <a href="{% url 'client:order-export' order.id %}" class="btn btn-success">#}
      {#                    <span class="glyphicon glyphicon-download-alt"></span> Скачать в EXCEL#}
      {#                  </a>#}
      {#                </td>#}
                      <td>
                        <a href="#js-ajax-item-remove" id="js-ajax-remove-btn-SaleOrder-{{ order.id }}" class="text-danger js-ajax-remove-btn">
                          <span class="glyphicon glyphicon-remove"></span>
                        </a>
                      </td>
                    </tr>
                  {% empty %}
                    <tr>
                    <td colspan="9">
                      <p class="alert alert-info text-left">Заказов не найдено</p>
                    </td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
        {% include '__includes/pagination.html' with page_obj=order_list %}
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
{% include '__modal/js_ajax_remove_form.html' %}
{% endblock %}
