{% extends 'cabinet/cabinet_base.html' %}
{% block viewport %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}
{% block title %}Добавление новой продажи | {{ block.super }}{% endblock %}
{% block content %}
  <div class="breadcrumb-container">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ol class="breadcrumb">
            <li><a href="{% url 'dashboard:index' %}">Рабочий стол</a></li>
            <li><a href="{% url 'sale:list' %}">Список продаж</a></li>
            <li class="active">Добавление новой продажи</li>
          </ol>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="page-top">
        <div class="col-md-12">
          <span class="page-top__title">Добавление новой продажи</span>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="panel-content">
              <form action="" role="form" class="form" id="js-form-sale-add" method="post">
                {% csrf_token %}
                <div class="col-md-12">
                  <p class="lead text-center text-info">ФИО представителя</p>
                </div>
                <div class="col-md-6">
                  <div class="form-group alert alert-info">
                    {{ user_form.email.label_tag }}
                    {{ user_form.email }}
                    {{ user_form.email.errors }}
                    <p class=" small">email для входа в кабинет клиента. Может быть ненастоящим.</p>
                  </div>
                  <div class="form-group">
                    {{ user_form.phone.label_tag }}
                    {{ user_form.phone }}
                    {{ user_form.phone.errors }}
                  </div>
                  <div class="form-group">
                    {{ user_form.password1.label_tag }}
                    {{ user_form.password1 }}
                    {{ user_form.password1.errors }}
                  </div>
                  <div class="form-group">
                    {{ user_form.password2.label_tag }}
                    {{ user_form.password2 }}
                    {{ user_form.password2.errors }}
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    {{ user_form.last_name.label_tag }}
                    {{ user_form.last_name }}
                    {{ user_form.last_name.errors }}
                  </div>
                  <div class="form-group">
                    {{ user_form.first_name.label_tag }}
                    {{ user_form.first_name }}
                    {{ user_form.first_name.errors }}
                  </div>
                  <div class="form-group">
                    {{ user_form.patronymic.label_tag }}
                    {{ user_form.patronymic }}
                    {{ user_form.patronymic.errors }}
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12">
                  <p class="lead text-center text-info">Реквизиты организации</p>
                </div>
                <div class="col-md-6">
                  {{ sale_form.presale }}
                  {% if user.type == 1 %}
                  <div class="form-group">
                    <div class="col-lg-5">{{ sale_form.moderator.label_tag }}</div>
                    <div class="col-lg-7">{{ sale_form.moderator }}</div>
                    {{ sale_form.moderator.errors }}
                    <div class="clearfix"></div>
                  </div>
                  {% else %}
                    {{ sale_form.moderator }}
                    {{ sale_form.moderator.errors }}
                  {% endif %}
                  <div class="form-group alert alert-info">
                    {{ sale_form.sender_email.label_tag }}
                    {{ sale_form.sender_email }}
                    {{ sale_form.sender_email.errors }}
                    <p class="small">Сюда будут отправляться уведомления о выполнении заказов</p>
                  </div>
                  <div class="form-group alert alert-info">
                    {{ sale_form.phone_sms.label_tag }}
                    {{ sale_form.phone_sms }}
                    {{ sale_form.phone_sms.errors }}
                    <p class="small">На этот номер будут отправляться СМС уведомления о выполнении заказов. Номер должен быть формата <strong>79999999999</strong></p>
                  </div>
                  <div class="form-group">
                    {{ sale_form.city.label_tag }}
                    {{ sale_form.city }}
                    {{ sale_form.city.errors }}
                  </div>
                  <div class="form-group {% if user.manager_user and not user.manager_user.leader %}hide{% endif %}">
                    {{ sale_form.manager.label_tag }}
                    {{ sale_form.manager }}
                    {{ sale_form.manager.errors }}
                  </div>
                  <div class="form-group">
                    {{ sale_form.legal_name.label_tag }}
                    {{ sale_form.legal_name }}
                    {{ sale_form.legal_name.errors }}
                  </div>
                  <div class="form-group">
                    {{ sale_form.actual_name.label_tag }}
                    {{ sale_form.actual_name }}
                    {{ sale_form.actual_name.errors }}
                  </div>
                  <div class="form-group">
                    {{ sale_form.legal_address.label_tag }}
                    {{ sale_form.legal_address }}
                    {{ sale_form.legal_address.errors }}
                  </div>
                  <div class="form-group">
                    {{ sale_form.inn.label_tag }}
                    {{ sale_form.inn }}
                    {{ sale_form.inn.errors }}
                  </div>
                  <div class="form-group">
                    {{ sale_form.kpp.label_tag }}
                    {{ sale_form.kpp }}
                    {{ sale_form.kpp.errors }}
                  </div>
                  <div class="form-group">
                    {{ sale_form.ogrn.label_tag }}
                    {{ sale_form.ogrn }}
                    {{ sale_form.ogrn.errors }}
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    {{ sale_form.bank.label_tag }}
                    {{ sale_form.bank }}
                    {{ sale_form.bank.errors }}
                  </div>
                  <div class="form-group">
                    {{ sale_form.bik.label_tag }}
                    {{ sale_form.bik }}
                    {{ sale_form.bik.errors }}
                  </div>
                  <div class="form-group">
                    {{ sale_form.account.label_tag }}
                    {{ sale_form.account }}
                    {{ sale_form.account.errors }}
                  </div>
                  <div class="form-group">
                    {{ sale_form.account_cor.label_tag }}
                    {{ sale_form.account_cor }}
                    {{ sale_form.account_cor.errors }}
                  </div>
                  <div class="form-group">
                    {{ sale_form.leader.label_tag }}
                    {{ sale_form.leader }}
                    {{ sale_form.leader.errors }}
                  </div>
                  <div class="form-group">
                    {{ sale_form.leader_function.label_tag }}
                    {{ sale_form.leader_function }}
                    {{ sale_form.leader_function.errors }}
                  </div>
                  <div class="form-group">
                    {{ sale_form.work_basis.label_tag }}
                    {{ sale_form.work_basis }}
                    {{ sale_form.work_basis.errors }}
                  </div>
                  <div class="form-group">
                    {% load widget_tweaks %}
                    <h4>Преамбула к договору</h4>
                    <p>
                      "Название компании", именуемое в дальнейшем "Заказчик",<br>
                      в лице
                      {{ sale_form.signer_post_dec|attr:'placeholder:должность подписанта'|add_class:'signer-input' }}
                      {{ sale_form.signer_name_dec|attr:'placeholder:имя подписанта'|add_class:'signer-input' }},
                       действующего на основании
                      {{ sale_form.signer_doc_dec|attr:'placeholder:действует на основании'|add_class:'signer-input' }}
                    </p>
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-6">
                  <button type="submit" class="btn btn-save">Создать продажу</button>
                </div>
                <div class="clearfix"></div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
{% endblock %}