{% extends 'cabinet/cabinet_base.html' %}
{% block viewport %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}
{% block title %}Список продаж | {{ block.super }}{% endblock %}
{% block content %}
  <div class="breadcrumb-container">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ol class="breadcrumb">
            <li><a href="{% url 'dashboard:index' %}">Рабочий стол</a></li>
            <li class="active">Список продаж</li>
          </ol>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="page-top">
        <div class="col-md-6">
          <span class="page-top__title">Список продаж</span><span class="page-top__count"> / {{ page_obj.paginator.count|default:'0' }}</span>
        </div>
        <div class="col-md-6">
          <a href="{% url 'sale:add' %}" class="btn btn-add page-top__btn" title="Добавить новую продажу">
            <span class="glyphicon glyphicon-plus-sign"></span> Добавить новую продажу
          </a>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <button class="btn btn-show-filter" id="js-show-filter-btn">
              <span>Развернуть поиск <strong>+</strong></span>
              <span class="hide">Свернуть поиск <strong>-</strong></span>
            </button>
            <form action="" class="form form-filter" role="form" method="GET">
              <div class="col-md-12">
              {% if moderator_list %}
                <div class="five-col-1">
                  <select name="moderator" class="form-control">
                    <option value="0">---- Модератор ----</option>
                    {% for moderator in moderator_list %}
                      <option value="{{ moderator.id }}" {% if moderator.id == moderator_id %}selected="selected"{% endif %}>{{ moderator }}</option>
                    {% endfor %}
                  </select>
                </div>
              {% endif %}
                <div class="five-col-2">
                  <select name="city" class="form-control">
                    <option value="0">---- Город ----</option>
                    {% for city in city_list %}
                      <option value="{{ city.id }}" {% if city.id == city_id %}selected="selected"{% endif %}>{{ city }}</option>
                    {% endfor %}
                  </select>
                </div>
                {% if not user.manager_user and not user.manager_user.leader %}
                <div class="five-col-2">
                  <select name="manager" class="form-control">
                    <option value="0">---- Менеджер ----</option>
                    {% for manager in manager_list %}
                      <option value="{{ manager.id }}" {% if manager.id == manager_id %}selected="selected"{% endif %}>{{ manager }}</option>
                    {% endfor %}
                  </select>
                </div>
                {% endif %}
                <div class="five-col-1">
                  <input type="text" name="email" class="form-control" placeholder="email" value="{{ r_email|default:'' }}">
                </div>
                <div class="five-col-1">
                  <input type="text" name="legal_name" class="form-control" placeholder="Юридическое название" value="{{ r_legal_name|default:'' }}">
                </div>
                <div class="five-col-1">
                  <input type="submit" class="btn btn-search" value="Искать продажу">
                </div>
              </div>
              <div class="clearfix"></div>
            </form>
            <div class="col-md-12">
              <div class="table-container">
                <table class="table table-list">
                  <thead>
                    <tr>
                      <th>Юридические наименование</th>
                      <th>Фактичесское наименование</th>
                      <th>Город</th>
                      {% if user.superviser %}
                      <th>Модератор</th>
                      {% endif %}
                      <th>Менеджер</th>
                      <th>Пользователь</th>
                      <th>Руководитель</th>
                      <th>Должность руководителя</th>
                      <th>&nbsp;</th>
                    </tr>
                  </thead>
                  <tbody class="js-list">
                  {% if object_list %}
                    {% for object in object_list %}
                    <tr data-id="{{ object.id }}" data-name="{{ object.legal_name }}" data-model="Sale" id="id_Sale_{{ object.id }}">
                      <td>
                        <a href="{% url 'sale:update' object.id %}">
                          {{ object.legal_name|default:'Не указано' }}
                          {% if object.presale %} <span class="glyphicon glyphicon-tag"></span>{% endif %}
                        </a>
                      </td>
                      <td>{{ object.actual_name|default:'Не указано' }}</td>
                      <td>{{ object.city|default:'Не указано' }}</td>
                      {% if user.superviser %}
                      <td>{{ object.moderator.company|default:'Не указано' }}</td>
                      {% endif %}
                      <td>{{ object.manager|default:'Не указано' }}</td>
                      <td>{{ object.user|default:'Не указано' }}</td>
                      <td>{{ object.leader|default:'Не указано' }}</td>
                      <td>{{ object.leader_function|default:'Не указано' }}</td>
                      <td>
                        <a href="#js-ajax-item-remove" id="js-ajax-remove-btn-{{ object.id }}" class="text-danger js-ajax-remove-btn">
                          <span class="glyphicon glyphicon-remove"></span>
                        </a>
                      </td>
                    </tr>
                    {% endfor %}
                  {% else %}
                    <tr>
                      <td colspan="{% if user.superviser %}9{% else %}8{% endif %}"><p class="alert alert-info text-left">Клиентов нет</p></td>
                    </tr>
                  {% endif %}
                  </tbody>
                </table>
                </div>
            </div>
          <div class="clearfix"></div>
          </div>
        </div>
        {% include '__includes/pagination.html' %}
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
{% include '__modal/js_ajax_remove_form.html' %}
{% endblock %}