{% extends 'cabinet/cabinet_base.html' %}
{% block viewport %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}
{% block title %}Редактирование {{ object }} | {{ block.super }}{% endblock %}
{% block content %}
  {% include 'sale/__include/sale_breadcrumb.html' %}
  <div class="container">
    <div class="row">
      <div class="page-top">
        <div class="col-md-8">
          <span class="page-top__title">Редактирование {{ object }}</span>
        </div>
        <div class="col-md-4 text-right">
          <form action="{% url 'sale:sms-send' %}" id="js-sale-send-sms" method="post">{% csrf_token %}
            <input type="hidden" name="sale" value="{{ object.id }}">
            <input type="submit" class="btn btn-add" value="Отправить логин и пароль в СМС">
          </form>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        {% include 'sale/__include/sale_menu.html' %}
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="panel-content">
              <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#user">Информация о пользователе</a></li>
                <li><a data-toggle="tab" href="#sale">Информация об организации</a></li>
              </ul>

              <div class="tab-content">
                <div id="user" class="tab-pane fade in active">
                  {% if error %}
                    <div class="alert alert-danger">
                      {{ error }}
                    </div>
                  {%  endif %}
                  {% if success %}
                    <div class="alert alert-success">
                      {{ success }}
                    </div>
                  {% endif %}
                  <div class="col-md-6">
                    <form action="" role="form" class="form" id="js-form-user-update" method="post">
                      {% csrf_token %}
                      <p class="lead text-info">ФИО представителя</p>
                      {{ user_form.errors }}
                      <div class="form-group alert alert-info">
                        {{ user_form.email.label_tag }}
                        {{ user_form.email }}
                        {{ user_form.email.errors }}
                        <p class=" small">email для входа в кабинет клиента. Может быть ненастоящим.</p>
                      </div>
                      <div class="form-group">
                        {{ user_form.last_name.label_tag }}
                        {{ user_form.last_name }}
                        {{ user_form.last_name.errors }}
                      </div>
                      <div class="form-group">
                        {{ user_form.first_name.label_tag }}
                        {{ user_form.first_name }}
                        {{ user_form.first_name.errors }}
                      </div>
                      <div class="form-group">
                        {{ user_form.patronymic.label_tag }}
                        {{ user_form.patronymic }}
                        {{ user_form.patronymic.errors }}
                      </div>
                      <div class="form-group">
                        {{ user_form.phone.label_tag }}
                        {{ user_form.phone }}
                        {{ user_form.phone.errors }}
                      </div>
                      <div class="form-group">
                        {{ user_form.is_active.label_tag }}
                        {{ user_form.is_active }}
                        {{ user_form.is_active.errors }}
                      </div>
                      <button type="submit" class="btn btn-save">Сохранить</button>
                    </form>
                  </div>
                  <div class="col-md-6">
                    <p class="text-info lead">Смена пароля</p>
                    {% include 'core/__includes/user_password_change_form.html' with user_id=object.user.id %}
                  </div>
                  <div class="clearfix"></div>
                </div>
                <div id="sale" class="tab-pane fade">
                  <form action="{% url 'sale:sale_update' %}" id="js-form-sale-update" method="post" role="form">
                    {% csrf_token %}
                    <p class="lead text-info">Реквизиты организации</p>
                    {{ sale_form.user }}
                    <div class="col-md-6">
                      {% if user.type == 1 %}
                      <div class="form-group">
                        {{ sale_form.moderator.label_tag }}
                        {{ sale_form.moderator }}
                        {{ sale_form.moderator.errors }}
                      </div>
                      {% else %}
                        {{ sale_form.moderator }}
                        {{ sale_form.moderator.errors }}
                      {% endif %}
                      <div class="form-group alert alert-info">
                        {{ sale_form.sender_email.label_tag }}
                        {{ sale_form.sender_email }}
                        {{ sale_form.sender_email.errors }}
                          <p class="small">Сюда будут отправляться уведомления о выполнении заказов</p>
                      </div>
                      <div class="form-group alert alert-info">
                        {{ sale_form.phone_sms.label_tag }}
                        {{ sale_form.phone_sms }}
                        {{ sale_form.phone_sms.errors }}
                        <p class="small">На этот номер будут отправляться СМС уведомления о выполнении заказов. Номер должен быть формата <strong>79999999999</strong></p>
                      </div>
                      <div class="form-group">
                        {{ sale_form.city.label_tag }}
                        {{ sale_form.city }}
                        {{ sale_form.city.errors }}
                      </div>
                      <div class="form-group">
                        {{ sale_form.manager.label_tag }}
                        {{ sale_form.manager }}
                        {{ sale_form.manager.errors }}
                      </div>
                      <div class="form-group">
                        {{ sale_form.legal_name.label_tag }}
                        {{ sale_form.legal_name }}
                        {{ sale_form.legal_name.errors }}
                      </div>
                      <div class="form-group">
                        {{ sale_form.actual_name.label_tag }}
                        {{ sale_form.actual_name }}
                        {{ sale_form.actual_name.errors }}
                      </div>
                      <div class="form-group">
                        {{ sale_form.legal_address.label_tag }}
                        {{ sale_form.legal_address }}
                        {{ sale_form.legal_address.errors }}
                      </div>
                      <div class="form-group">
                        {{ sale_form.leader.label_tag }}
                        {{ sale_form.leader }}
                        {{ sale_form.leader.errors }}
                      </div>
                      <div class="form-group">
                        {{ sale_form.leader_function.label_tag }}
                        {{ sale_form.leader_function }}
                        {{ sale_form.leader_function.errors }}
                      </div>
                      <div class="form-group">
                        {{ sale_form.work_basis.label_tag }}
                        {{ sale_form.work_basis }}
                        {{ sale_form.work_basis.errors }}
                        <div class="clearfix"></div>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        {{ sale_form.inn.label_tag }}
                        {{ sale_form.inn }}
                        {{ sale_form.inn.errors }}
                      </div>
                      <div class="form-group">
                        {{ sale_form.kpp.label_tag }}
                        {{ sale_form.kpp }}
                        {{ sale_form.kpp.errors }}
                      </div>
                      <div class="form-group">
                        {{ sale_form.ogrn.label_tag }}
                        {{ sale_form.ogrn }}
                        {{ sale_form.ogrn.errors }}
                      </div>
                      <div class="form-group">
                        {{ sale_form.bank.label_tag }}
                        {{ sale_form.bank }}
                        {{ sale_form.bank.errors }}
                      </div>
                      <div class="form-group">
                        {{ sale_form.bik.label_tag }}
                        {{ sale_form.bik }}
                        {{ sale_form.bik.errors }}
                      </div>
                      <div class="form-group">
                        {{ sale_form.account.label_tag }}
                        {{ sale_form.account }}
                        {{ sale_form.account.errors }}
                        <div class="clearfix"></div>
                      </div>
                      <div class="form-group">
                        {{ sale_form.account_cor.label_tag }}
                        {{ sale_form.account_cor }}
                        {{ sale_form.account_cor.errors }}
                      </div>
                      <div class="form-group">
                        {% load widget_tweaks %}
                        <h4>Преамбула к договору</h4>
                        <p>
                          "Название компании", именуемое в дальнейшем "Заказчик",<br>
                          в лице
                          {{ sale_form.signer_post_dec|attr:'placeholder:должность подписанта'|add_class:'signer-input' }}
                          {{ sale_form.signer_name_dec|attr:'placeholder:имя подписанта'|add_class:'signer-input' }},
                           действующего на основании
                          {{ sale_form.signer_doc_dec|attr:'placeholder:действует на основании'|add_class:'signer-input' }}
                        </p>
                      </div>
                      <div class="form-group alert alert-info">
                        {{ sale_form.hide_empty_point.label_tag }}
                        {{ sale_form.hide_empty_point }}
                        {{ sale_form.hide_empty_point.errors }}
                        <p class="small">Снять галочку если нужно показывать в отчёте клиента gps-точки
                        к которым не привязаны фотографии</p>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-6">
                      <button type="submit" class="btn btn-save">Сохранить</button>
                    </div>
                    <div class="clearfix"></div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
{% endblock %}