{% extends 'cabinet/cabinet_base.html' %}
{% block viewport %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}
{% block title %}Добавление страны | {{ block.super }}{% endblock %}
{% block content %}
  {% include 'geolocation/__include/country_breadcrumb.html' %}
  <div class="container">
    <div class="row">
      <div class="page-top">
        <div class="col-md-12">
          <span class="page-top__title">Добавление страны</span>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="panel-content">
              <form action="" role="form" class="form" id="js-country-form" method="post">
                {% csrf_token %}
                <div class="col-md-6">
                  <div class="form-group">
                    {{ form.name.label_tag }}
                    {{ form.name }}
                    {{ form.name.errors }}
                  </div>
                  <div class="form-group">
                    {{ form.code.label_tag }}
                    {{ form.code }}
                    {{ form.code.errors }}
                  </div>
                  <button type="submit" class="btn btn-save">Добавить страну</button>
                </div>
                <div class="clearfix"></div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
