{% extends 'cabinet/cabinet_base.html' %}
{% block viewport %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}
{% block title %}Регионы | {{ block.super }}{% endblock %}
{% block content %}
  <div class="breadcrumb-container">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ol class="breadcrumb">
            <li><a href="{% url 'dashboard:index' %}">Рабочий стол</a></li>
            <li class="active">Список регионов</li>
          </ol>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="page-top">
        <div class="col-md-6">
          <span class="page-top__title">Регионы</span><span class="page-top__count"> / {{ object_list.count|default:'0' }}</span>
        </div>
        <div class="col-md-6">
          <a href="{% url 'region:add' %}" class="btn btn-add page-top__btn" title="Добавить регион">
            <span class="glyphicon glyphicon-plus-sign"></span> Добавить регион
          </a>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <button class="btn btn-show-filter" id="js-show-filter-btn">
              <span>Развернуть поиск <strong>+</strong></span>
              <span class="hide">Свернуть поиск <strong>-</strong></span>
            </button>
            <form action="" method="GET" role="form" class="form form-filter add-bottom">
              <div class="col-md-12">
                <div class="five-col-1">
                  <select name="country" id="region_filter" class="form-control">
                    <option value="0">Страна</option>
                    {% for country in country_list %}
                      <option value="{{ country.id }}" {% if country.id == r_country %}selected="selected"{% endif %}>{{ country.name }}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="five-col-1">
                  <button type="submit" class="btn btn-search">Искать</button>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="clearfix"></div>
            </form>
            <div class="col-md-12">
              <div class="table-container">
                <table class="table table-list">
                  <thead>
                    <tr>
                      <th>Название</th>
                      <th>&nbsp;</th>
                    </tr>
                  </thead>
                  <tbody class="js-list">
                  {% for object in object_list %}
                    <tr data-id="{{ object.id }}" data-name="{{ object.name }}" data-model="Region" id="id_Region_{{ object.id }}">
                      <td><a href="{% url 'region:update' object.pk %}">{{ object.name|default:'' }}</a></td>
                      <td class="text-right">
                        <a href="#js-ajax-item-remove" id="js-ajax-remove-btn-{{ object.id }}" class="text-danger js-ajax-remove-btn">
                          <span class="glyphicon glyphicon-remove"></span>
                        </a>
                      </td>
                    </tr>
                  {% empty %}
                    <tr>
                      <td colspan="3">
                        <p class="alert alert-info text-left">Регионов не найдено</p>
                      </td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% include '__modal/js_ajax_remove_form.html' %}
{% endblock %}
