{% extends 'cabinet/cabinet_base.html' %}
{% block content %}
  <div class="container">
    <div class="col-lg-12">
      <ol class="breadcrumb">
        <li><a href="{% url 'dashboard:index' %}">Рабочий стол</a></li>
        <li class="active">Список администраторов</li>
      </ol>
      <div class="panel panel-default">
        <div class="panel-heading">
          <p class="lead remove-bottom text-center">Администраторы</p>
        </div>
        <div class="panel-body">
          <a href="{% url 'administrator:add' %}" class="btn btn-success add-bottom">
            <span class="glyphicon glyphicon-plus-sign"></span> Добавить администратора
          </a>
          <form action="" method="GET" role="form" class="form-inline add-bottom">
            <input type="text" name="email" value="{{ r_email|default:'' }}" class="form-control input-sm" placeholder="e-mail">
            <input type="text" name="last_name" value="{{ r_last_name|default:'' }}" class="form-control input-sm" placeholder="Фамилия">
            <input type="text" name="first_name" value="{{ r_first_name|default:'' }}" class="form-control input-sm" placeholder="Имя">
            <input type="text" name="patronymic" value="{{ r_patronymic|default:'' }}" class="form-control input-sm" placeholder="Отчество">
            <input type="text" name="phone" value="{{ r_phone|default:'' }}" class="form-control input-sm" placeholder="Телефон">
            <button type="submit" class="btn btn-info btn-sm"><span class="glyphicon glyphicon-search"></span> Искать</button>
          </form>
          <table class="table table-hover">
            <thead>
              <tr>
                <th>e-mail</th>
                <th>Фамлия</th>
                <th>Имя</th>
                <th>Отчество</th>
                <th>Телефон</th>
                <th>&nbsp;</th>
              </tr>
            </thead>
            <tbody class="js-list">
            {% for object in object_list %}
              <tr data-id="{{ object.id }}" data-name="{{ object.get_full_name }}" data-model="User" id="id_User_{{ object.id }}">
                <td><a href="{% url 'administrator:update' object.pk %}" class="js-administrator-email"> {{ object.email|default:'' }}</a></td>
                <td>{{ object.last_name|default:'Не указано' }}</td>
                <td>{{ object.first_name|default:'Не указано' }}</td>
                <td>{{ object.patronymic|default:'Не указано' }}</td>
                <td>{{ object.phone|default:'Не указано' }}</td>
                <td>
                  <a href="#js-ajax-item-remove" id="js-ajax-remove-btn-User-{{ object.id }}" class="btn btn-sm btn-danger js-ajax-remove-btn">
                    <span class="glyphicon glyphicon-remove"></span> Удалить
                  </a>
                </td>
              </tr>
            {% empty %}
              <tr>
                <td colspan="6">
                  <p class="alert alert-info">Администраторов не найдено</p>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        {% include '__includes/pagination.html' %}
        </div>
      </div>
    </div>
  </div>
  {% include '__modal/js_ajax_remove_form.html' %}
{% endblock %}