{% extends 'cabinet/cabinet_base.html' %}
{% block viewport %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}
{% block title %}Редактирование администратора {{ object }} | {{ block.super }}{% endblock %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="page-top">
        <div class="col-md-12">
          <span class="page-top__title">Редактирование администратора {{ object }}</span>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="panel-content">
              <div class="col-md-12">
                  {% if form.is_bound %}
                  {% if form.is_valid %}
                    <div class="alert alert-success">
                      Изменения успешно сохранены
                    </div>
                  {% else %}
                    <div class="alert alert-danger">
                      Проверьте правильность ввода полей!
                    </div>
                  {% endif %}
                  {% endif %}
              </div>
              <form action="" role="form" class="form add-bottom" id="js-form-user-update" method="post">
                {% csrf_token %}
                <div class="col-md-6">
                  <p class="text-info lead">Контактная информация</p>
                  <div class="form-group">
                    {{ form.email.label_tag }}
                    {{ form.email }}
                    {{ form.email.errors }}
                  </div>
                  <div class="form-group">
                    {{ form.phone.label_tag }}
                    {{ form.phone }}
                    {{ form.phone.errors }}
                  </div>
                  <div class="form-group add-bottom">
                    {{ form.is_active.label_tag }}
                    {{ form.is_active }}
                    {{ form.is_active.errors }}
                  </div>
                </div>
                <div class="col-md-6">
                  <p class="text-info lead">Личные данные</p>
                  <div class="form-group">
                    {{ form.last_name.label_tag }}
                    {{ form.last_name }}
                    {{ form.last_name.errors }}
                  </div>
                  <div class="form-group">
                    {{ form.first_name.label_tag }}
                    {{ form.first_name }}
                    {{ form.first_name.errors }}
                  </div>
                  <div class="form-group">
                    {{ form.patronymic.label_tag }}
                    {{ form.patronymic }}
                    {{ form.patronymic.errors }}
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-6">
                  <input type="submit" class="btn btn-save" value="Сохранить изменения">
                </div>
                <div class="clearfix"></div>
              </form>
              <div class="col-md-6">
                <p class="text-info lead">Смена пароля</p>
                {% include 'core/__includes/user_password_change_form.html' with user_id=object.id %}
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
{% endblock %}
