<form action="" role="form" class="form add-bottom" id="js-form-distributor-update" method="post">
  {% csrf_token %}
  {{ d_form.user }}
  {{ d_form.user.errors }}
  <div class="col-md-6">
    <p class="text-info lead">Контактные данные</p>
    <div class="form-group {% if not user.type == 1 %}hide{% endif %}">
      {{ d_form.moderator.label_tag }}
      {{ d_form.moderator }}
      {{ d_form.moderator.errors }}
    </div>
    <div class="form-group">
      {{ u_form.email.label_tag }}
      {{ u_form.email }}
      {{ u_form.email.errors }}
    </div>
    <div class="form-group">
      {{ u_form.phone.label_tag }}
      {{ u_form.phone }}
      {{ u_form.phone.errors }}
    </div>
    <div class="form-group">
      {{ u_form.is_active.label_tag }}
      {{ u_form.is_active }}
      {{ u_form.is_active.errors }}
    </div>
  </div>
  <div class="col-md-6">
    <p class="text-info lead">Личные данные</p>
    <div class="form-group">
      {{ u_form.last_name.label_tag }}
      {{ u_form.last_name }}
      {{ u_form.last_name.errors }}
    </div>
    <div class="form-group">
      {{ u_form.first_name.label_tag }}
      {{ u_form.first_name }}
      {{ u_form.first_name.errors }}
    </div>
    <div class="form-group">
      {{ u_form.patronymic.label_tag }}
      {{ u_form.patronymic }}
      {{ u_form.patronymic.errors }}
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="col-md-6">
    <button type="submit" class="btn btn-save">Сохранить</button>
  </div>
  <div class="clearfix"></div>
</form>