<form action="" role="form" class="form add-bottom" id="js-form-distributor-update" method="post">
  {% csrf_token %}
  {{ form.distributor.user }}
  {{ form.distributor.user.errors }}
  <div class="col-md-6">
    <p class="text-info lead">Контактные данные</p>
    <div class="form-group {% if not user.type == 1 %}hide{% endif %}">
      {{ form.distributor.moderator.label_tag }}
      {{ form.distributor.moderator }}
      {{ form.distributor.moderator.errors }}
    </div>
    <div class="form-group">
      {{ form.user.email.label_tag }}
      {{ form.user.email }}
      {{ form.user.email.errors }}
    </div>
    <div class="form-group">
      {{ form.user.phone.label_tag }}
      {{ form.user.phone }}
      {{ form.user.phone.errors }}
    </div>
    <div class="form-group">
      {{ form.user.is_active.label_tag }}
      {{ form.user.is_active }}
      {{ form.user.is_active.errors }}
    </div>
  </div>
  <div class="col-md-6">
    <p class="text-info lead">Личные данные</p>
    <div class="form-group">
      {{ form.user.last_name.label_tag }}
      {{ form.user.last_name }}
      {{ form.user.last_name.errors }}
    </div>
    <div class="form-group">
      {{ form.user.first_name.label_tag }}
      {{ form.user.first_name }}
      {{ form.user.first_name.errors }}
    </div>
    <div class="form-group">
      {{ form.user.patronymic.label_tag }}
      {{ form.user.patronymic }}
      {{ form.user.patronymic.errors }}
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="col-md-6">
    <button type="submit" class="btn btn-save">Сохранить</button>
  </div>
  <div class="clearfix"></div>
</form>
