{% extends 'cabinet_index.html' %}
{% block content %}
<div class="container dashboard">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <p class="lead text-center remove-bottom">Города, адреса и рекламные поверхности</p>
      </div>
      <div class="panel-body">
        {% if user.type != 5 %}
        <div class="col-lg-2">
          <a href="{{ user.get_absolute_url|default:'' }}" class="dashboard__link">
            <img src="{{ STATIC_URL }}icon/moderator_list.png" alt="Данные модератора" class="dashboard__link_icon">
            <span class="dashboard__link_text">Данные модератора</span>
          </a>
        </div>
        {% endif %}
        <div class="col-lg-2">
          <a href="{% url 'city:list' %}" class="dashboard__link">
            <img src="{{ STATIC_URL }}icon/city_list.png" alt="Список городов" class="dashboard__link_icon">
            <span class="dashboard__link_text">Список городов</span>
          </a>
        </div>
        <div class="col-lg-2">
          <a href="{% url 'surface:list' %}" class="dashboard__link">
            <img src="{{ STATIC_URL }}icon/surface_list.png" alt="Список поверхностей" class="dashboard__link_icon">
            <span class="dashboard__link_text">Список поверхностей</span>
          </a>
        </div>
        <div class="col-lg-2">
          <a href="{% url 'surface:add' %}" class="dashboard__link">
            <img src="{{ STATIC_URL }}icon/surface_add.png" alt="Добавить новую поверхность" class="dashboard__link_icon">
            <span class="dashboard__link_text">Добавить новую поверхность</span>
          </a>
        </div>
        <div class="col-lg-2">
          <a href="{% url 'city:management-company' %}" class="dashboard__link">
            <img src="{{ STATIC_URL }}icon/UK_list.png" alt="Список управляющих компаний" class="dashboard__link_icon">
            <span class="dashboard__link_text">Список управляющих компаний</span>
          </a>
        </div>
        <div class="col-lg-2">
          <a href="{% url 'city:management-company-add' %}" class="dashboard__link">
            <img src="{{ STATIC_URL }}icon/UK_add.png" alt="Добавить новую управляющую компанию" class="dashboard__link_icon">
            <span class="dashboard__link_text">Добавить новую управляющую компанию</span>
          </a>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <p class="lead text-center remove-bottom">CRM - система управления клиентами</p>
      </div>
      <div class="panel-body">
        <div class="col-lg-2">
          <a href="{% url 'manager:list' %}" class="dashboard__link">
            <img src="{{ STATIC_URL }}icon/manager_list.png" alt="Список менеджеров" class="dashboard__link_icon">
            <span class="dashboard__link_text">Список менеджеров</span>
          </a>
        </div>
        <div class="col-lg-2">
          <a href="{% url 'manager:add' %}" class="dashboard__link">
            <img src="{{ STATIC_URL }}icon/manager_add.png" alt="Добавить нового менеджера" class="dashboard__link_icon">
            <span class="dashboard__link_text">Добавить нового менеджера</span>
          </a>
        </div>
        <div class="col-lg-2">
          <a href="{% url 'incoming:list' %}" class="dashboard__link">
            <img src="{{ STATIC_URL }}icon/incoming_list.png" alt="Список клиентов" class="dashboard__link_icon">
            <span class="dashboard__link_text">Список клиентов</span>
          </a>
        </div>
        <div class="col-lg-2">
          <a href="{% url 'incoming:add' %}" class="dashboard__link">
            <img src="{{ STATIC_URL }}icon/incoming_add.png" alt="Добавить нового клиента" class="dashboard__link_icon">
            <span class="dashboard__link_text">Добавить нового клиента</span>
          </a>
        </div>
        <div class="col-lg-2">
          <a href="{% url 'incoming:task-list' %}" class="dashboard__link">
            <img src="{{ STATIC_URL }}icon/incoming_task_list.png" alt="Журнал задач по клиентам" class="dashboard__link_icon">
            <span class="dashboard__link_text">Журнал задач по клиентам</span>
          </a>
        </div>
        <div class="col-lg-2">
          <a href="{% url 'incoming:task-list' %}" class="dashboard__link">
            <img src="{{ STATIC_URL }}icon/incoming_task_add.png" alt="Добавить новую задачу по клиенту" class="dashboard__link_icon">
            <span class="dashboard__link_text">Добавить новую задачу по клиенту</span>
          </a>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <p class="lead text-center remove-bottom">Работа с монтажниками</p>
      </div>
      <div class="panel-body">
        <div class="col-lg-2">
          <a href="{% url 'adjustertask:list' %}" class="dashboard__link">
            <img src="{{ STATIC_URL }}icon/adjustertask_list.png" alt="Список задач" class="dashboard__link_icon">
            <span class="dashboard__link_text">Список задач</span>
          </a>
        </div>
        <div class="col-lg-2">
          <a href="{% url 'adjustertask:client-add' %}" class="dashboard__link">
            <img src="{{ STATIC_URL }}icon/adjustertask_add.png" alt="Добавить новую задачу" class="dashboard__link_icon">
            <span class="dashboard__link_text">Добавить <br> новую задачу</span>
          </a>
        </div>
        <div class="col-lg-2">
          <a href="{% url 'adjustertask:archive' %}" class="dashboard__link">
            <img src="{{ STATIC_URL }}icon/adjustertask_archive.png" alt="Архив задач" class="dashboard__link_icon">
            <span class="dashboard__link_text">Архив задач</span>
          </a>
        </div>
        <div class="col-lg-2">
          <a href="{% url 'adjuster:list' %}" class="dashboard__link">
            <img src="{{ STATIC_URL }}icon/adjuster_list.png" alt="Список монтажников" class="dashboard__link_icon">
            <span class="dashboard__link_text">Список монтажников</span>
          </a>
        </div>
        <div class="col-lg-2">
          <a href="{% url 'adjuster:add' %}" class="dashboard__link">
            <img src="{{ STATIC_URL }}icon/adjuster_add.png" alt="Добавить нового монтажника" class="dashboard__link_icon">
            <span class="dashboard__link_text">Добавить нового монтажника</span>
          </a>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>

  </div>

  <div class="col-lg-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <p class="lead text-center remove-bottom">Продажи</p>
      </div>
      <div class="panel-body">
        <div class="col-lg-4">
          <a href="{% url 'client:list' %}" class="dashboard__link">
            <img src="{{ STATIC_URL }}icon/client_list.png" alt="Список продаж" class="dashboard__link_icon">
            <span class="dashboard__link_text">Список продаж</span>
          </a>
        </div>
        <div class="col-lg-4">
          <a href="{% url 'client:add' %}" class="dashboard__link">
            <img src="{{ STATIC_URL }}icon/client_add.png" alt="Добавить новую продажу" class="dashboard__link_icon">
            <span class="dashboard__link_text">Добавить новую продажу</span>
          </a>
        </div>
        <div class="col-lg-4">
          <a href="{% url 'journal:list' %}" class="dashboard__link">
            <img src="{{ STATIC_URL }}icon/journal_list.png" alt="Журнал продаж" class="dashboard__link_icon">
            <span class="dashboard__link_text">Журнал продаж</span>
          </a>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <p class="lead text-center remove-bottom">Сайт</p>
      </div>
      <div class="panel-body">
        {% if user.type != 5 %}
        <div class="col-lg-4">
          <a href="{% url 'setup-list' %}" class="dashboard__link">
            <img src="{{ STATIC_URL }}icon/site_settings.png" alt="Настройки сайта" class="dashboard__link_icon">
            <span class="dashboard__link_text">Настройки сайта</span>
          </a>
        </div>
        {% endif %}
        <div class="col-lg-4">
          <a href="{% url 'block-list' %}" class="dashboard__link">
            <img src="{{ STATIC_URL }}icon/site_blocks.png" alt="Блоки сайта" class="dashboard__link_icon">
            <span class="dashboard__link_text">Блоки сайта</span>
          </a>
        </div>
        <div class="col-lg-4">
          <a href="{% url 'ticket:list' %}" class="dashboard__link">
            <img src="{{ STATIC_URL }}icon/site_task.png" alt="Заявки с сайта" class="dashboard__link_icon">
            <span class="dashboard__link_text">Заявки с сайта</span>
          </a>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
{% endblock %}