{% extends 'cabinet_index.html' %}
{% block content %}
  <div class="container">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <p class="lead text-center remove-bottom">Создание профиля</p>
        </div>
        <div class="panel-body">
          <div class="col-lg-6">
            <form action="." role="form" class="form-profile" method="post">
              {% csrf_token %}
              {{ form.as_p }}
{#              <div class="form-group">#}
{#                <label class="control-label col-sm-4" for="last_name">#}
{#                  {{ form.last_name.label }}#}
{#                </label>#}
{#                <div class="col-sm-8">#}
{#                  {{ form.last_name }}#}
{#                </div>#}
{#              </div>#}
{#              <div class="form-group">#}
{#                <label class="control-label col-sm-4" for="first_name">#}
{#                  {{ form.first_name.label }}#}
{#                </label>#}
{#                <div class="col-sm-8">#}
{#                  {{ form.first_name }}#}
{#                </div>#}
{#              </div>#}
{#              <div class="form-group">#}
{#                <label class="control-label col-sm-4" for="patronymic">#}
{#                  {{ form.patronymic.label }}#}
{#                </label>#}
{#                <div class="col-sm-8">#}
{#                  {{ form.patronymic }}#}
{#                </div>#}
{#              </div>#}
{#              <div class="form-group">#}
{#                <label class="control-label col-sm-4" for="phone">#}
{#                  {{ form.phone.label }}#}
{#                </label>#}
{#                <div class="col-sm-8">#}
{#                  {{ form.phone }}#}
{#                </div>#}
{#              </div>#}
              <button type="submit" class="btn btn-default">Сохранить</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}