<form action="{% url 'cabinet:password_change' %}" role="form" class="js-form-password-change" method="post">
  {% csrf_token %}
    <input type="hidden" name="user_id" class="form-control" value="{{ user_id }}">
    <div class="form-group">
      <div class="col-lg-5">
        <label for="password1">Новый пароль:</label>
      </div>
      <div class="col-lg-7">
        <input type="password" name="password1" class="form-control">
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="form-group">
      <div class="col-lg-5">
        <label for="password2">Повторите пароль:</label>
      </div>
      <div class="col-lg-7">
        <input type="password" name="password2" class="form-control">
      </div>
      <div class="clearfix"></div>
    </div>
    <button type="submit" class="btn btn-default">Изменить пароль</button>
</form>