<ol class="breadcrumb">
  <li><a href="{% url 'cabinet:cabinet' %}">Рабочий стол</a></li>
  <li><a href="{% url 'client:list' %}">Список продаж</a></li>
  <li class="active">Редактирование продажи</li>
</ol>
<div class="div add-bottom">
  <a href="{% url 'client:change' client.id %}" class="btn btn-default">
    <span class="glyphicon glyphicon-edit"></span> Редактирование клиента
  </a>
  <a href="{% url 'client:order' client.id %}" class="btn btn-default">
    <span class="glyphicon glyphicon-check"></span> Заказы
  </a>
  <a href="{% url 'client:journal' client.id %}" class="btn btn-default">
    <span class="glyphicon glyphicon-calendar"></span> Журнал продаж
  </a>
  <a href="{% url 'client:maket' client.id %}" class="btn btn-default">
    <span class="glyphicon glyphicon-folder-open"></span> Архив макетов
  </a>
</div>