<div>
  <a href="{% url 'sale:update' sale.id %}" class="btn btn-default add-bottom">
    <span class="glyphicon glyphicon-edit"></span> Редактирование продажи
  </a>
  <a href="{% url 'sale:order' sale.id %}" class="btn btn-default add-bottom">
    <span class="glyphicon glyphicon-check"></span> Заказы
  </a>
  <a href="{% url 'sale:payment-list' sale.id %}" class="btn btn-default add-bottom">
    <span class="glyphicon glyphicon-shopping-cart"></span> Журнал поступлений
  </a>
  <a href="{% url 'sale:maket' sale.id %}" class="btn btn-default add-bottom">
    <span class="glyphicon glyphicon-folder-open"></span> Архив материалов
  </a>
  <a href="{% url 'sale:questionary' sale.id %}" class="btn btn-default add-bottom">
    <span class="glyphicon glyphicon-list-alt"></span> Анкеты
  </a>
</div>
