<div data-formset-form>
  <div style="position: relative;">
    <br><br>
    <a class="delete-row" href="javascript:void(0)" role="button" data-formset-delete-button>
      <span class="glyphicon glyphicon-minus-sign"></span> удалить вопрос
    </a>
  </div>
  {{ form.id }}
  <div class="hidden">{{ form.DELETE }}</div>
  <div class="form-group">
    {{ form.text }}
    {{ form.text.errors }}
    {{ form.question_type.label_tag }}&nbsp;
    {% for radio in form.question_type %}
    <label for="{{ radio.id_for_label }}" class="radio-inline">
      {{ radio.tag }} {{ radio.choice_label }}
    </label>
    {% endfor %}
  </div>

  <div class="col-md-12">
    <div class="js-sale-questionary-answer-formset" data-formset-prefix="{{ form.nested.prefix }}">
      <label>Варианты ответов:</label>
      {{ form.nested.management_form }}

      <div data-formset_answer-body>
        {% for answer_form in form.nested %}
        {% include 'sale/__include/sale_questionary_answer_form.html' with form=answer_form only %}
        {% empty %}
        <p class="alert alert-info text-left">добавьте варианты ответов на вопрос</p>
        {% endfor %}
      </div>

      <script type="form-template" data-formset_answer-empty-form>
        {% include 'sale/__include/sale_questionary_answer_form.html' with form=form.nested.empty_form only %}
      </script>

      <a href="javascript:void(0)" role="button" data-formset_answer-add>
        <span class="glyphicon glyphicon-plus-sign"></span> добавить ответ
      </a>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
