{% extends 'cabinet/cabinet_base.html' %}
{% block content %}
  <div class="container">
    <div class="col-lg-12">
      {% include 'moderator/__include/moderator_menu.html' %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <p class="lead text-center remove-bottom">Информация об организации модератора {{ object.user.email }}</p>
        </div>
        <div class="panel-body">
          <div class="col-lg-12">
              {% if error %}
                <div class="alert alert-danger">
                  {{ error }}
                </div>
              {%  endif %}
              {% if success %}
                <div class="alert alert-success">
                  {{ success }}
                </div>
              {% endif %}
          </div>
          <div class="col-lg-12">
            <form action="" role="form" id="js-form-moderator-update" enctype="multipart/form-data" method="post">
            {% csrf_token %}
              <div class="col-lg-8">
                <div class="form-group">
                  <p class="text-info lead">Информация об организации</p>
                    {{ form.user }}
                </div>
                <div class="form-group">
                  <div class="col-lg-5">
                    {{ form.city.label_tag }}
                  </div>
                  <div class="col-lg-7">

                  {% if user.type == 1 %}
                    {{ form.city }}
                  {% else %}
                    <div class="hide">
                      {{ form.city }}
                    </div>
                    {% for city in object.city.all %}
                      {{ city|default:'Не указано' }}
                      {% if not forloop.last %}, {% endif %}
                    {% endfor %}
                  {% endif %}
                  </div>
                  <div class="clearfix"></div>
                    {{ form.city.errors }}
                </div>
                <div class="form-group">
                  <div class="col-lg-5">
                    {{ form.company.label_tag }}
                  </div>
                  <div class="col-lg-7">
                    {{ form.company }}
                  </div>
                  <div class="clearfix"></div>
                    {{ form.company.errors }}
                </div>
                <div class="form-group">
                  <div class="col-lg-5">
                    {{ form.leader.label_tag }}
                  </div>
                  <div class="col-lg-7">
                    {{ form.leader }}
                  </div>
                  <div class="clearfix"></div>
                    {{ form.leader.errors }}
                </div>
                <div class="form-group">
                  <div class="col-lg-5">
                    {{ form.leader_function.label_tag }}
                  </div>
                  <div class="col-lg-7">
                    {{ form.leader_function }}
                  </div>
                  <div class="clearfix"></div>
                    {{ form.leader_function.errors }}
                </div>
                <div class="form-group">
                  <div class="col-lg-5">
                    {{ form.work_basis.label_tag }}
                  </div>
                  <div class="col-lg-7">
                    {{ form.work_basis }}
                  </div>
                  <div class="clearfix"></div>
                    {{ form.work_basis.errors }}
                </div>
                <div class="panel panel-info">
                  <div class="panel-heading js-toggle-heading">
                    Информация для сайта <span class="caret"></span>
                  </div>
                  <div class="panel-body js-toggle-body">
                    <div class="form-group">
                      <div class="col-lg-5">
                        {{ form.experience.label_tag }}
                      </div>
                      <div class="col-lg-7">
                        {{ form.experience }}
                      </div>
                      <div class="clearfix"></div>
                        {{ form.experience.errors }}
                    </div>
                    <div class="form-group">
                      <div class="col-lg-5">
                        {{ form.description.label_tag }}
                      </div>
                      <div class="col-lg-7">
                        {{ form.description }}
                      </div>
                      <div class="clearfix"></div>
                        {{ form.description.errors }}
                    </div>
                    <div class="form-group">
                      <div class="col-lg-5">
                        {{ form.contact.label_tag }}
                      </div>
                      <div class="col-lg-7">
                        {{ form.contact }}
                      </div>
                      <div class="clearfix"></div>
                        {{ form.contact.errors }}
                    </div>
                    <div class="form-group">
                      <div class="col-lg-5">
                        {{ form.phone.label_tag }}
                      </div>
                      <div class="col-lg-7">
                        {{ form.phone }}
                      </div>
                      <div class="clearfix"></div>
                        {{ form.phone.errors }}
                    </div>
                    <div class="form-group">
                      <div class="col-lg-5">
                        {{ form.logotype.label_tag }}
                      </div>
                      <div class="col-lg-7">
                        {{ form.logotype }}
                      </div>
                      <div class="clearfix"></div>
                        {{ form.logotype.errors }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="clearfix"></div>
              <button type="submit" class="btn btn-success">Сохранить изменения</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}