{% extends 'cabinet/cabinet_base.html' %}
{% block viewport %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}
{% block title %}Виды деятельности модератора {{ object }} | {{ block.super }}{% endblock %}
{% block extra_js %}
<script type="text/javascript">
  $(function() {
    $('#js-form-moderator-action .form-group').formset({
      prefix: '{{ formset.prefix }}',
      addText: '<span class="glyphicon glyphicon-plus-sign"></span> добавить ещё',
      deleteText: '<span class="glyphicon glyphicon-minus-sign"></span> удалить'
    });
  })
</script>
{% endblock %}
{% block content %}
  {% include 'moderator/__include/moderator_breadcrumb.html' %}
  <div class="container">
    <div class="row">
      <div class="page-top">
        <div class="col-md-12">
          <span class="page-top__title">Виды деятельности модератора {{ object }}</span>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        {% include 'moderator/__include/moderator_menu.html' %}
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="panel-content">
              {% if error or success %}
              <div class="col-md-12">
                {% if error %}
                <div class="alert alert-danger">
                  {{ error }}
                </div>
                {%  endif %}
                {% if success %}
                <div class="alert alert-success">
                  {{ success }}
                </div>
                {% endif %}
              </div>
              {% endif %}
              <form action="" role="form" class="form" id="js-form-moderator-action" method="post">
                <div class="col-md-10">
                {% csrf_token %}
                {{ formset.management_form }}
                {% for form in formset %}
                  {{ form.id }}
                  {{ form.moderator }}
                  <div class="form-group">
{#                    <div class="col-md-3">{{ form.name.label_tag }}</div>#}
                    <div class="col-md-6">
                      {{ form.name.label_tag }}
                      {{ form.name }}
                      {{ form.name.errors }}
                    </div>
                    <div class="col-md-5">
                      {{ form.cost.label_tag }}
                      {{ form.cost }}
                      {{ form.cost.errorss }}
                    </div>
                    <div class="clearfix"></div>
                    {% if form.instance.pk %}
                    <div class="col-md-10 text-right">{{ form.DELETE.label_tag }}</div>
                    <div class="col-md-2">{{ form.DELETE }}</div>
                    <div class="clearfix"></div>
                    {% endif %}
                  </div>
                {% endfor %}
                  <input type="submit" value="Сохранить" class="btn btn-save">
                </div>
                <div class="clearfix"></div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}