{% extends 'cabinet/cabinet_base.html' %}
{% block viewport %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}
{% block title %}Виды деятельности модератора {{ object }} | {{ block.super }}{% endblock %}
{% block extra_js %}
<script type="text/javascript">
  $(function() {
    $('#js-form-moderator-action div[data-formset-prefix]').formset({
      animateForms: true
    });
  });
</script>
{% endblock %}
{% block content %}
  {% include 'moderator/__include/moderator_breadcrumb.html' %}
  <div class="container">
    <div class="row">
      <div class="page-top">
        <div class="col-md-12">
          <span class="page-top__title">Виды деятельности модератора {{ object }}</span>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        {% include 'moderator/__include/moderator_menu.html' %}
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="panel-content">
              {% if error or success %}
              <div class="col-md-12">
                {% if error %}
                <div class="alert alert-danger">
                  {{ error }}
                </div>
                {%  endif %}
                {% if success %}
                <div class="alert alert-success">
                  {{ success }}
                </div>
                {% endif %}
              </div>
              {% endif %}
              <form action="" role="form" class="form" id="js-form-moderator-action" method="post">
                {% csrf_token %}
                <div class="col-md-10">
                  <div data-formset-prefix="{{ formset.prefix }}">
                    {{ formset.management_form }}
                    <div data-formset-body>
                      {% for form in formset %}
                        <div data-formset-form>
                          <div style="position: relative;">
                            <br>
                            <a class="delete-row" href="javascript:void(0)" role="button" data-formset-delete-button>
                              <span class="glyphicon glyphicon-minus-sign"></span> удалить
                            </a>
                          </div>
                          {{ form.id }}
                          <div class="hidden">{{ form.DELETE }}</div>
                          {{ form.moderator }}
                          <div class="form-group">
                            <div class="col-md-6">
                              {{ form.name.label_tag }}
                              {{ form.name }}
                              {{ form.name.errors }}
                            </div>
                            <div class="col-md-5">
                              {{ form.cost.label_tag }}
                              {{ form.cost }}
                              {{ form.cost.errorss }}
                            </div>
                            <div class="clearfix"></div>
                          </div>
                        </div>
                      {% endfor %}
                    </div>
                    <script type="form-template" data-formset-empty-form>
                      <div data-formset-form>
                        <div style="position: relative;">
                          <br>
                          <a class="delete-row" href="javascript:void(0)" role="button" data-formset-delete-button>
                            <span class="glyphicon glyphicon-minus-sign"></span> удалить
                          </a>
                        </div>
                        {{ formset.empty_form.id }}
                        <div class="hidden">{{ form.DELETE }}</div>
                        {{ formset.empty_form.moderator }}
                        <div class="form-group">
                          <div class="col-md-6">
                            {{ formset.empty_form.name.label_tag }}
                            {{ formset.empty_form.name }}
                            {{ formset.empty_form.name.errors }}
                          </div>
                          <div class="col-md-5">
                            {{ formset.empty_form.cost.label_tag }}
                            {{ formset.empty_form.cost }}
                            {{ formset.empty_form.cost.errorss }}
                          </div>
                          <div class="clearfix"></div>
                        </div>
                      </div>
                    </script>
                    <a class="add-row" href="javascript:void(0)" role="button" data-formset-add>
                      <span class="glyphicon glyphicon-plus-sign"></span> добавить ещё
                    </a>
                  </div>
                  <input type="submit" value="Сохранить" class="btn btn-save">
                </div>
                <div class="clearfix"></div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
