{% extends 'cabinet/cabinet_base.html' %}
{% block viewport %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}
{% block title %}Редактирование отзыва | {{ block.super }}{% endblock %}
{% block content %}
  <div class="breadcrumb-container">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ol class="breadcrumb">
            <li><a href="{% url 'dashboard:index' %}">Рабочий стол</a></li>
            <li><a href="{% url 'moderator:review-list' %}">Список отзывов</a></li>
            <li class="active">Редактирование отзыва</li>
          </ol>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="page-top">
        <div class="col-md-12">
          <span class="page-top__title">Редактирование отзыва {{ object.name }}</span>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="panel-content">
              {% if form.is_bound and not form.is_valid %}
              <div class="col-md-12">
                <div class="alert alert-danger">
                  Проверьте правильность ввода данных
                </div>
              </div>
              <div class="clearfix"></div>
              {% endif %}
<!--               {% if error %}
              <div class="col-md-12">
                <div class="alert alert-danger">
                  {{ error }}
                </div>
              </div>
              <div class="clearfix"></div>
              {% endif %} -->
              <form action="" role="form" class="form" id="js-form-review-update" method="post">
              {% csrf_token %}
                <div class="col-md-4">
                  {{ form.moderator }}
                  <div class="form-group">
                    {{ form.mail.label_tag }}
                    {{ form.mail }}
                    {{ form.mail.errors }}
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    {{ form.name.label_tag }}
                    {{ form.name }}
                    {{ form.name.errors }}
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    {{ form.rating.label_tag }}
                    {{ form.rating }}
                    {{ form.rating.errors }}
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12">
                  <div class="form-group">
                    {{ form.text.label_tag }}
                    {{ form.text }}
                    {{ form.text.errors }}
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-6">
                  <button type="submit" class="btn btn-save">Сохранить изменения</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
{% endblock %}
